@-webkit-keyframes flip {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

@keyframes flip {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.coach-meddile-section {
  margin-top: 0;
}

.coach-meddile-section .coach-bg {
  background-image: url(../images/workout/banner-coach.jpg) !important;
  padding: 0 30px;
  height: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.coach-meddile-section .coach-bg::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #002186;
  background: radial-gradient(circle, rgba(0, 33, 134, 0) 0%, rgba(0, 24, 98, 0.5) 100%);
}

.coach-meddile-section .coach-bg::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 211px;
  display: block;
  background-image: url(../images/workout/coache-shape.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.coach-meddile-section .coach-bg .coach-content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 150px 0 30px 0;
}

.coach-meddile-section .coach-bg .coach-content .coach-caption {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0px;
}

.coach-meddile-section .coach-bg .coach-content .coach-caption h1 {
  margin: 0;
  font-size: 56px;
  line-height: 68px;
  font-weight: 800;
  text-shadow: 2px 2px #000000;
  padding: 0;
  text-transform: uppercase;
}

.coach-meddile-section .coach-bg .coach-content .coach-caption h3 {
  font-size: 54px;
  line-height: 66px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  margin: 0;
  text-shadow: 2px 2px #000000;
  text-transform: uppercase;
}

.coach-meddile-section .coach-bg .coach-content .coach-caption .border-line {
  margin-top: 10px;
  width: 30px;
  height: 6px;
  text-shadow: 2px 2px #000000;
}

.coach-meddile-section .coach-bg .coach-content .coach-player {
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.coach-meddile-section .coach-bg .coach-content .coach-player .coach-player-img {
  height: auto;
  width: 100%;
  max-width: 1000px;
}

.coach-meddile-section .coach-bg .coach-content .coach-player .coach-player-img img {
  width: 100%;
}

.coach-meddile-section .coach-bg .coach-content .logo-lionheart {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
  z-index: 100;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation-name: flip;
          animation-name: flip;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.coach-meddile-section .lionherat-wrold-section {
  padding: 80px 0;
  background-image: url(../images/workout/bg-introduce.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.coach-meddile-section .lionherat-wrold-section:before {
  content: '';
  left: 0;
  top: 0;
  position: absolute;
  background-color: rgba(12, 15, 32, 0.92);
  height: 100%;
  width: 100%;
  display: block;
}

.coach-meddile-section .lionherat-wrold-section .lionherat-wrold-heading {
  text-align: center;
  margin-bottom: 40px;
}

.coach-meddile-section .lionherat-wrold-section .lionherat-wrold-heading h3 {
  font-size: 30px;
  color: #FFFFFF;
  line-height: 48px;
  font-weight: 700;
  margin: 0px;
}

.coach-meddile-section .lionherat-wrold-section .lionherat-wrold-heading h1 {
  font-size: 46px;
  color: white;
  font-weight: 800;
  -webkit-text-stroke-width: 2px;
  line-height: 57px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  -webkit-text-fill-color: rgba(255, 255, 255, 0) !important;
  -webkit-text-stroke-color: white !important;
  margin: 0;
}

.coach-meddile-section .lionherat-wrold-section .lionherat-wrold-heading .border-line {
  margin-top: 10px;
  width: 30px;
  height: 6px;
  text-shadow: 2px 2px #000000;
  background-color: #FCB414;
}

.coach-meddile-section .lionherat-wrold-section .lionherat-wrold-content {
  margin-bottom: 50px;
}

.coach-meddile-section .lionherat-wrold-section .lionherat-wrold-content h3 {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 38px;
  font-weight: 600;
  margin-bottom: 40px;
}

.coach-meddile-section .lionherat-wrold-section .lionherat-wrold-content h3 span {
  color: #FCB414;
}

.coach-meddile-section .lionherat-wrold-section .lionherat-wrold-content p {
  font-size: 22px;
  line-height: 38px;
  color: #ffffff;
  padding-left: 30px;
  border-left: 3px solid #FCB414;
}

.coach-meddile-section .lionherat-wrold-section .all-right-reserved {
  height: 80px;
}

.coach-meddile-section .lionherat-wrold-section .all-right-reserved p {
  font-size: 18px;
  line-height: 38px;
  color: #ffffff;
  text-align: center;
  font-weight: 300;
}

.coach-meddile-section .coach-common-section {
  padding: 80px 0 58px 0;
  position: relative;
}

.coach-meddile-section .coach-common-section::after {
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: block;
  background-color: #ffffff;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.coach-meddile-section .coach-common-section::before {
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  -webkit-filter: drop-shadow(2px 4px 6px black);
          filter: drop-shadow(2px 4px 6px black);
}

.coach-meddile-section .coach-common-section .coach-common-inner {
  z-index: 4;
  position: relative;
}

.coach-meddile-section .coach-common-section .coach-info {
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.coach-meddile-section .coach-common-section .coach-info .coach-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 40px;
}

.coach-meddile-section .coach-common-section .coach-info .coach-profile .coach-img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  overflow: hidden;
}

.coach-meddile-section .coach-common-section .coach-info .coach-profile .pl-0 {
  padding-left: 0 !important;
}

.coach-meddile-section .coach-common-section .coach-info .coach-profile .coach-content {
  padding-left: 30px;
}

.coach-meddile-section .coach-common-section .coach-info .coach-profile .coach-content h3 {
  font-size: 34px;
  line-height: 42px;
  color: #FCB414;
  font-weight: 800;
  letter-spacing: 2px;
  margin: 0;
  text-shadow: 2px 2px #000000;
}

.coach-meddile-section .coach-common-section .coach-info .coach-profile .coach-content p {
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin: 0;
  text-shadow: 2px 2px #000000;
  font-weight: 600;
}

.coach-meddile-section .coach-common-section .coach-info .coach-detail {
  margin-bottom: 40px;
}

.coach-meddile-section .coach-common-section .coach-info .coach-detail p {
  font-size: 22px;
  line-height: 30px;
  color: #FCB414;
  font-weight: 700;
  margin: 0;
  letter-spacing: 0.4px;
  text-shadow: 2px 2px #000000;
}

.coach-meddile-section .coach-common-section .coach-info .coach-detail p span {
  color: #ffffff;
  margin: 0;
  text-shadow: 2px 2px #000000;
  margin-right: 10px;
}

.coach-meddile-section .coach-common-section .coach-info .coach-descrption p {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 28px;
  text-shadow: 2px 2px #000000;
  font-weight: 500;
  margin-bottom: 40px;
}

.coach-meddile-section .coach-common-section .coach-live {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 600px;
}

.coach-meddile-section .coach-common-section .coach-live .coach-live-inner img {
  width: 100%;
}

.coach-meddile-section .coach-common-section .coach-live .two-profile {
  position: relative;
  width: 100%;
  bottom: 30px;
}

.coach-meddile-section .coach-common-section .coach-live .two-profile .left-girl {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.coach-meddile-section .coach-common-section .coach-live .two-profile .left-girl img {
  width: 100%;
}

.coach-meddile-section .coach-common-section .coach-live .two-profile .right-boy {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
}

.coach-meddile-section .coach-common-section .coach-live .two-profile .right-boy img {
  width: 100%;
}

.coach-meddile-section .coach-one-section::after {
  background-image: url(../images/workout/bg-coach-1.jpg);
}

.coach-meddile-section .coach-one-section::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.coach-meddile-section .coach-two-section::after {
  background-image: url(../images/workout/bg-coach-2.jpg);
}

.coach-meddile-section .coach-two-section::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.coach-meddile-section .coach-three-section {
  overflow: hidden;
}

.coach-meddile-section .coach-three-section::after {
  background-image: url(../images/workout/bg-coach-3.jpg);
}

.coach-meddile-section .coach-three-section::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.coach-meddile-section .coach-four-section::after {
  background-image: url(../images/workout/bg-coach-4.jpg);
}

.coach-meddile-section .coach-four-section::before {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-filter: none;
          filter: none;
}

.coach-meddile-section .coach-five-section::after {
  background-image: url(../images/workout/bg-coach-5.jpg);
}

.coach-meddile-section .coach-five-section::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.coach-meddile-section .coach-six-section::after {
  background-image: url(../images/workout/bg-coach-6.jpg);
}

.coach-meddile-section .coach-six-section::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.coach-meddile-section .coach-six-section .coach-live .m750 {
  max-width: 800px;
}

.coach-meddile-section .coach-seven-section::after {
  background-image: url(../images/workout/bg-coach-7.jpg);
}

.coach-meddile-section .coach-seven-section::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.coach-meddile-section .coach-eight-section::after {
  background-image: url(../images/workout/bg-caoch-8.jpg);
}

.coach-meddile-section .coach-eight-section::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.coach-meddile-section .coach-eight-section .coach-live {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 600px;
}

.coach-meddile-section .coach-eight-section .coach-live .m650 {
  max-width: 650px;
}

.coach-meddile-section .coach-nine-section::after {
  background-image: url(../images/workout/bg-coach-9.jpg);
}

.coach-meddile-section .coach-nine-section::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.coach-meddile-section .coach-ten-section::after {
  background-image: url(../images/workout/bg-coach-10.jpg);
}

.coach-meddile-section .coach-ten-section::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.coach-meddile-section .coach-eleven-section::after {
  background-image: url(../images/workout/bg-coach-11.jpg);
}

.coach-meddile-section .coach-eleven-section::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.coach-meddile-section .coach-twelve-section::after {
  background-image: url(../images/workout/bg-coach-12.jpg);
}

.coach-meddile-section .coach-twelve-section::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.coach-meddile-section .coach-therteen-section::after {
  background-image: url(../images/workout/bg-coach-13.jpg);
}

.coach-meddile-section .coach-therteen-section::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.coach-meddile-section .coach-fourteen-section::after {
  background-image: url(../images/workout/bg-coach-14.jpg);
}

.coach-meddile-section .coach-fourteen-section::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.coach-meddile-section .parent-login-section {
  height: 750px;
  background-color: #ffffff;
  background-image: url(../images/workout/parent-login.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: left bottom;
}

.coach-meddile-section .parent-login-section .login-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 750px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 100px;
  width: 100%;
}

.coach-meddile-section .parent-login-section .login-box h3 {
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  font-weight: 800;
  margin-bottom: 30px;
}

.coach-meddile-section .parent-login-section .login-box .form-group {
  width: 100%;
}

.coach-meddile-section .parent-login-section .login-box .form-group .form-control {
  height: 50px;
  border-radius: 4px !important;
  font-weight: 500;
  color: #000000;
}

.coach-meddile-section .parent-login-section .login-box .form-group .form-control:focus {
  border-color: #000000;
}

.coach-meddile-section .parent-login-section .login-box .forgot-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.coach-meddile-section .parent-login-section .login-box .forgot-password .custom-checkbox .custom-control-input {
  position: relative;
  top: 2px;
}

.coach-meddile-section .parent-login-section .login-box .forgot-password .custom-checkbox .custom-control-label {
  padding-left: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.coach-meddile-section .parent-login-section .login-box .forgot-password .forgot-link {
  color: #0B1337;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.coach-meddile-section .parent-login-section .login-box .login-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.coach-meddile-section .parent-login-section .login-box .login-buttons .btn-link {
  color: #2969CD;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  width: 100%;
  margin-bottom: 15px;
}

.coach-meddile-section .parent-login-section .login-box .login-buttons .btn-login {
  background-color: #0B1337;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  height: 50px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .coach-meddile-section .coach-bg {
    padding: 0 0;
  }
  .coach-meddile-section .coach-bg:after {
    background-size: 140%;
  }
  .coach-meddile-section .coach-bg .coach-content {
    padding: 250px 0 20px 0;
  }
  .coach-meddile-section .coach-bg .coach-content .coach-caption h3 {
    font-size: 30px;
    line-height: 36px;
  }
  .coach-meddile-section .coach-bg .coach-content .coach-caption h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .coach-meddile-section .coach-bg .coach-content .logo-lionheart img {
    width: 100px;
    height: auto;
  }
  .coach-meddile-section .lionherat-wrold-section {
    padding: 50px 0;
  }
  .coach-meddile-section .lionherat-wrold-section .lionherat-wrold-heading h3 {
    font-size: 30px;
    line-height: 40px;
    margin: 0;
  }
  .coach-meddile-section .lionherat-wrold-section .lionherat-wrold-heading h1 {
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0.5px;
    margin: 0 0 10px 0;
  }
  .coach-meddile-section .lionherat-wrold-section .lionherat-wrold-content h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
  }
  .coach-meddile-section .lionherat-wrold-section .lionherat-wrold-content p {
    padding-left: 20px;
    font-size: 18px;
    line-height: 28px;
  }
  .coach-meddile-section .lionherat-wrold-section .all-right-reserved p {
    font-size: 16px;
    line-height: 26px;
  }
  .coach-meddile-section .coach-common-section {
    padding: 60px 0;
  }
  .coach-meddile-section .coach-common-section .coach-info {
    padding: 0;
  }
  .coach-meddile-section .coach-common-section .coach-info .coach-profile {
    margin-bottom: 30px;
  }
  .coach-meddile-section .coach-common-section .coach-info .coach-profile .coach-img {
    height: 60px;
    width: 60px;
  }
  .coach-meddile-section .coach-common-section .coach-info .coach-profile .coach-img img {
    width: 100%;
  }
  .coach-meddile-section .coach-common-section .coach-info .coach-profile .coach-content {
    padding-left: 20px;
  }
  .coach-meddile-section .coach-common-section .coach-info .coach-profile .coach-content h3 {
    font-size: 22px;
    line-height: 28px;
  }
  .coach-meddile-section .coach-common-section .coach-info .coach-profile .coach-content p {
    font-size: 18px;
    line-height: 20px;
  }
  .coach-meddile-section .coach-common-section .coach-info .coach-detail p {
    font-size: 18px;
    line-height: 28px;
  }
  .coach-meddile-section .coach-common-section .coach-info .coach-descrption p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  .coach-meddile-section .coach-common-section .coach-live {
    margin: 20px 0;
    min-height: unset;
  }
  .coach-meddile-section .coach-common-section .coach-live .coach-live-inner img {
    width: 100%;
  }
  .coach-meddile-section .coach-common-section .coach-live .two-profile .left-girl {
    height: 70px;
    width: 70px;
  }
  .coach-meddile-section .coach-common-section .coach-live .two-profile .right-boy {
    height: 70px;
    width: 70px;
  }
  .coach-meddile-section .coach-eight-section .coach-live {
    min-height: unset;
  }
  .coach-meddile-section .odd-section .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .coach-meddile-section .parent-login-section {
    padding-top: 60px;
    padding-bottom: 300px;
    height: unset;
    background-size: 100%;
    background-position: bottom;
  }
  .coach-meddile-section .parent-login-section .login-box {
    height: unset;
    padding-left: 0;
  }
  .coach-meddile-section .coach-one-section .coach-live .coach-live-inner img, .coach-meddile-section .coach-two-section .coach-live .coach-live-inner img, .coach-meddile-section .coach-four-section .coach-live .coach-live-inner img, .coach-meddile-section .coach-nine-section .coach-live .coach-live-inner img, .coach-meddile-section .coach-ten-section .coach-live .coach-live-inner img {
    max-height: 400px;
    width: auto;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .parent-login-section {
    padding-top: 60px;
    padding-bottom: 380px !important;
    height: unset;
  }
  .parent-login-section .login-box {
    height: unset;
    padding-left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .coach-meddile-section .coach-bg {
    padding: 0 0;
  }
  .coach-meddile-section .coach-bg .coach-content {
    padding: 250px 0 40px;
  }
  .coach-meddile-section .coach-bg .coach-content .coach-caption h1 {
    margin-top: 0 !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .coach-meddile-section .parent-login-section {
    padding-top: 60px;
    padding-bottom: 430px;
    height: unset;
    background-size: 100%;
    background-position: bottom center;
  }
  .coach-meddile-section .parent-login-section .login-box {
    height: unset;
    padding-left: 0;
    padding: 0 100px;
  }
  .coach-meddile-section .lionherat-wrold-section .lionherat-wrold-heading h1 {
    font-size: 36px;
    line-height: 46px;
  }
  .coach-meddile-section .coach-common-section {
    padding: 60px 0;
  }
  .coach-meddile-section .odd-section .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .coach-meddile-section .coach-common-section .coach-live img {
    width: 100%;
  }
  .coach-meddile-section .parent-login-section {
    height: unset;
  }
  .coach-meddile-section .parent-login-section .login-box {
    height: unset;
    padding: 80px 50px !important;
  }
  .coach-six-section .coach-live .m750 {
    max-width: 400px;
  }
}

@media (min-width: 1440px) and (max-width: 1920px) {
  .coach-meddile-section .coach-bg::after {
    height: 240px;
    background-position: top center;
  }
  .coach-meddile-section .parent-login-section {
    height: unset;
    background-size: 50%;
    background-position: left bottom;
  }
  .coach-meddile-section .parent-login-section .login-box {
    height: unset;
    padding: 80px 50px !important;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .coach-meddile-section .parent-login-section {
    height: unset;
    background-size: 50%;
    background-position: left bottom;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .coach-meddile-section .parent-login-section .login-box {
    height: unset;
    padding: 80px 50px !important;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .coach-meddile-section .odd-section .row {
    display: block;
  }
}
/*# sourceMappingURL=coaches.css.map */