
@keyframes flip {
    from {
        transform: rotateY(0deg);
        transition: all 0.3s;
    }

   
    to {
        transform: rotateY(360deg);
        transition: all 0.3s;
    }
}



.coach-meddile-section{
    margin-top: 0;
    .coach-bg {
        background-image: url(../images/workout/banner-coach.jpg) !important;
        padding: 0 30px;
        height: 100%;
        min-height: 100vh;
        background-attachment: fixed;
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: block;
            background: rgb(0,33,134);
            background: radial-gradient(circle, rgba(0,33,134,0) 0%, rgba(0,24,98,0.5) 100%);
        }

        &::after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 100%;
            height: 211px;
            display: block;
            background-image: url(../images/workout/coache-shape.svg);
            background-position: bottom center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .coach-content {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding:  150px 0 30px 0;

                .coach-caption{
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin-bottom: 0px;
                    h1 {
                        margin: 0;
                        font-size: 56px;
                        line-height: 68px;
                        font-weight: 800;
                        text-shadow: 2px 2px #000000;
                        padding: 0;
                        text-transform: uppercase;
                    }
                    h3 {
                        font-size: 54px;
                        line-height: 66px;
                        color: #ffffff;
                        font-weight: 500;
                        text-align: center;
                        margin: 0;
                        text-shadow: 2px 2px #000000;
                        text-transform: uppercase;
                    }
                    .border-line{
                        margin-top: 10px;
                        width: 30px;
                        height: 6px;
                        text-shadow: 2px 2px #000000;
                    }
                }

                .coach-player {
                    height: auto;
                    margin: 0 auto;
                    width: 100%;
                    position: relative;
                    z-index: 99;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    .coach-player-img{
                        height: auto;
                        width: 100%;
                        max-width: 1000px;
                        img {
                            width: 100%;
                        }
                    }
                }

                .logo-lionheart{
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    width: 100%;
                    display: block;
                    text-align: center;
                    z-index: 100;
                    transform-style: preserve-3d;
                    animation-name: flip;
                    animation-duration: 6s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear; 
                }
        }
    }

    .lionherat-wrold-section {
        padding: 80px 0;
        background-image: url(../images/workout/bg-introduce.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        &:before {
            content: '';
            left: 0;
            top: 0;
            position: absolute;
            background-color: rgba(12, 15, 32,0.92);
            height: 100%;
            width: 100%;
            display: block;
        }

        .lionherat-wrold-heading{
            text-align: center;
            margin-bottom: 40px;
            h3 {
                font-size: 30px;
                color: #FFFFFF;
                line-height: 48px;
                font-weight: 700;
                margin: 0px;
            }

            h1 {
                font-size: 46px;
                color: rgb(255, 255, 255);
                font-weight: 800;
                -webkit-text-stroke-width: 2px;
                line-height: 57px;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                -webkit-text-fill-color: rgba(255, 255, 255, 0) !important;
                -webkit-text-stroke-color: rgb(255, 255, 255) !important;
                margin: 0;
            }

            .border-line {
                margin-top: 10px;
                width: 30px;
                height: 6px;
                text-shadow: 2px 2px #000000;
                background-color: #FCB414;
            }
        }

        .lionherat-wrold-content{
            margin-bottom: 50px;
            h3 {
                color: #FFFFFF;
                font-size: 22px;
                line-height: 38px;
                font-weight: 600;
                margin-bottom: 40px;
                span {
                    color: #FCB414;
                }
            }

            p {
                font-size: 22px;
                line-height: 38px;
                color: #ffffff;
                padding-left: 30px;
                border-left: 3px solid #FCB414;
            }

           
        }
        .all-right-reserved{
            height: 80px;

            p {
                font-size: 18px;
                line-height: 38px;
                color: #ffffff;
                text-align: center;
                font-weight: 300;
            }
        }
    }


    .coach-common-section{
        padding: 80px 0 58px 0;
        position: relative;
        &::after {
                content: '';
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                display: block;
                background-color: #ffffff;
                position: absolute;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;   
                z-index: 0;
        }

        &::before {
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            display: block;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 2;
            filter: drop-shadow(2px 4px 6px black);
        }
    
        .coach-common-inner {
            z-index: 4;
            position: relative;
        }
        .coach-info {
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            
        
        .coach-profile {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            margin-bottom: 40px;
            .coach-img{
                height: 100px;
                width: 100px;
                border-radius: 100%;
                overflow: hidden;
            }

            .pl-0{
                padding-left: 0 !important;
            }
            .coach-content{
                padding-left: 30px;
                h3 {
                    font-size: 34px;
                    line-height: 42px;
                    color: #FCB414;
                    font-weight: 800;
                    letter-spacing: 2px;
                    margin: 0;
                    text-shadow: 2px 2px #000000;
                }
                p {
                    font-size: 22px;
                    line-height: 27px;
                    color: #ffffff;
                    margin: 0;
                    text-shadow: 2px 2px #000000;
                    font-weight: 600;
                }
            }
        }

        .coach-detail {
            margin-bottom: 40px;
            p  {
                font-size: 22px;
                line-height: 30px;
                color: #FCB414;
                font-weight: 700;
                margin: 0;
                letter-spacing: 0.4px;
                text-shadow: 2px 2px #000000;
                span {
                    color: #ffffff;
                    margin: 0;
                    text-shadow: 2px 2px #000000;
                    margin-right: 10px;
                }
            }
        }

        .coach-descrption{
            p {
                color: #FFFFFF;
                font-size: 18px;
                line-height: 28px;
                text-shadow: 2px 2px #000000;
                font-weight: 500;
                margin-bottom: 40px;
            }
        }

        }

        .coach-live{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            min-height: 600px;
            .coach-live-inner {
                img {
                    width: 100%;
                }
            }
            
            .two-profile{
                position: relative;
                width: 100%;
                bottom: 30px;
                .left-girl {
                    height: 100px;
                    width: 100px;
                    border-radius: 100%;
                    overflow: hidden;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    img {
                        width: 100%;
                    }
                }
                .right-boy {
                    height: 100px;
                    width: 100px;
                    border-radius: 100%;
                    overflow: hidden;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    img {
                        width: 100%;
                    }
                }
            }
        }

       
    

    }

    .coach-one-section{
        &::after {
            background-image: url(../images/workout/bg-coach-1.jpg);
        }

        &::before {
            background-color: rgba(0, 0, 0, 0.4); 
        }
    }

    .coach-two-section{
        &::after {
            background-image: url(../images/workout/bg-coach-2.jpg);
        }
        &::before {
            background-color: rgba(0, 0, 0, 0.5); 
        }
    }

    .coach-three-section{
        overflow: hidden;
        &::after {
            background-image: url(../images/workout/bg-coach-3.jpg);
        }
        &::before {
            background-color: rgba(0, 0, 0, 0.4); 
        }
    }

    .coach-four-section{
        &::after {
            background-image: url(../images/workout/bg-coach-4.jpg);
        }
        &::before {
            background-color: rgba(0, 0, 0, 0.4);
            filter: none;
        }
    }

    .coach-five-section{
        &::after {
            background-image: url(../images/workout/bg-coach-5.jpg);
        }
        &::before {
            background-color: rgba(0, 0, 0, 0.4);
            // filter: none;
        }
    }

    .coach-six-section{
        &::after {
            background-image: url(../images/workout/bg-coach-6.jpg);
        }
        &::before {
            background-color: rgba(0, 0, 0, 0.4);
            // filter: none;
        }
            .coach-live {
                .m750 {
                    max-width: 800px;
                }
            }
        }

    
    .coach-seven-section{
            &::after {
                background-image: url(../images/workout/bg-coach-7.jpg);
            }
            &::before {
                background-color: rgba(0, 0, 0, 0.4);
                // filter: none;
            }
    
    }

    .coach-eight-section{
        &::after {
            background-image: url(../images/workout/bg-caoch-8.jpg);
        }
        &::before {
            background-color: rgba(0, 0, 0, 0.4);
            // filter: none;
        }

        .coach-live{
            align-items: flex-end;
            justify-content: center;
            min-height: 600px;
            .m650{
                max-width: 650px;
            }
        }

    }

    .coach-nine-section{
        &::after {
            background-image: url(../images/workout/bg-coach-9.jpg);
        }
        &::before {
            background-color: rgba(0, 0, 0, 0.4);
            // filter: none;
        }
    }

    .coach-ten-section{
        &::after {
            background-image: url(../images/workout/bg-coach-10.jpg);
        }
        &::before {
            background-color: rgba(0, 0, 0, 0.4);
            // filter: none;
        }
    }


    .coach-eleven-section{
        &::after {
            background-image: url(../images/workout/bg-coach-11.jpg);
        }
        &::before {
            background-color: rgba(0, 0, 0, 0.4);
            // filter: none;
        }
    }


    .coach-twelve-section{
        &::after {
            background-image: url(../images/workout/bg-coach-12.jpg);
        }
        &::before {
            background-color: rgba(0, 0, 0, 0.4);
            // filter: none;
        }
    }


    .coach-therteen-section{
        &::after {
            background-image: url(../images/workout/bg-coach-13.jpg);
        }
        &::before {
            background-color: rgba(0, 0, 0, 0.4);
            // filter: none;
        }
    }

    .coach-fourteen-section{
        &::after {
            background-image: url(../images/workout/bg-coach-14.jpg);
        }
        &::before {
            background-color: rgba(0, 0, 0, 0.4);
            // filter: none;
        }
    }

    .parent-login-section{
        height: 750px;
        background-color: #ffffff;
        background-image: url(../images/workout/parent-login.jpg);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: left bottom;

        .login-box{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 750px;
                flex-direction: column;
                padding-left: 100px;
                width: 100%;
                h3 {
                    font-size: 32px;
                    line-height: 39px;
                    color: #000000;
                    font-weight: 800;
                    margin-bottom: 30px;
                }

                .form-group {
                    width: 100%;
                    .form-control {
                        height: 50px;
                        border-radius: 4px !important;
                        font-weight: 500;
                        color: #000000;
                        &:focus
                         {
                             border-color: #000000;
                         }
                    }
                }

                .forgot-password{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 30px;
                    .custom-checkbox{
                        .custom-control-input{
                            position: relative;
                            top: 2px;
                        }
                        .custom-control-label{
                            padding-left: 5px;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 19px;
                        }
                    }

                    .forgot-link {
                        color: #0B1337;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 19px;
                    }
                    
                }

                .login-buttons{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    .btn-link {
                        color: #2969CD;
                        font-size: 16px;
                        line-height: 19px;
                        font-weight: 600;
                        width: 100%;
                        margin-bottom: 15px;
                    }
                   .btn-login {
                       background-color: #0B1337;
                       color: #ffffff;
                       font-size: 16px;
                       line-height: 19px;
                       width: 100%;
                       height: 50px;
                       font-weight: 600;
                       display: flex;
                       align-items: center;
                       justify-content: center;
                   }
                    
                }
        }
    }

}


@media (max-width: 767px)  {

 

    .coach-meddile-section {
        .coach-bg{
                padding: 0 0;

                &:after {
                    background-size: 140%;
                }
                .coach-content{
                    padding: 250px 0 20px 0;
                .coach-caption{
                    h3 {
                        font-size: 30px;
                        line-height: 36px;
                    }
                    h1 {
                        font-size: 40px;
                        line-height: 50px;
                    }
                }

                .logo-lionheart{
                    img {
                        width: 100px;
                        height: auto;
                    }
                }
            }

            
        }

        .lionherat-wrold-section {
            padding: 50px 0;
            .lionherat-wrold-heading{
                h3 {
                    font-size: 30px;
                    line-height: 40px;
                    margin: 0;
                }
                h1 {
                    font-size: 40px;
                    line-height: 46px;
                    letter-spacing: 0.5px;
                    margin: 0 0 10px 0;
                }
            }

            .lionherat-wrold-content {
                h3 {
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 500;
                }

                p {
                    padding-left: 20px;
                    font-size: 18px;
                    line-height: 28px;
                }
            }

            .all-right-reserved{
                p {
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }

        .coach-common-section{
            padding: 60px 0;

            .coach-info{
                padding: 0;

                .coach-profile {
                    margin-bottom: 30px;
                    .coach-img{
                        height: 60px;
                        width: 60px;
                        img {
                            width: 100%;
                        }
                    }

                    .coach-content {
                        padding-left: 20px;
                        h3 {
                            font-size: 22px;
                            line-height: 28px;
                        }

                        p {
                            font-size: 18px;
                            line-height: 20px;
                        }
                    }

                   
                }

                .coach-detail{
                    p {
                        font-size: 18px;
                        line-height: 28px;
                    }
                }

                .coach-descrption{
                    p{
                            font-size: 16px;
                            line-height: 26px;
                            margin-bottom: 30px;
                    }
                }
            }

            .coach-live {
                margin:  20px 0;
                min-height: unset;
                .coach-live-inner{
                    img {
                        width: 100%;
                    }
                }

                .two-profile .left-girl {
                    height: 70px;
                    width: 70px;
                }
                .two-profile .right-boy {
                    height: 70px;
                    width: 70px;
                }
            }
        }

       .coach-eight-section .coach-live {
            min-height: unset;
        }

        .odd-section{

            .row {
                display: flex;
                flex-direction: column-reverse;
            }
        }

        .parent-login-section{ 
            padding-top: 60px;
            padding-bottom: 300px;
            height: unset;
            background-size: 100%;
            background-position: bottom;
             
             .login-box {
                 height: unset;
                 padding-left: 0;
             }
        }

        .coach-one-section, .coach-two-section, .coach-four-section, .coach-nine-section, .coach-ten-section {
            .coach-live{
                .coach-live-inner{
                    img {
                        max-height: 400px;
                        width: auto;
                    }
                }
            }
        }
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    .parent-login-section{ 
        padding-top: 60px;
        padding-bottom: 380px !important;
        height: unset;
         
         .login-box {
             height: unset;
             padding-left: 0;
         }
     }
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {

    .coach-meddile-section {
        .coach-bg{
            padding: 0 0;
            .coach-content{
                padding: 250px 0 40px;
            .coach-caption{
                h3 {
                   
                }

                h1 {
                   
                    margin-top: 0 !important;
                }
                }      
            }
        }
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .coach-meddile-section {
    .parent-login-section{ 
        padding-top: 60px ;
        padding-bottom: 430px;
        height: unset;
        background-size: 100%;
        background-position: bottom center;
         
         .login-box {
             height: unset;
             padding-left: 0;
             padding: 0 100px;
         }
     }

     .lionherat-wrold-section .lionherat-wrold-heading h1 {
         font-size: 36px;
         line-height: 46px;
     }

     .coach-common-section {
        padding: 60px 0;
     }

     .odd-section {
         .row {
             display: flex;
             flex-direction: column-reverse;
         }
     }
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
  

    .coach-meddile-section {
        .coach-common-section .coach-live  {
            img {
                width: 100%;
            }
        }

        .parent-login-section {
            height: unset;
        .login-box {
            height: unset;
            padding: 80px 50px !important;
        }
    }
    }

    .coach-six-section .coach-live .m750 {
        max-width: 400px;
    }
  }

@media (min-width: 1440px) and (max-width: 1920px) {

    .coach-meddile-section .coach-bg {
        &::after {
            height: 240px;
            background-position: top center;
        }
    }

    .coach-meddile-section {
        .parent-login-section{ 
            height: unset;
            background-size: 50%;
            background-position: left bottom;
             
             .login-box {
                 height: unset;
                 padding: 80px 50px !important;
             }
         }
    }
}



@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .coach-meddile-section{
        .parent-login-section{ 
            height: unset;
            background-size: 50%;
            background-position: left bottom;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
             .login-box {
                 height: unset;
                 padding: 80px 50px !important;
             }
         }
    }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .coach-meddile-section {
        .odd-section {
            .row {
                display: block;
            }
        }
    }
}
