@import url(https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp);
.cart-custom-box .thumb {
  background: transparent !important;
}

.btn-checkout {
  font-weight: 500;
}

.new-cart-container .list-comment {
  padding: 15px 10px;
  margin: 0;
  position: relative;
}

.new-cart-container .list-comment li {
  font-size: 14px;
  color: #727272;
  line-height: 24px;
  letter-spacing: 0.2px;
  padding: 5px 0 0 30px;
  margin: 0 0 5px 0;
  position: relative;
}

.new-cart-container .list-comment li::before {
  content: "";
  height: 8px;
  width: 8px;
  position: absolute;
  display: block;
  background-color: #FCB414;
  border-radius: 100%;
  left: 10px;
  top: 14px;
}

.like-button {
  position: absolute;
  top: 6px;
  right: 8px;
}

.like-button .favorite-span.show {
  display: block !important;
}

.like-button .favorite-span.show .like {
  display: block !important;
}

.like-button .like-btn {
  padding: 0;
  margin: 0;
  height: 30px;
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  outline: none;
}

.like-button .like-btn .no-like {
  color: #727272;
}

.like-button .like-btn .like {
  display: none;
  color: #D10000;
  font-family: 'Material Icons' !important;
}

.like-button .like-btn:hover .no-like {
  color: #D10000;
  font-family: 'Material Icons' !important;
}

.like-button.like-number-button {
  bottom: 20px;
  top: auto;
  right: 25px;
}

.like-button.like-number-button .like-btn {
  width: auto;
  padding: 2px 10px;
  background-color: #F2F2F2;
  border-radius: 100px;
  font-size: 14px;
}

.like-button.like-number-button .like-btn .no-like {
  color: #00134D;
  font-size: 20px;
}

.like-button.like-number-button .like-btn .like {
  font-size: 20px;
}

.like-button.like-number-button .like-btn .number {
  padding: 0 3px 0 5px;
  font-size: 12px;
  color: #898989;
  font-weight: 500;
}

.related-product-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.related-product-div .heading-product-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.related-product-div .heading-product-div h3 {
  font-weight: 700;
  font-size: 22px;
  color: #002186;
  letter-spacing: 0.28px;
  padding: 15px 0 15px 0;
  margin: 10px 0 10px 0;
  line-height: 30px;
  text-transform: uppercase;
}

.related-product-div .heading-product-div h3 .highlight-span {
  color: #F2A700;
}

.related-product-div .body-product-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.related-product-div .body-product-div .product-row-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -6px;
}

.related-product-div .body-product-div .product-row-div .product-col25 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  padding: 0 6px;
}

.related-product-div .body-product-div .product-row-div .card-product {
  border: 1px solid rgba(221, 221, 221, 0.5);
}

.related-product-div .body-product-div .product-row-div .card-product .top-thumb-div {
  margin: 0;
  position: relative;
  min-height: 322px;
  border-bottom: 1px solid #F0F2F3;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.related-product-div .body-product-div .product-row-div .card-product .top-thumb-div img.img-responsive {
  height: 322px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 18px 25px 20px 25px;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.related-product-div .body-product-div .product-row-div .card-product .top-thumb-div .quick-look-btn {
  position: absolute;
  bottom: -40px;
  left: 8px;
  -webkit-transition: bottom 0.8s;
  transition: bottom 0.8s;
}

.related-product-div .body-product-div .product-row-div .card-product .top-thumb-div .quick-look-btn .quick-btn {
  background: #F2F2F2;
  border-radius: 100px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  letter-spacing: -0.2px;
  padding: 5px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.related-product-div .body-product-div .product-row-div .card-product .top-thumb-div .quick-look-btn .quick-btn .material-icons {
  margin: 0 5px 0 0;
  font-size: 20px;
}

.related-product-div .body-product-div .product-row-div .card-product .product-content-div {
  padding: 20px 17px 20px 17px;
  margin: 0;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.related-product-div .body-product-div .product-row-div .card-product .product-content-div a.link {
  padding: 0;
  margin: 0 0 15px 0;
  font-weight: 600;
  font-size: 16px;
  color: #222222;
  letter-spacing: 0;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.related-product-div .body-product-div .product-row-div .card-product .product-content-div .price-div {
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 18px;
  color: #222222;
}

.related-product-div .body-product-div .product-row-div .card-product .product-content-div .price-div span.strike-span {
  font-weight: 400;
  color: #C6C6C6;
  text-decoration: line-through;
}

.related-product-div .body-product-div .product-row-div .card-product .product-content-div .offer-div {
  font-weight: 600;
  font-size: 14px;
  color: #D20000;
  padding: 0;
  margin: 0;
}

.related-product-div .body-product-div .product-row-div .card-product:hover .top-thumb-div img.img-responsive {
  padding: 0;
}

.related-product-div .body-product-div .product-row-div .card-product:hover .top-thumb-div .quick-look-btn {
  bottom: 8px;
}

.product-modal .modal-dialog {
  width: 985px;
}

.product-modal .modal-dialog .modal-content {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 6px !important;
}

.product-modal .modal-dialog .btn-round-custom {
  color: #727272;
  position: absolute;
  right: 15px;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 9;
}

.product-modal .modal-dialog .btn-round-custom:hover {
  background-color: transparent;
  color: #000;
}

.product-modal .product-detail-view {
  padding: 10px 0 0 0;
  margin: 0;
  position: relative;
}

.product-modal .product-detail-view .top-heading {
  padding: 0;
  margin: 0;
  position: relative;
}

.product-modal .product-detail-view .top-heading h3 {
  font-weight: 700;
  font-size: 24px;
  color: #1C1C1C;
  letter-spacing: 0;
  line-height: 46px;
  padding: 0px 0 0px 0;
  margin: 0px 0 10px 0;
  text-transform: uppercase;
}

.product-modal .product-detail-view .top-heading p {
  font-weight: 400;
  font-size: 36px;
  color: #000000;
  letter-spacing: 0;
  line-height: 46px;
  margin: 0 0 30px 0;
  padding: 0;
}

.product-modal .product-detail-view .price-div {
  font-weight: 600;
  font-size: 32px;
  color: #1C1C1C;
  letter-spacing: -0.53px;
  line-height: 32px;
  margin: 0 0 10px 0;
}

.product-modal .product-detail-view .price-div span.strike-span {
  font-size: 24px;
  letter-spacing: -0.4px;
  line-height: 32px;
  font-weight: 500;
  color: #C6C6C6;
  text-decoration: line-through;
}

.product-modal .product-detail-view .offer-div {
  font-weight: 600;
  font-size: 24px;
  color: #D20000;
  padding: 0;
  margin: 0;
  letter-spacing: -0.4px;
  line-height: 32px;
}

.product-modal .product-detail-view .list-inline-color-platter {
  display: block;
  margin: 30px 0 0 0;
}

.product-modal .product-detail-view .list-inline-color-platter .colorplatter {
  padding: 0;
  display: inline-block;
  margin: 0 0px 10px 0;
  min-width: 70px;
}

.product-modal .product-detail-view .list-inline-color-platter .colorplatter .color-parent {
  padding: 0;
  display: none;
}

.product-modal .product-detail-view .list-inline-color-platter .colorplatter .color-parent .color-radio {
  opacity: 0;
}

.product-modal .product-detail-view .list-inline-color-platter .colorplatter .color-show {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  padding: 0;
  margin: 0 0 5px 0;
  background-color: #623A1B;
  border-radius: 100px;
  height: 30px;
  width: 30px;
  position: relative;
  cursor: pointer;
}

.product-modal .product-detail-view .list-inline-color-platter .colorplatter .color-show::before {
  content: " ";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 36px;
  width: 36px;
  border-radius: 100%;
  padding: 0;
  position: absolute;
  z-index: 0;
  top: -3px;
  left: -3px;
  border: 1px solid #C6C6C6;
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.product-modal .product-detail-view .list-inline-color-platter .colorplatter span.textcolor {
  display: block;
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  margin: 7px 0 0 0;
  color: #3C454C;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

.product-modal .product-detail-view .list-inline-color-platter .colorplatter .check-tick {
  opacity: 0;
  width: 16px;
  padding: 1px 0 0 0;
}

.product-modal .product-detail-view .list-inline-color-platter .colorplatter.active .color-show::before {
  opacity: 1;
}

.product-modal .product-detail-view .list-inline-color-platter .colorplatter.active .selectcolor {
  background-color: #623A1B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border-radius: 100%;
  padding: 0px 2px 0 2px;
}

.product-modal .product-detail-view .list-inline-color-platter .colorplatter.active .selectcolor .check-tick {
  opacity: 1;
}

.product-modal .product-detail-view .list-inline-color-platter .colorplatter.active span.textcolor {
  opacity: 1;
  width: auto;
}

.product-modal .product-detail-view .list-inline-color-platter .colorplatter:hover span.textcolor {
  opacity: 1;
  width: auto;
}

.product-modal .product-detail-view .list-inline-color-platter .colorplatter.colorplatter1 .color-show {
  background-color: #44475A;
}

.product-modal .product-detail-view .list-inline-color-platter .colorplatter.colorplatter1.active .selectcolor {
  background-color: #44475A;
}

.product-modal .product-detail-view .list-inline-color-platter .colorplatter.colorplatter2 .color-show {
  background-color: #D64449;
}

.product-modal .product-detail-view .list-inline-color-platter .colorplatter.colorplatter2.active .selectcolor {
  background-color: #D64449;
}

.product-modal .product-detail-view .list-inline-color-platter .colorplatter.colorplatter3 .color-show {
  background-color: #03358E;
}

.product-modal .product-detail-view .list-inline-color-platter .colorplatter.colorplatter3.active .selectcolor {
  background-color: #03358E;
}

.product-modal .product-detail-view .list-inline-color-platter .colorplatter.colorplatter4 .color-show {
  background-color: #BA4C17;
}

.product-modal .product-detail-view .list-inline-color-platter .colorplatter.colorplatter4.active .selectcolor {
  background-color: #BA4C17;
}

.product-modal .product-detail-view .list-inline-color-platter .colorplatter.colorplatter5 .color-show {
  background-color: #FCB414;
}

.product-modal .product-detail-view .list-inline-color-platter .colorplatter.colorplatter5.active .selectcolor {
  background-color: #FCB414;
}

.product-modal .product-detail-view .dropdown-div {
  padding: 0 0px;
  margin: 20px 0 20px 0;
  position: relative;
}

.product-modal .product-detail-view .dropdown-div select.form-control {
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  border-radius: 0px !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 15px 20px !important;
  height: 56px;
  font-weight: 500;
  font-size: 18px;
  color: #2D2D2D;
  letter-spacing: -0.39px;
  text-align: left;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.product-modal .product-detail-view .dropdown-div span.arrow-span {
  position: absolute;
  top: 16px;
  right: 15px;
  color: #000000;
}

.product-modal .product-detail-view .btn-row-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.product-modal .product-detail-view .btn.btn-block.btn-blue {
  background-color: #00134D;
  height: 56px;
  width: 100%;
  border-radius: 0px;
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: -0.39px;
  text-align: center;
  text-transform: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.product-modal .product-detail-view .btn.btn-block.btn-blue:hover {
  background-color: #fdb414;
}

.product-modal .product-detail-view .center-div {
  padding: 0;
  margin: 0 auto 20px auto;
  text-align: center;
}

.product-modal .product-detail-view a.link-view {
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  letter-spacing: -0.3px;
  line-height: 32px;
  text-decoration: underline;
}

.product-modal .product-detail-view a.link-view:hover {
  color: #00134D;
}

@media screen and (max-width: 767px) {
  .product-modal .modal-dialog {
    width: calc(100% - 20px);
  }
  .related-product-div .body-product-div .product-row-div .product-col25 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin: 0 0 10px 0;
  }
  .vanilla-zoom .sidebar {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 80px !important;
            flex: 0 0 80px !important;
  }
  .vanilla-zoom .zoomed-image {
    height: 423px !important;
  }
  .vanilla-zoom .sidebar {
    max-height: 423px !important;
  }
  .vanilla-zoom .zoomed-image {
    display: block !important;
  }
  .vanilla-zoom {
    max-width: 100% !important;
  }
  .cart-box-div .cart-box .thumb img {
    margin: 0 auto;
    text-align: center;
    width: 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .product-modal .modal-dialog {
    width: calc(100% - 20px);
  }
  .related-product-div .heading-product-div h3 .highlight-span {
    display: block;
  }
  .related-product-div .body-product-div .product-row-div .product-col25 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    margin: 0 0 10px 0;
  }
  .related-product-div .body-product-div .product-row-div .card-product .top-thumb-div {
    min-height: 250px;
  }
  .related-product-div .body-product-div .product-row-div .card-product .top-thumb-div img.img-responsive {
    padding: 16px 15px 15px 15px;
    height: 250px;
  }
  .related-product-div .body-product-div .product-row-div .card-product .top-thumb-div .like-button {
    top: 5px;
    right: 4px;
  }
  .vanilla-zoom .sidebar {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 80px !important;
            flex: 0 0 80px !important;
  }
  .vanilla-zoom .zoomed-image {
    height: 423px !important;
  }
  .vanilla-zoom .sidebar {
    max-height: 423px !important;
  }
  .vanilla-zoom .zoomed-image {
    display: block !important;
  }
  .vanilla-zoom {
    max-width: 100% !important;
  }
}
/*# sourceMappingURL=common-style.css.map */