.header-div.love-project { margin: 0;padding:0 30px;background: url(../images/love-project.jpg) no-repeat center center fixed;height: 700px;background-size: cover;}

.love-project-section{margin: -200px 0 0 0; padding: 0; position: relative;}
.love-project-section .love-project-div {margin: 0 0 0 0;}

.love-project-row01{ background-color: #ff3be0; padding: 0 0 70px 0; }
.love-project-div .img-div-row { padding: 0; margin: 70px auto 70px auto; width: 70%;display: flex; align-items: center; justify-content: center; }
.love-project-div .img-div-row .col-33{ padding: 0; margin: 0; width: 33.33%; float: left; }
.love-project-div .img-div-row .col-33 .img-thumb{ padding: 0; margin: 0 auto; float: left;text-align: center;width: 100%; } 
.love-project-div .img-div-row .col-33 .img-thumb .img-lp{ padding: 0; margin: 0 auto; max-height: 100px;  } 
.love-project-div .img-div-row .col-33 .img-thumb .img-lp.img-lp3 { max-height: 110px !important; }
.love-project-div .content-div-lp{ padding: 0; margin: 0; }
.love-project-div .content-div-lp p{ padding: 0; margin: 0 0 20px 0;color: #fff!important; font-weight: 400!important; font-size: 21px!important; line-height: 36px !important;}
.love-project-div .btn-row-div{ padding: 0; margin: 50px auto 50px auto; width: 100%; text-align: center; }
.love-project-div .btn-row-div .btn-blue-block { margin: 0; padding: 0 50px; height: 50px; line-height: 50px; background: transparent; color: #fff; font-size: 14px; font-weight: 500; border: 1px solid #fff; border-radius: 0; display: inline-block; text-transform: uppercase; letter-spacing: 0.5px;     transition: all .3s ease-in-out;  }
.love-project-div .btn-row-div .btn-blue-block:hover { border: 1px solid #fff; background-color: #fff; color: #00134d; }
.faq-v-shape.faq-v-shape-lp{ background-image: url(../images/love-project-bg.png); }


@media only screen and (max-width: 767px){

    .header-div.love-project { background-attachment: scroll;    height: 400px;  }
    .love-project-section{ margin: -45px 0 0 0; }
    .header-div.love-project h1 { font-size: 28px;  }
    .love-project-div .img-div-row { margin: 0px auto 30px auto; width: 100%; display: block; }
    .love-project-div .img-div-row .col-33 { padding: 0 20px; margin: 0 0 20px 0; width: 100%; }
    .love-project-div .img-div-row .col-33:nth-child(2), .love-project-div .img-div-row .col-33:nth-child(3) { margin: 0 0 20px 0; width: 50%; }
    .love-project-div .content-div-lp p { font-size: 16px!important; line-height: 28px !important; }
    .love-project-row01 { padding: 30px 0 30px 0; margin: -5px 0 0 0; }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .header-div.love-project { background-attachment: scroll;    height: 400px;  }
    .love-project-section{ margin: -85px 0 0 0; }
    .header-div.love-project h1 { font-size: 28px;  }
    .love-project-div .img-div-row { margin: 0px auto 30px auto; width: 100%; display: block; }
    .love-project-div .content-div-lp p { font-size: 16px!important; line-height: 28px !important; }
    .love-project-row01 { padding: 0px 0 30px 0; margin: -50px 0 0 0; }

    

}

@media only screen and (min-width: 320px) and (max-width: 361px) {

}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    .header-div.love-project { background-attachment: scroll;    height: 400px;  }
    .love-project-section{ margin: -100px 0 0 0; }
    .header-div.love-project h1 { font-size: 28px;  }
    .love-project-div .img-div-row { margin: 0px auto 30px auto; width: 100%; display: block; }
    .love-project-div .content-div-lp p { font-size: 16px!important; line-height: 28px !important; }
    .love-project-row01 { padding: 0px 0 30px 0; margin: -50px 0 0 0; }

    

}

@media only screen and (min-width: 1025px) and (max-width: 1450px) {


}