
.vanilla-zoom {
    max-width: 700px;
    margin: 0 auto;
}
.vanilla-zoom img.img-responsive.small-preview {
    height: 187px;
    object-fit: cover;
}

.vanilla-zoom .zoomed-image{
    height: 550px;
    cursor: zoom-in;
}
.vanilla-zoom .sidebar {
    
    max-height: 550px;
    overflow-y: auto;
}
.slider-div {
    margin: 0;
    padding: 10px 0 10px 0;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container {
        padding: 50px 30px;
    }

    p {
        display: none;
    }
}


/* -- Demo ads -- */

#bsaHolder {
    margin-top: 25px;
}

@media (max-width: 1200px) {
    #bsaHolder{ display:none;}
}