.select2-container {
  border-radius: 0 !important;
  border: 0 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 50px !important;
  font-size: 18px;
  line-height: 48px !important;
  font-weight: 500;
  color: #000000;
  border-radius: 0 !important;
  border: 0 !important;
  padding-left: 15px !important;
}

.select2-dropdown--above {
  border: 1px solid #ffffff !important;
  border-bottom: none !important;
}

.select2-dropdown--below {
  border: 1px solid #ffffff !important;
  border-top: none !important;
}

.select2-container--default .select2-results__option {
  font-size: 16px;
  line-height: 20px;
  border-color: #0B1337  !important;
  border-radius: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background: #0B1337 !important;
  color: #fff;
  border-color: #0B1337 !important;
}

.select2-container--default .select2-selection--single {
  height: 50px !important;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #000000;
  border-radius: 0 !important;
  border: 0 !important;
}

.select2-container--default .select2-selection--single:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 50px !important;
  width: 30px !important;
}

.enroll-meddile-section {
  margin-top: 0;
}

.enroll-meddile-section .enroll-bg {
  background-image: url(../images/workout/banner-enroll.jpg) !important;
  padding: 0 30px;
  min-height: 470px;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.enroll-meddile-section .enroll-bg::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #1858be;
  background: -webkit-gradient(linear, left top, right top, from(rgba(24, 88, 190, 0.7)), to(rgba(0, 24, 98, 0.7)));
  background: linear-gradient(90deg, rgba(24, 88, 190, 0.7) 0%, rgba(0, 24, 98, 0.7) 100%);
}

.enroll-meddile-section .enroll-bg::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 211px;
  display: block;
  background-image: url(../images/workout/oval-workout.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.enroll-meddile-section .enroll-bg .enroll-content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 150px 0 80px 0;
}

.enroll-meddile-section .enroll-bg .enroll-content .enroll-caption {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 54px;
}

.enroll-meddile-section .enroll-bg .enroll-content .enroll-caption h1 {
  margin: 0;
  font-size: 56px;
  line-height: 68px;
  font-weight: 800;
  text-shadow: 2px 2px #000000;
  padding: 0;
  text-transform: uppercase;
}

.enroll-meddile-section .enroll-bg .enroll-content .enroll-caption h3 {
  font-size: 54px;
  line-height: 66px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  margin: 0;
  text-shadow: 2px 2px #000000;
  text-transform: uppercase;
}

.enroll-meddile-section .enroll-bg .enroll-content .enroll-caption .border-line {
  margin-top: 10px;
  width: 30px;
  height: 6px;
  text-shadow: 2px 2px #000000;
}

.enroll-meddile-section .enroll-bg .enroll-content .enroll-search {
  background-color: #FCB414;
  border-radius: 6px;
  width: 100%;
  min-height: 140px;
  z-index: 2;
  position: relative;
  padding: 30px 50px 20px 50px;
}

.enroll-meddile-section .enroll-bg .enroll-content .enroll-search .row-7 {
  margin: 0 -7px;
}

.enroll-meddile-section .enroll-bg .enroll-content .enroll-search .row-7 .pad-7 {
  padding: 0 7px;
}

.enroll-meddile-section .enroll-bg .enroll-content .enroll-search .form-group label {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}

.enroll-meddile-section .enroll-bg .enroll-content .enroll-search .form-group .form-control {
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #000000;
  border: 0 !important;
}

.enroll-meddile-section .enroll-bg .enroll-content .enroll-search .form-group .form-control:focus {
  outline: 0;
}

.enroll-meddile-section .enroll-bg .enroll-content .enroll-search .serach-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.enroll-meddile-section .enroll-bg .enroll-content .enroll-search .serach-left .form-group {
  width: 100%;
}

.enroll-meddile-section .enroll-bg .enroll-content .enroll-search .serach-left .or-text {
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.enroll-meddile-section .enroll-bg .enroll-content .enroll-search .serach-left .or-text p {
  margin-top: 30px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.enroll-meddile-section .enroll-bg .enroll-content .enroll-search .serach-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.enroll-meddile-section .enroll-bg .enroll-content .enroll-search .serach-right .form-group {
  width: 100%;
}

.enroll-meddile-section .enroll-bg .enroll-content .enroll-search .serach-right .btn-search {
  background-color: #0B1337;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  margin-left: 15px;
  border-radius: 0;
  width: calc(100% - 15px);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  outline: none !important;
}

.enroll-meddile-section .enroll-bg .enroll-content .enroll-search .serach-right .btn-search:hover {
  background-color: #00134d;
  border-color: #00134d;
  border-radius: 0;
  color: #ffffff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.enroll-meddile-section .search-lisitng {
  padding: 20px 0;
  background-color: #0C0F20;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box {
  margin-bottom: 20px;
  border-radius: 6px;
  min-height: 205px;
  overflow: hidden;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header {
  padding: 20px 30px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .profile {
  width: 105px;
  height: 105px;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .profile img {
  width: 100%;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content {
  padding-left: 15px;
  width: calc(100% - 105px);
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content h3 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  margin: 0 0 20px 0;
  color: #0B1337;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content h3 span {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.64);
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content .serach-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content .serach-left .search-feature {
  width: 100%;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content .serach-left .search-feature h3 {
  color: rgba(0, 0, 0, 0.64);
  font-size: 15px;
  line-height: 19px;
  margin: 0 0 6px 0;
  font-weight: 400;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content .serach-left .search-feature p {
  color: #0B1337;
  font-size: 15px;
  line-height: 19px;
  font-weight: 600;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content .serach-left .search-feature .serach-profile .profile-img {
  height: 42px;
  width: 42px;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content .serach-left .search-feature .serach-profile .profile-img img {
  width: 100%;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content .search-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content .search-right .search-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content .search-right .search-feature .serach-profile .profile-img {
  height: 42px;
  width: 42px;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content .search-right .search-feature .serach-profile .profile-img img {
  width: 100%;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content .search-right .search-feature .search-content {
  padding-left: 10px;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content .search-right .search-feature .search-content h3 {
  color: rgba(0, 0, 0, 0.64);
  font-size: 15px;
  line-height: 19px;
  margin: 0 0 6px 0;
  font-weight: 400;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content .search-right .search-feature .search-content p {
  color: #0B1337;
  font-size: 15px;
  line-height: 19px;
  font-weight: 600;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content .search-right .search-feature .search-content p span {
  font-weight: 400;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content .search-right .w40 {
  width: 50%;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content .search-right .w60 {
  width: 50%;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-footer {
  background-color: #F0F1F3;
  padding: 10px;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-footer .footer-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 20px;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-footer .footer-address img {
  width: 18px;
  height: 22px;
  margin-right: 10px;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-footer .footer-address p {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-footer .footer-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-footer .footer-button .btn-blue {
  background-color: #0B1337;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 0;
  padding: 0 20px;
  text-transform: unset;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-footer .footer-button .btn-blue:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #FCB414;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-footer .footer-button .btn-blue .btn-icon {
  margin-right: 5px;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-footer .footer-button .btn-blue .btn-icon img {
  width: 15px;
  height: auto;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-footer .footer-button .btn-blue-arrow {
  background-color: #2969CD;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 0;
  padding: 0 0 0 20px;
  text-transform: unset;
}

.enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-footer .footer-button .btn-blue-arrow .btn-arrow {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1E54A9;
  margin-left: 20px;
}

.enroll-meddile-section .search-lisitng .search-inner-div .start-own-class {
  margin-top: 100px;
  margin-bottom: 40px;
}

.enroll-meddile-section .search-lisitng .search-inner-div .start-own-class p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #ffffff;
}

.enroll-meddile-section .search-lisitng .search-inner-div .start-own-class p span {
  color: #FCB414;
  font-weight: 600;
}

.enroll-meddile-section .search-lisitng .search-inner-div .start-own-class .own-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0 0 0;
}

.enroll-meddile-section .search-lisitng .search-inner-div .start-own-class .own-class .btn-blue-transparent {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ffffff;
  background-color: #0C0F20;
  color: #ffffff;
  line-height: 26px;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  border-radius: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.enroll-meddile-section .search-lisitng .search-inner-div .start-own-class .own-class .btn-blue-transparent:hover {
  background-color: #ffffff;
  color: #0C0F20;
  font-weight: 500;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.enroll-meddile-section .parent-login-section {
  height: 750px;
  background-color: #ffffff;
  background-image: url(../images/workout/parent-login.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: left bottom;
}

.enroll-meddile-section .parent-login-section .login-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 750px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 100px;
  width: 100%;
}

.enroll-meddile-section .parent-login-section .login-box h3 {
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  font-weight: 800;
  margin-bottom: 30px;
}

.enroll-meddile-section .parent-login-section .login-box .form-group {
  width: 100%;
}

.enroll-meddile-section .parent-login-section .login-box .form-group .form-control {
  height: 50px;
  border-radius: 4px !important;
  font-weight: 500;
  color: #000000;
}

.enroll-meddile-section .parent-login-section .login-box .form-group .form-control:focus {
  border-color: #000000;
}

.enroll-meddile-section .parent-login-section .login-box .forgot-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.enroll-meddile-section .parent-login-section .login-box .forgot-password .custom-checkbox .custom-control-input {
  position: relative;
  top: 2px;
}

.enroll-meddile-section .parent-login-section .login-box .forgot-password .custom-checkbox .custom-control-label {
  padding-left: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.enroll-meddile-section .parent-login-section .login-box .forgot-password .forgot-link {
  color: #0B1337;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.enroll-meddile-section .parent-login-section .login-box .login-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.enroll-meddile-section .parent-login-section .login-box .login-buttons .btn-link {
  color: #2969CD;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  width: 100%;
  margin-bottom: 15px;
}

.enroll-meddile-section .parent-login-section .login-box .login-buttons .btn-login {
  background-color: #0B1337;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  height: 50px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .enroll-meddile-section .enroll-bg {
    padding: 0 0;
  }
  .enroll-meddile-section .enroll-bg .enroll-content {
    padding: 250px 0 80px;
  }
  .enroll-meddile-section .enroll-bg .enroll-content .enroll-caption h3 {
    font-size: 30px;
    line-height: 36px;
  }
  .enroll-meddile-section .enroll-bg .enroll-content .enroll-caption h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .enroll-meddile-section .enroll-bg .enroll-content .enroll-search {
    padding: 20px 20px;
  }
  .enroll-meddile-section .enroll-bg .enroll-content .enroll-search .serach-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .enroll-meddile-section .enroll-bg .enroll-content .enroll-search .serach-left .or-text p {
    margin: 10px 0;
  }
  .enroll-meddile-section .enroll-bg .enroll-content .enroll-search .serach-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .enroll-meddile-section .enroll-bg .enroll-content .enroll-search .serach-right .btn-search {
    margin-left: 0;
    width: 100%;
  }
  .enroll-meddile-section .search-lisitng {
    padding: 20px 0;
    background-color: #0C0F20;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header {
    padding: 10px 20px;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .profile {
    width: 70px;
    height: 70px;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .profile img {
    width: 100%;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content {
    padding-left: 10px;
    width: calc(100% - 70px);
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content h3 {
    font-size: 16px;
    line-height: 20px;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content h3 span {
    display: block;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content .serach-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content .search-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content .search-right .search-feature {
    width: 100%;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-footer .footer-address {
    margin-bottom: 15px;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-footer .footer-address p {
    font-size: 12px;
    line-height: 19px;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-footer .footer-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-footer .footer-button .btn {
    width: calc(50% - 10px);
    margin: 0 5px 5px 5px;
  }
  .enroll-meddile-section .parent-login-section {
    padding-top: 60px;
    padding-bottom: 300px;
    height: unset;
    background-size: 100%;
    background-position: bottom;
  }
  .enroll-meddile-section .parent-login-section .login-box {
    height: unset;
    padding-left: 0;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .parent-login-section {
    padding-top: 60px;
    padding-bottom: 380px !important;
    height: unset;
  }
  .parent-login-section .login-box {
    height: unset;
    padding-left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .enroll-meddile-section .enroll-bg {
    padding: 0 0;
  }
  .enroll-meddile-section .enroll-bg .enroll-content {
    padding: 250px 0 80px;
  }
  .enroll-meddile-section .enroll-bg .enroll-content .enroll-caption h1 {
    margin-top: 0 !important;
  }
  .enroll-meddile-section .enroll-bg .enroll-content .video-conatainer {
    min-height: unset;
  }
  .enroll-meddile-section .search-lisitng {
    padding: 20px 0;
    background-color: #0C0F20;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header {
    padding: 10px 20px;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .profile {
    width: 70px;
    height: 70px;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .profile img {
    width: 100%;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content {
    padding-left: 10px;
    width: calc(100% - 70px);
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content h3 {
    font-size: 16px;
    line-height: 20px;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content h3 span {
    display: inline-block;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content .serach-left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content .search-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-header .content .search-right .search-feature {
    width: 100%;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-footer .footer-address {
    margin-bottom: 15px;
    width: 100%;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-footer .footer-address p {
    font-size: 12px;
    line-height: 19px;
    text-align: left;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-footer .footer-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .enroll-meddile-section .search-lisitng .search-inner-div .search-box .search-footer .footer-button .btn {
    width: calc(50% - 10px);
    margin: 0 5px 5px 5px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .workout-meddile-section .workout-bg .workout-content {
    padding: 290px 0 60px 0;
  }
  .enroll-meddile-section .parent-login-section {
    padding-top: 60px;
    padding-bottom: 430px;
    height: unset;
    background-size: 100%;
    background-position: bottom center;
  }
  .enroll-meddile-section .parent-login-section .login-box {
    height: unset;
    padding-left: 0;
    padding: 0 100px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .enroll-meddile-section .parent-login-section {
    height: unset;
    background-size: 50%;
    background-position: left bottom;
  }
  .enroll-meddile-section .parent-login-section .login-box {
    height: unset;
    padding: 80px 50px !important;
  }
}

@media (min-width: 1440px) and (max-width: 1920px) {
  .workout-meddile-section .workout-bg .workout-content {
    padding-bottom: 60px;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .enroll-meddile-section .parent-login-section {
    height: unset;
    background-size: 50%;
    background-position: left bottom;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .enroll-meddile-section .parent-login-section .login-box {
    height: unset;
    padding: 80px 50px !important;
  }
}
/*# sourceMappingURL=enroll-now.css.map */