


.select2-container  {
    border-radius: 0 !important;
    border: 0 !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    height: 50px !important;
    font-size: 18px;
    line-height: 48px !important;
    font-weight: 500;
    color: #000000;
    border-radius: 0 !important;
    border: 0 !important;
    padding-left: 15px !important;

}

.select2-dropdown--above {
    border: 1px solid #ffffff !important;
    border-bottom: none !important;  

}

.select2-dropdown--below{
    border: 1px solid #ffffff !important;
    border-top: none !important;     

}

.select2-container--default .select2-results__option {
    font-size: 16px;
    line-height: 20px;
    border-color: #0B1337  !important;
    border-radius: 0;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    transition: all 0.1s ease-in-out;
    background: #0B1337 !important;
    color: #fff;
    border-color: #0B1337 !important;
}

.select2-container--default .select2-selection--single {
    height: 50px !important; 
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #000000;
    border-radius: 0 !important;
    border: 0 !important;

    &:focus {
        box-shadow: none;
        outline: 0;
    }
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px !important; 
    width: 30px !important;
}

.enroll-meddile-section{
    margin-top: 0;
    .enroll-bg {
        background-image: url(../images/workout/banner-enroll.jpg) !important;
        padding: 0 30px;
        min-height: 470px;
        background-attachment: fixed;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: block;
            background: rgb(24,88,190);
            background: linear-gradient(90deg, rgba(24,88,190,0.7) 0%, rgba(0,24,98,0.7) 100%);
        }

        &::after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 100%;
            height: 211px;
            display: block;
            background-image: url(../images/workout/oval-workout.svg);
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .enroll-content {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding:  150px 0 80px 0;
                .enroll-caption{
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin-bottom: 54px;
                    h1 {
                        margin: 0;
                        font-size: 56px;
                        line-height: 68px;
                        font-weight: 800;
                        text-shadow: 2px 2px #000000;
                        padding: 0;
                        text-transform: uppercase;
                        
                    }
                    h3 {
                        font-size: 54px;
                        line-height: 66px;
                        color: #ffffff;
                        font-weight: 500;
                        text-align: center;
                        margin: 0;
                        text-shadow: 2px 2px #000000;
                        text-transform: uppercase;
                    }
                    .border-line{
                        margin-top: 10px;
                        width: 30px;
                        height: 6px;
                        text-shadow: 2px 2px #000000;
                    }
                }
                
                .enroll-search{
                    background-color: #FCB414;
                    border-radius: 6px;
                    width: 100%;
                    min-height: 140px;
                    z-index: 2;
                    position: relative;
                    padding: 30px 50px 20px 50px;
                    .row-7{
                        margin:  0 -7px;
                        .pad-7 {
                            padding: 0 7px;
                        }
                    }

                    .form-group {
                        label {
                            color: #ffffff;
                            margin-bottom: 10px;
                            font-size: 16px;
                            line-height: 19px;
                            font-weight: 600;
                        }
                        .form-control {
                            height: 50px;
                            font-size: 18px;
                            line-height: 22px;
                            font-weight: 500;
                            color: #000000;
                            border: 0 !important;
                            &:focus {
                                outline: 0;
                              
                            }
                        }
                    }


                    .serach-left{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;

                        .form-group{
                            width: 100%;
                        }

                        .or-text {
                            padding: 0 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            p{
                                margin-top: 30px;
                                font-size: 18px;
                                line-height: 22px;
                                font-weight: 500;
                            }
                        }
                    }

                    .serach-right{
                        display: flex;
                        align-items: flex-end;
                        flex-direction: row;
                        justify-content: flex-start;
                        .form-group  {
                            width: 100%;
                        }

                        .btn-search{
                            background-color: #0B1337;
                            height: 50px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #ffffff;
                            margin-left: 15px;
                            border-radius: 0;
                            width: calc(100% - 15px);
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 20px;
                            transition: all 0.4s;
                            outline: none !important;
                            &:hover {
                                background-color: #00134d;
                                border-color: #00134d;
                                border-radius: 0;
                                color: #ffffff;
                                transition: all 0.4s;
                            }
                            
                        }
                    }
                }

        }



    }

    .search-lisitng{
        padding: 20px 0;
        background-color: #0C0F20;

        .search-inner-div{
            .search-box{
               margin-bottom: 20px;
                border-radius: 6px;                
                min-height: 205px;
                overflow: hidden;
                .search-header{
                    padding: 20px 30px;
                    background-color: #ffffff;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: row;
                    .profile {
                        width: 105px;
                        height: 105px;
                        img{
                            width: 100%;
                        }
                    }
                    .content {
                        padding-left: 15px;
                        width: calc(100% - 105px);
                        h3 {
                            font-size: 24px;
                            line-height: 29px;
                            font-weight: 700;
                            margin: 0 0 20px 0;
                            color: #0B1337;

                            span {
                                font-size: 14px;
                                line-height: 18px;
                                font-weight: 600;
                                color: rgba(0,0,0,0.64);
                            }
                        }
                        .serach-left{
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-start; 
                            .search-feature{
                            
                                width: 100%;
                                h3 {
                                    color: rgba(0,0,0,0.64);
                                    font-size: 15px;
                                    line-height: 19px;
                                    margin: 0 0 6px 0;
                                    font-weight: 400;
                                }
                                p {
                                    color: #0B1337;
                                    font-size: 15px;
                                    line-height: 19px;
                                    font-weight: 600;
                                }

                                .serach-profile{
                                    .profile-img {
                                        height: 42px;
                                        width: 42px;
                                        img {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }

                        .search-right{
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-start; 
                            .search-feature{
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                flex-direction: row;
                                width: 100%;
                               

                                .serach-profile{
                                    .profile-img {
                                        height: 42px;
                                        width: 42px;
                                        img {
                                            width: 100%;
                                        }
                                    }
                                }

                                .search-content{
                                    padding-left: 10px;
                                    h3 {
                                        color: rgba(0,0,0,0.64);
                                        font-size: 15px;
                                        line-height: 19px;
                                        margin: 0 0 6px 0;
                                        font-weight: 400;
                                    }
                                    p {
                                        color: #0B1337;
                                        font-size: 15px;
                                        line-height: 19px;
                                        font-weight: 600;
                                        span {
                                            font-weight: 400;
                                        }
                                    }
    
                                }
                            }

                            .w40 {
                                width: 50%;
                            }
                            .w60 {
                                width: 50%;
                            }
                        }
                   
                    }
                }

                .search-footer{
                    background-color: #F0F1F3;
                    padding: 10px;
                    min-height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .footer-address{
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        justify-content: flex-start;
                        padding-left: 20px;
                      
                        img {
                            width: 18px;
                            height: 22px;
                            margin-right: 10px;
                        }
                        p {
                            margin-bottom: 0;
                            font-size: 15px;
                            line-height: 19px;
                            font-weight: 400;
                        }
                    }
                  

                    .footer-button {
                        display: inline-flex;
                        .btn-blue  {
                            background-color: #0B1337;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-left: 8px;
                            font-size: 12px;
                            line-height: 16px;
                            font-weight: 600;
                            color: #ffffff;
                            border-radius: 0;
                            padding: 0 20px;
                            text-transform: unset;
                            transition: all 0.3s ease-in-out;
                            &:hover {
                                transition: all 0.3s ease-in-out;
                                background-color: #FCB414;
                            }
                            .btn-icon{
                                margin-right: 5px;    
                                img {
                                    width: 15px;
                                    height: auto;
                                }
                            }
                            
                        }

                        .btn-blue-arrow{
                            background-color: #2969CD;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-left: 8px;
                            font-size: 12px;
                            line-height: 16px;
                            font-weight: 600;
                            color: #ffffff;
                            border-radius: 0;
                            padding: 0 0 0 20px;
                            text-transform: unset;
                            .btn-arrow {
                                height: 40px;
                                width: 40px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: #1E54A9;
                                margin-left: 20px;
                            }
                        }

                       
                    }
                }


              
            }

            .start-own-class{
                margin-top: 100px;
                margin-bottom: 40px;
                p {
                    font-size: 16px;
                    line-height: 30px;
                    font-weight: 500;
                    color: #ffffff;
                    span {
                        color: #FCB414;
                        font-weight: 600;
                    }
                }

                .own-class{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px 0 0 0;
                    .btn-blue-transparent {
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #ffffff;
                        background-color: #0C0F20;
                        color: #ffffff;
                        line-height: 26px;
                        font-size: 14px;
                        font-weight: 500;
                        width: 100%;
                        border-radius: 0;
                        transition: all 0.4s ease-in-out;
                        &:hover {
                            background-color: #ffffff;
                            color: #0C0F20;
                            font-weight: 500;
                            transition: all 0.4s ease-in-out;
                        }
                    }
                }
            }
        }
      
    }

    // parent login


    .parent-login-section{
        height: 750px;
        background-color: #ffffff;
        background-image: url(../images/workout/parent-login.jpg);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: left bottom;

        .login-box{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 750px;
                flex-direction: column;
                padding-left: 100px;
                width: 100%;
                h3 {
                    font-size: 32px;
                    line-height: 39px;
                    color: #000000;
                    font-weight: 800;
                    margin-bottom: 30px;
                }

                .form-group {
                    width: 100%;
                    .form-control {
                        height: 50px;
                        border-radius: 4px !important;
                        font-weight: 500;
                        color: #000000;
                        &:focus
                         {
                             border-color: #000000;
                         }
                    }
                }

                .forgot-password{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 30px;
                    .custom-checkbox{
                        .custom-control-input{
                            position: relative;
                            top: 2px;
                        }
                        .custom-control-label{
                            padding-left: 5px;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 19px;
                        }
                    }

                    .forgot-link {
                        color: #0B1337;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 19px;
                    }
                    
                }

                .login-buttons{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    .btn-link {
                        color: #2969CD;
                        font-size: 16px;
                        line-height: 19px;
                        font-weight: 600;
                        width: 100%;
                        margin-bottom: 15px;
                    }
                   .btn-login {
                       background-color: #0B1337;
                       color: #ffffff;
                       font-size: 16px;
                       line-height: 19px;
                       width: 100%;
                       height: 50px;
                       font-weight: 600;
                       display: flex;
                       align-items: center;
                       justify-content: center;
                   }
                    
                }
        }
    }
    // parent loign end


  
}


@media (max-width: 767px)  {
    .enroll-meddile-section {

        .enroll-bg{
                padding: 0 0;
                .enroll-content{
                    padding: 250px 0 80px;
                .enroll-caption{
                    h3 {
                        font-size: 30px;
                        line-height: 36px;
                    }

                    h1 {
                        font-size: 40px;
                        line-height: 50px;
                    }
                }

                .enroll-search{
                    padding: 20px 20px;

                    .serach-left{
                        flex-direction: column;

                        .or-text{
                            p {
                                margin: 10px 0;
                            }
                        }
                    }
                    .serach-right{
                        flex-direction: column;

                        .btn-search{
                            margin-left: 0;
                            width: 100%;
                        }
                    }
                }
            }
        }

        .search-lisitng{
            padding: 20px 0;
            background-color: #0C0F20;
    
            .search-inner-div{
                .search-box{
                    .search-header {
                        padding: 10px 20px;
                        .profile {
                            width: 70px;
                            height: 70px;
                            img {
                                width: 100%;
                            }
                        }

                        .content{
                            padding-left: 10px;
                            width: calc(100% - 70px);
                            h3 {
                                font-size: 16px;
                                line-height: 20px;
                                span{
                                    display: block;
                                }
                            }

                            .serach-left{
                                flex-direction: column;
                            }

                            .search-right{
                                flex-direction: column;
                                .search-feature{
                                    width: 100%;
                                }
                            }
    
                        }
                    }

                    .search-footer{
                        flex-direction: column;
                        .footer-address{
                            margin-bottom: 15px;
                            p {
                                font-size: 12px;
                                line-height: 19px;
                            }
                        }
                        .footer-button{ 
                            display: flex;
                            flex-wrap: wrap;
                            .btn {
                                width: calc(50% - 10px);
                                margin: 0 5px 5px 5px;
                            }
                        }
                    }
                }
            } 
        }

        .parent-login-section{ 
           padding-top: 60px;
           padding-bottom: 300px;
           height: unset;
           background-size: 100%;
           background-position: bottom;
            
            .login-box {
                height: unset;
                padding-left: 0;
            }
        }

    } 
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    .parent-login-section{ 
        padding-top: 60px;
        padding-bottom: 380px !important;
        height: unset;
         
         .login-box {
             height: unset;
             padding-left: 0;
         }
     }
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
    .enroll-meddile-section {
        .enroll-bg{
                padding: 0 0;
                .enroll-content{
                    padding: 250px 0 80px;
                .enroll-caption{
                    h3 {
                    }
                    h1 {
                        margin-top: 0 !important;
                    }
                }
                .video-conatainer{
                    min-height: unset;
                }
            }
        }

        .search-lisitng{
            padding: 20px 0;
            background-color: #0C0F20;
    
            .search-inner-div{
                .search-box{
                    .search-header {
                        padding: 10px 20px;
                        .profile {
                            width: 70px;
                            height: 70px;
                            img {
                                width: 100%;
                            }
                        }

                        .content{
                            padding-left: 10px;
                            width: calc(100% - 70px);
                            h3 {
                                font-size: 16px;
                                line-height: 20px;
                                span{
                                    display: inline-block;
                                }
                            }

                            .serach-left{
                                flex-direction: row;
                            }

                            .search-right{
                                flex-direction: row;
                                .search-feature{
                                    width: 100%;
                                }
                            }
    
                        }
                    }

                    .search-footer{
                        flex-direction: column;
                        .footer-address{
                            margin-bottom: 15px;
                            width: 100%;
                            p {
                                font-size: 12px;
                                line-height: 19px;
                                text-align: left;
                            }
                        }
                        .footer-button{ 
                            display: flex;
                            flex-wrap: wrap;
                            width: 100%;
                            .btn {
                                width: calc(50% - 10px);
                                margin: 0 5px 5px 5px;
                            }
                        }
                    }
                }
            } 
        }


      
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    
    .workout-meddile-section .workout-bg .workout-content {
        padding: 290px 0 60px 0;
    }

    .enroll-meddile-section{
        .parent-login-section{ 
            padding-top: 60px ;
            padding-bottom: 430px;
            height: unset;
            background-size: 100%;
            background-position: bottom center;
             
             .login-box {
                 height: unset;
                 padding-left: 0;
                 padding: 0 100px;
             }
         }
    }
  
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .enroll-meddile-section{
        .parent-login-section{ 
            height: unset;
            background-size: 50%;
            background-position: left bottom;
             
             .login-box {
                 height: unset;
                 padding: 80px 50px !important;
             }
         }
    }
    
}

@media (min-width: 1440px) and (max-width: 1920px) {

    .workout-meddile-section .workout-bg .workout-content {
        padding-bottom: 60px;
    }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .enroll-meddile-section{
        .parent-login-section{ 
            height: unset;
            background-size: 50%;
            background-position: left bottom;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
             .login-box {
                 height: unset;
                 padding: 80px 50px !important;
             }
         }
    }
}
