.fullcalendar-big-root .fc {
  direction: ltr;
  text-align: left;
}

.fullcalendar-big-root .fc-rtl {
  text-align: right;
}

.fullcalendar-big-root .fc-view {
  max-width: 100%;
  overflow: auto;
}

.fullcalendar-big-root .fc-view > table {
  min-width: 769px;
}

.fullcalendar-big-root .fc-events-container {
  background-color: #fcfcfc;
  border: 1px solid #ddd;
  padding: 10px;
}

.fullcalendar-big-root .fc-events-container .fc-event {
  margin: 0;
  padding: 4px 11px;
}

.fullcalendar-big-root .fc-events-container .fc-event + .fc-event {
  margin-top: 10px;
}

.fullcalendar-big-root .fc-unthemed th, .fullcalendar-big-root .fc-unthemed td, .fullcalendar-big-root .fc-unthemed hr, .fullcalendar-big-root .fc-unthemed thead, .fullcalendar-big-root .fc-unthemed tbody, .fullcalendar-big-root .fc-unthemed .fc-row, .fullcalendar-big-root .fc-unthemed .fc-popover {
  border-color: #ddd;
}

.fullcalendar-big-root .fc-unthemed thead, .fullcalendar-big-root .fc-unthemed thead td, .fullcalendar-big-root .fc-unthemed thead th {
  border-bottom-color: #bbb;
}

.fullcalendar-big-root .fc-unthemed hr {
  background-color: #f5f5f5;
}

.fullcalendar-big-root .fc-unthemed .fc-popover {
  background-color: #fff;
  border-radius: 3px;
}

.fullcalendar-big-root .fc-unthemed .fc-popover .fc-header {
  background-color: #f5f5f5;
}

.fullcalendar-big-root .fc-unthemed .fc-today {
  background-color: #e8f5e9;
}

.fullcalendar-big-root .fc-highlight {
  background-color: #e5e5e5;
  opacity: .3;
  filter: alpha(opacity=30);
}

.fullcalendar-big-root .fc-bgevent {
  background-color: #81c784;
  opacity: .3;
  filter: alpha(opacity=30);
}

.fullcalendar-big-root .fc-nonbusiness {
  background-color: #ccc;
}

.fullcalendar-big-root .fc-icon {
  display: block;
}

.fullcalendar-big-root .fc-icon:after {
  display: inline-block;
  font-family: "icomoon";
  line-height: 1;
  font-size: 16px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fullcalendar-big-root .fc-icon-left-single-arrow:after {
  content: "\e9c0";
}

.fullcalendar-big-root .fc-icon-right-single-arrow:after {
  content: "\e9c3";
}

.fullcalendar-big-root .fc-icon-left-double-arrow:after {
  content: "\000AB";
}

.fullcalendar-big-root .fc-icon-right-double-arrow:after {
  content: "\000BB";
}

.fullcalendar-big-root .fc-icon-x:after {
  content: "\ed6b";
  font-size: 12px;
  display: block;
}

.fullcalendar-big-root .fc button {
  margin: 0;
  border: 1px solid #ddd;
  padding: 7px 12px;
  white-space: nowrap;
  cursor: pointer;
  outline: 0;
}

.fullcalendar-big-root .fc button::-moz-focus-inner {
  margin: 0;
  padding: 0;
}

.fullcalendar-big-root .fc-state-default {
  border: 1px solid;
  background-color: #fcfcfc;
}

.fullcalendar-big-root .fc-state-default.fc-corner-left {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.fullcalendar-big-root .fc-state-default.fc-corner-right {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.fullcalendar-big-root .fc-state-hover {
  background-color: #f8f8f8;
}

.fullcalendar-big-root .fc-state-down, .fullcalendar-big-root .fc-state-active {
  background-color: #f5f5f5;
}

.fullcalendar-big-root .fc-button.fc-state-down, .fullcalendar-big-root .fc-button.fc-state-active {
  border-color: #ddd;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset;
}

.fullcalendar-big-root .fc-state-disabled {
  color: #999;
  cursor: not-allowed;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.fullcalendar-big-root .fc-button-group {
  display: inline-block;
}

.fullcalendar-big-root .fc .fc-button-group > * {
  float: left;
  margin: 0 0 0 -1px;
}

.fullcalendar-big-root .fc .fc-button-group > :first-child {
  margin-left: 0;
}

.fullcalendar-big-root .fc-rtl .fc-button-group > * {
  float: right;
  margin: 0 -1px 0 0;
}

.fullcalendar-big-root .fc-popover {
  position: absolute;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}

.fullcalendar-big-root .fc-popover .fc-header {
  padding: 10px;
}

.fullcalendar-big-root .fc-popover .fc-header .fc-close {
  cursor: pointer;
}

.fullcalendar-big-root .fc-ltr .fc-popover .fc-header .fc-title {
  float: left;
}

.fullcalendar-big-root .fc-ltr .fc-popover .fc-header .fc-close {
  float: right;
}

.fullcalendar-big-root .fc-rtl .fc-popover .fc-header .fc-title {
  float: right;
}

.fullcalendar-big-root .fc-rtl .fc-popover .fc-header .fc-close {
  float: left;
}

.fullcalendar-big-root .fc-unthemed .fc-popover .fc-header .fc-close {
  margin-top: 2px;
  opacity: .6;
  filter: alpha(opacity=60);
}

.fullcalendar-big-root .fc-unthemed .fc-popover .fc-header .fc-close:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.fullcalendar-big-root .fc hr {
  height: 0;
  margin: 0;
  padding: 0 0 2px;
  border-style: solid;
  border-width: 1px 0;
}

.fullcalendar-big-root .fc-clear {
  clear: both;
}

.fullcalendar-big-root .fc-bg, .fullcalendar-big-root .fc-bgevent-skeleton, .fullcalendar-big-root .fc-highlight-skeleton, .fullcalendar-big-root .fc-helper-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.fullcalendar-big-root .fc-bg {
  bottom: 0;
}

.fullcalendar-big-root .fc-bg table {
  height: 100%;
}

.fullcalendar-big-root .fc table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

.fullcalendar-big-root .fc th, .fullcalendar-big-root .fc td {
  border-style: solid;
  border-width: 1px;
  padding: 0;
  vertical-align: top;
}

.fullcalendar-big-root .fc th {
  padding: 12px 20px;
  font-weight: 500;
  text-align: center;
}

.fullcalendar-big-root .fc td.fc-today {
  border-style: double;
}

.fullcalendar-big-root .fc-row {
  border-style: solid;
  border-width: 0;
  position: relative;
}

.fullcalendar-big-root .fc-row table {
  border-left: 0 hidden transparent;
  border-right: 0 hidden transparent;
  border-bottom: 0 hidden transparent;
}

.fullcalendar-big-root .fc-row:first-child table {
  border-top: 0 hidden transparent;
}

.fullcalendar-big-root .fc-row .fc-bg {
  z-index: 1;
}

.fullcalendar-big-root .fc-row .fc-bgevent-skeleton, .fullcalendar-big-root .fc-row .fc-highlight-skeleton {
  bottom: 0;
}

.fullcalendar-big-root .fc-row .fc-bgevent-skeleton table, .fullcalendar-big-root .fc-row .fc-highlight-skeleton table {
  height: 100%;
}

.fullcalendar-big-root .fc-row .fc-bgevent-skeleton td, .fullcalendar-big-root .fc-row .fc-highlight-skeleton td {
  border-color: transparent;
  border: 0;
}

.fullcalendar-big-root .fc-row .fc-bgevent-skeleton {
  z-index: 2;
}

.fullcalendar-big-root .fc-row .fc-highlight-skeleton {
  z-index: 3;
}

.fullcalendar-big-root .fc-row .fc-content-skeleton td, .fullcalendar-big-root .fc-row .fc-helper-skeleton td {
  background: none;
  border-color: transparent;
  border-bottom: 0;
}

.fullcalendar-big-root .fc-row .fc-content-skeleton tbody td, .fullcalendar-big-root .fc-row .fc-helper-skeleton tbody td {
  border-top: 0;
}

.fullcalendar-big-root .fc-row .fc-content-skeleton {
  position: relative;
  z-index: 4;
}

.fullcalendar-big-root .fc-row .fc-helper-skeleton {
  z-index: 5;
}

.fullcalendar-big-root .fc-scroller {
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 500px;
}

.fullcalendar-big-root .fc-scroller > * {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.fullcalendar-big-root .fc-event {
  position: relative;
  display: block;
  border: 1px solid #039be5;
  background-color: #039be5;
  font-weight: normal;
  border-radius: 2px;
}

.fullcalendar-big-root .fc-event, .fullcalendar-big-root .fc-event:hover {
  color: #fff;
  text-decoration: none;
}

.fullcalendar-big-root .fc-event[href], .fullcalendar-big-root .fc-event.fc-draggable {
  cursor: pointer;
}

.fullcalendar-big-root .fc-not-allowed, .fullcalendar-big-root .fc-not-allowed .fc-event {
  cursor: not-allowed;
}

.fullcalendar-big-root .fc-day-grid-event {
  margin: 0 5px 5px 5px;
  padding: 4px 8px;
}

.fullcalendar-big-root .fc-day-grid-event > .fc-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fullcalendar-big-root .fc-day-grid-event .fc-time {
  font-weight: 500;
}

.fullcalendar-big-root .fc-day-grid-event .fc-resizer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 7px;
}

.fullcalendar-big-root .fc-ltr .fc-day-grid-event .fc-resizer {
  right: -3px;
  cursor: e-resize;
}

.fullcalendar-big-root .fc-rtl .fc-day-grid-event .fc-resizer {
  left: -3px;
  cursor: w-resize;
}

@media (min-width: 1200px) {
  .fullcalendar-big-root .fc-day-grid-event > .fc-content {
    background-color: inherit;
  }
  .fullcalendar-big-root .fc-day-grid-event .fc-time {
    float: right;
    padding-left: 5px;
    display: inline-block;
    z-index: 2;
    position: relative;
    background-color: inherit;
  }
  .fullcalendar-big-root .fc-rtl .fc-day-grid-event .fc-time {
    float: left;
    padding-left: 0;
    padding-right: 5px;
  }
  .fullcalendar-big-root .fc-day-grid-event .fc-title {
    z-index: 1;
    position: relative;
  }
}

.fullcalendar-big-root a.fc-more {
  margin: 1px 5px;
  background-color: transparent;
  display: block;
  padding: 5px;
  text-align: center;
  border-radius: 2px;
  color: #222;
  font-size: 12px;
}

.fullcalendar-big-root a.fc-more:hover {
  background-color: transparent;
  color: #333;
}

.fullcalendar-big-root .fc-limited {
  display: none;
}

.fullcalendar-big-root .fc-day-grid .fc-row {
  z-index: 1;
}

.fullcalendar-big-root .fc-more-popover {
  z-index: 2;
  width: 220px;
}

.fullcalendar-big-root .fc-more-popover .fc-event-container {
  padding: 10px 5px;
}

.fullcalendar-big-root .fc-toolbar {
  text-align: center;
  margin-bottom: 0px;
}

.fullcalendar-big-root .fc-toolbar h2 {
  margin: 5px 0;
  font-size: 17px;
}

.fullcalendar-big-root .fc-toolbar .fc-left {
  float: left;
  width: 33%;
}

.fullcalendar-big-root .fc-rtl .fc-toolbar .fc-left {
  float: right;
}

.fullcalendar-big-root .fc-toolbar .fc-right {
  float: right;
  width: 33%;
}

.fullcalendar-big-root .fc-rtl .fc-toolbar .fc-right {
  float: left;
}

.fullcalendar-big-root .fc-toolbar .fc-right .fc-button-group {
  float: right;
}

.fullcalendar-big-root .fc-rtl .fc-toolbar .fc-right .fc-button-group {
  float: left;
}

.fullcalendar-big-root .fc-toolbar .fc-left > .fc-button, .fullcalendar-big-root .fc-toolbar .fc-right > .fc-button {
  margin-left: 10px;
}

.fullcalendar-big-root .fc-rtl .fc-toolbar .fc-left > .fc-button, .fullcalendar-big-root .fc-rtl .fc-toolbar .fc-right > .fc-button {
  margin-right: 10px;
  margin-left: 0;
}

.fullcalendar-big-root .fc-toolbar .fc-center {
  display: inline-block;
  vertical-align: middle;
}

.fullcalendar-big-root .fc-toolbar > * > * {
  float: left;
}

.fullcalendar-big-root .fc-rtl .fc-toolbar > * > * {
  float: right;
}

.fullcalendar-big-root .fc-toolbar > * > :first-child {
  margin-left: 0;
}

.fullcalendar-big-root .fc-toolbar button {
  position: relative;
}

.fullcalendar-big-root .fc-toolbar button:focus {
  z-index: 5;
}

.fullcalendar-big-root .fc-toolbar .fc-state-hover, .fullcalendar-big-root .fc-toolbar .ui-state-hover {
  z-index: 2;
}

.fullcalendar-big-root .fc-toolbar .fc-state-down {
  z-index: 3;
}

.fullcalendar-big-root .fc-toolbar .fc-state-active, .fullcalendar-big-root .fc-toolbar .ui-state-active {
  z-index: 4;
}

.fullcalendar-big-root .fc-view-container *, .fullcalendar-big-root .fc-view-container *:before, .fullcalendar-big-root .fc-view-container *:after {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.fullcalendar-big-root .fc-view, .fullcalendar-big-root .fc-view > table {
  position: relative;
  z-index: 1;
}

.fullcalendar-big-root .fc-basicWeek-view .fc-content-skeleton, .fullcalendar-big-root .fc-basicDay-view .fc-content-skeleton {
  padding-top: 5px;
  padding-bottom: 10px;
}

.fullcalendar-big-root .fc-basic-view tbody .fc-row {
  min-height: 100px;
  min-width: 100px;
}

.fullcalendar-big-root .fc-row.fc-rigid {
  overflow: hidden;
}

.fullcalendar-big-root .fc-row.fc-rigid .fc-content-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.fullcalendar-big-root .fc-basic-view .fc-week-number, .fullcalendar-big-root .fc-basic-view .fc-day-number {
  padding: 8px 10px 0 0;
  text-align: right;
  float: right;
}

.fullcalendar-big-root .fc-basic-view .fc-week-number {
  text-align: center;
}

.fullcalendar-big-root .fc-basic-view .fc-week-number span {
  display: inline-block;
  min-width: 1.25em;
}

.fullcalendar-big-root .fc-basic-view .fc-day-number {
  text-align: right;
}

.fullcalendar-big-root .fc-rtl .fc-basic-view .fc-day-number {
  text-align: left;
}

.fullcalendar-big-root .fc-basic-view .fc-day-number.fc-other-month {
  opacity: .3;
  filter: alpha(opacity=30);
}

.fullcalendar-big-root .fc-agenda-view .fc-day-grid {
  position: relative;
  z-index: 2;
}

.fullcalendar-big-root .fc-agenda-view .fc-day-grid .fc-row {
  min-height: 3em;
}

.fullcalendar-big-root .fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
  padding-top: 5px;
  padding-bottom: 0;
}

.fullcalendar-big-root .fc-axis {
  text-align: right;
}

.fullcalendar-big-root .fc-rtl .fc-axis {
  text-align: left;
}

.fullcalendar-big-root .fc .fc-axis {
  vertical-align: middle;
  padding: 10px;
  white-space: nowrap;
}

.fullcalendar-big-root .fc-time-grid-container, .fullcalendar-big-root .fc-time-grid {
  position: relative;
  z-index: 1;
}

.fullcalendar-big-root .fc-time-grid {
  min-height: 100%;
}

.fullcalendar-big-root .fc-time-grid table {
  border: 0 hidden transparent;
}

.fullcalendar-big-root .fc-time-grid > .fc-bg {
  z-index: 1;
}

.fullcalendar-big-root .fc-time-grid .fc-slats, .fullcalendar-big-root .fc-time-grid > hr {
  position: relative;
  z-index: 2;
}

.fullcalendar-big-root .fc-time-grid .fc-bgevent-skeleton, .fullcalendar-big-root .fc-time-grid .fc-content-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.fullcalendar-big-root .fc-time-grid .fc-bgevent-skeleton {
  z-index: 3;
}

.fullcalendar-big-root .fc-time-grid .fc-highlight-skeleton {
  z-index: 4;
}

.fullcalendar-big-root .fc-time-grid .fc-content-skeleton {
  z-index: 5;
}

.fullcalendar-big-root .fc-time-grid .fc-helper-skeleton {
  z-index: 6;
}

.fullcalendar-big-root .fc-slats td {
  border-bottom: 0;
}

.fullcalendar-big-root .fc-slats .fc-minor td {
  border-top-style: dotted;
}

.fullcalendar-big-root .fc-time-grid .fc-highlight-container {
  position: relative;
}

.fullcalendar-big-root .fc-time-grid .fc-highlight {
  position: absolute;
  left: 0;
  right: 0;
}

.fullcalendar-big-root .fc-time-grid .fc-event-container, .fullcalendar-big-root .fc-time-grid .fc-bgevent-container {
  position: relative;
}

.fullcalendar-big-root .fc-time-grid .fc-event, .fullcalendar-big-root .fc-time-grid .fc-bgevent {
  position: absolute;
  z-index: 1;
  margin: 5px;
  padding: 10px;
  min-height: 45px;
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
}

.fullcalendar-big-root .fc-time-grid .fc-bgevent {
  left: 0;
  right: 0;
}

.fullcalendar-big-root .fc-time-grid-event {
  overflow: hidden;
}

.fullcalendar-big-root .fc-time-grid-event.fc-not-start {
  border-top-width: 0;
  padding-top: 1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.fullcalendar-big-root .fc-time-grid-event.fc-not-end {
  border-bottom-width: 0;
  padding-bottom: 1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.fullcalendar-big-root .fc-time-grid-event > .fc-content {
  position: relative;
  z-index: 2;
}

.fullcalendar-big-root .fc-time-grid-event .fc-time {
  font-weight: 500;
}

.fullcalendar-big-root .fc-time-grid-event.fc-short .fc-content {
  white-space: nowrap;
}

.fullcalendar-big-root .fc-time-grid-event.fc-short .fc-time, .fullcalendar-big-root .fc-time-grid-event.fc-short .fc-title {
  display: inline-block;
  vertical-align: top;
}

.fullcalendar-big-root .fc-time-grid-event.fc-short .fc-time:before {
  content: attr(data-start);
}

.fullcalendar-big-root .fc-time-grid-event.fc-short .fc-time:after {
  content: "\000A0-\000A0";
}

.fullcalendar-big-root .fc-time-grid-event.fc-short .fc-time span {
  display: none;
}

.fullcalendar-big-root .fc-time-grid-event.fc-short .fc-title {
  font-size: .85em;
  padding: 0;
}

.fullcalendar-big-root .fc-time-grid-event .fc-resizer {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  bottom: 0;
  height: 8px;
  overflow: hidden;
  line-height: 10px;
  font-size: 12px;
  font-family: monospace;
  text-align: center;
  cursor: s-resize;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1px;
}

.fullcalendar-big-root .fc-time-grid-event .fc-resizer:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.fullcalendar-big-root .fc-time-grid-event .fc-resizer:after {
  content: "=";
}

@media (max-width: 768px) {
  .fullcalendar-big-root .fc-toolbar .fc-left, .fullcalendar-big-root .fc-toolbar .fc-left > .fc-button, .fullcalendar-big-root .fc-toolbar .fc-right, .fullcalendar-big-root .fc-toolbar .fc-right > .fc-button, .fullcalendar-big-root .fc-toolbar .fc-left .fc-button-group, .fullcalendar-big-root .fc-toolbar .fc-right .fc-button-group {
    float: none;
    width: auto;
    vertical-align: top;
  }
  .fullcalendar-big-root .fc-toolbar .fc-left, .fullcalendar-big-root .fc-toolbar .fc-right {
    display: block;
    margin-bottom: 10px;
  }
  .fullcalendar-big-root .fc-view-container {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .fullcalendar-big-root .fc-view-container > .fc-view > table {
    margin-left: -1px;
  }
  .fullcalendar-big-root .fc th, .fullcalendar-big-root .fc td {
    border-right-width: 0;
  }
}
/*# sourceMappingURL=fullcalendar-big.css.map */