@import url('../fonts/Baskerville/Baskerville.css');


.select2-container  {
    border-radius: 0 !important;
    border: 0 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    height: 50px !important;
    font-size: 18px;
    line-height: 48px !important;
    font-weight: 500;
    color: #000000;
    border-radius: 0 !important;
    border: 0 !important;

}

.select2-container--default .select2-results__option {
    font-size: 16px;
    line-height: 20px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    transition: all 0.1s ease-in-out;
    background: #000000 !important;
    color: #fff;
  
}

.select2-container--default .select2-selection--single {
    height: 50px !important; 
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #000000;
    border-radius: 0 !important;
    border: 0 !important;

    &:focus {
        box-shadow: none;
        outline: 0;
    }
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px !important; 
    width: 30px !important;
}


@-webkit-keyframes home-arrow-down {
    from {
        -webkit-transform: translate3d( 0, 0px, 0);
        transform: translate3d( 0, 0px, 0);
        filter: alpha(opacity=0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    10% {
        -webkit-transform: translate3d( 0, 5px, 0);
        transform: translate3d( 0, 5px, 0);
        filter: alpha(opacity=100);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    to {
        -webkit-transform: translate3d( 0, 30px, 0);
        transform: translate3d( 0, 30px, 0);
        filter: alpha(opacity=0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes home-arrow-down {
    from {
        -webkit-transform: translate3d( 0, 0px, 0);
        transform: translate3d( 0, 0px, 0);
        filter: alpha(opacity=0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    10% {
        -webkit-transform: translate3d( 0, 5px, 0);
        transform: translate3d( 0, 5px, 0);
        filter: alpha(opacity=100);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    to {
        -webkit-transform: translate3d( 0, 30px, 0);
        transform: translate3d( 0, 30px, 0);
        filter: alpha(opacity=0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

.live-lion-meddile-section{
    margin-top: 0;
    .live-lion-bg {
        background-image: url(../images/workout/bg-live-heart.jpg) !important;
        padding: 0 30px;
        min-height: 100vh;
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: block;
            background: rgb(24,88,190);
            background: linear-gradient(90deg, rgba(24,88,190,0.7) 0%, rgba(0,24,98,0.7) 100%);
        }

        .live-lion-content {
                min-height: 100vh;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding:  150px 0 80px 0;
                .live-lion-caption{
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin-bottom: 54px;
                    h3 {
                        margin: 0 !important;
                        font-size: 54px;
                        line-height: 66px;
                        font-weight: 600;
                        text-shadow: 2px 2px #000000;
                        padding: 0;
                        color: #ffffff;
                        text-transform: uppercase;
                    }
                    h1 {
                        font-size: 120px;
                        line-height: 140px;
                        color: #ffffff;
                        font-weight: 500;
                        text-align: center;
                        margin: 0;
                        text-shadow: 2px 2px #000000;
                        text-transform: uppercase;
                        font-weight: 800;
                        padding: 0;
                    }
                    .border-line{
                        margin-top: 10px;
                        width: 30px;
                        height: 6px;
                        text-shadow: 2px 2px #000000;
                    }

                    p {
                        font-size: 24px;
                        line-height: 29px;
                        color: #ffffff;
                        margin: 10px 0;
                        text-transform: uppercase;
                        text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
                        font-weight: 600;
                        span {
                            display: block;
                        }
                    }
                }
                position: relative;
                .down-scroll{
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 70px;
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 38px;
                        width: 38px;
                        border: 2px solid #FCB414;
                        border-radius: 100%;
                        color: #ffffff;
                        font-size: 14px;
                        position: relative;

                        transform-style: preserve-3d;
                        animation-name: home-arrow-down;
                        animation-duration: 2s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear; 

                       &::after {
                           content: '';
                           height: 54px;
                           width: 54px;
                           position: absolute;
                           left: -10px;
                           top: -10px;
                           border-radius: 100%;
                           display: block;
                           border: 1px solid #FCB414;
                       }
                    }
                }
                
               
        }
    }


    // howitswork


    .howitwork-section{
        padding: 90px 0;
        background-color: #0C0F20;

        .heading-content{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 40px;
            h3 {
                color: #FFFFFF;
                font-weight: 900;
                font-size: 30px;
                line-height: 48px;
                margin: 0;
            }
            h1 {
                font-size: 56px;
                line-height: 68px;
                font-weight: 800;
                -webkit-text-fill-color: rgba(255, 255, 255, 0) !important;
                -webkit-text-stroke-color: #ffffff !important;
                -webkit-text-stroke-width: 2px;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                margin: 0;
            }
        }


        .the-future-kids{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
            column-gap: 15px;
            width: 100%;

            .future-box {
                background-color: #0C0F20;
                width: 100%;
                border: 1px solid #ffffff;
                margin-bottom: 15px;
                padding: 32px 20px;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                position: relative;
                transition: all 0.4s ease-in-out;
                &::before { 
                    content: "";
                    background-image: url('../images/workout/box-hover-1.jpg');
                    opacity: 0.20;
                    background-size: cover;
                    width:100%;
                    height: 100%;
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 1;
                }

                &::after { 
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 2;
                    background: linear-gradient(0deg, rgba(26,43,144,1) 100%, rgba(11,19,55,1) 100%);
                    width: 100%;
                    height: 100%;
                    opacity: 0.3;
                    display: none;
                }

                &:hover {
                    transition: all 0.4s;
                    &::before { 
                        content: "";
                        display: block;
                    }
                    &::after { 
                        content: "";
                        display: block;
                    }
                }
                .futur-img{
                    height: 80px;
                    width: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-bottom: 50px;
                    position: relative;
                    z-index: 3;
                    &::after {
                        content: '';
                        height: 96px;
                        width: 96px;
                        position: absolute;
                        left: -8px;
                        top: -8px;
                        border-radius: 100%;
                        display: block;
                        border: 1px solid #ffffff;
                    }
                    img {
                        width: 100%;
                    }
                }

                .future-content{
                    width: 100%;
                    position: relative;
                    z-index: 3;
                    p {
                        font-size: 17px;
                        line-height: 28px;
                        color: #ffffff;
                        text-align: center;
                        span {
                            color: #FCB414;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }

    .curriculum-section {
        padding: 100px 0 80px 0;
        background-color: #ffffff;

    .heading-curiculum{
        padding-top: 60px;
        margin-bottom: 35px;
            h3 {
                font-size: 34px;
                line-height: 42px;
                color: #0B1337;
                font-weight: 800;
                margin: 0;
            }
            h1 {
                font-size: 56px;
                line-height: 68px;
                font-weight: 800;
                -webkit-text-fill-color: rgba(255, 255, 255, 0) !important;
                -webkit-text-stroke-color: #0B1337 !important;
                -webkit-text-stroke-width: 2px;
                margin: 0;
                letter-spacing: 0.5px;
                text-transform: uppercase;
            }
        }

        .curriculum-content{
            margin-bottom: 30px;
            p{
                padding-left: 30px;
                border-left: 3px solid #FCB414;
                font-size: 17px;
                line-height: 30px;
                font-weight: 800;
                letter-spacing: 0.3px;
                color: #0B1337;
                a {
                   color: #FCB414;
                   text-decoration: underline;
                   font-style: italic; 
                }
            }
        }

        .curriculum-content2{
            p{
                font-size: 14px;
                line-height: 24px;
                font-weight: 500;
                color: #0B1337;
            }
        }

        .sports-item-list{
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            li {
                width: 33.33%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;
                a {
                    display: block;
                    .sports-item-img {
                        width: 105px;
                        height: 105px;
                        padding: 12px;
                        border: 1px solid rgba(11, 19, 55,0.5);
                        border-radius: 100%;
                        overflow: hidden;
                        margin-bottom: 10px;
                        img {
                            width: 100%;
                        }
                        position: relative;
                        &:after {
                            content: '';
                            border: 8px solid rgba(252, 180, 20,0.5);
                            width: 103px;
                            height: 103px;
                            border-radius: 100%;
                            display: block;
                            display: none;
                            top: 0px;
                            left: 0px;
                            position: absolute;
                            transition: all 0.4 ease-in-out;
                        }
                    }

                    &:hover  {
                        .sports-item-img{
                            border:1px solid #FAC44C;
                                &:after {
                                    display: block;
                                }
                        }
                    }

                    span {
                        display: block;
                        text-align: center;
                        color: #0B1337;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .shutdown-section {
        width: 100%;
        position: relative;
        background-color: #151515;
        .p0 {
            padding: 0;
        }
        .row-custom {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            .left-div{
                width: 50%;
                background: rgb(241,167,0);
                background: linear-gradient(0deg, rgba(241,167,0,1) 0%, rgba(252,180,20,1) 100%);
                // background-image: url('../images/workout/img-shutdown-2.png');
                // background-repeat: no-repeat;
                // background-position: 100% 100%;
                // background-size: cover;
                padding: 180px 40px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                    // &::before {
                    //     position: absolute;
                    //     top: 0;
                    //     left: 0;
                    //     content: '';
                    //     width: 100%;
                    //     height: 100%;
                    //     display: block;
                    //     background-color: rgba(252, 180, 20, 0.8);
                    //   }


                      .shutdown-content{
                            max-width: 550px;
                            padding-right: 0px;
                                ul {
                                    margin: 0;
                                    padding: 0;
                                    list-style: none;
                                    li {
                                        position: relative;
                                        padding-left: 30px;
                                        margin-bottom: 30px;
                                        &::after {
                                            position: absolute;
                                            top: 12px;
                                            left: 0;
                                            content: '';
                                            width: 10px;
                                            height: 10px;
                                            display: block;
                                            border-radius: 100%;
                                            background-color: #ffffff;
                                        }
                                        p{
                                            color: #FFFFFF;
                                            font-size: 20px;
                                            line-height: 30px;
                                            span {
                                                font-weight: 700;
                                            }
                                        }
                                    }
                                }
                            }
                    
            }

            .right-div {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 80px 40px;
                .shut-content-2{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            text-align: center;
                       
                            h3 {
                                font-size: 34px;
                                line-height: 42px;
                                color: #ffffff;
                                margin: 0;
                                font-weight: 800;
                            }
                            h1 {
                                margin: 0;
                                font-size: 56px;
                                line-height: 68px;
                                color: #ffffff;
                                -webkit-text-fill-color: rgba(255, 255, 255, 0) !important;
                                -webkit-text-stroke-color: #ffffff !important;
                                -webkit-text-stroke-width: 2px;
                                letter-spacing: 0.5px;
                                font-weight: 800;
                                text-transform: uppercase;
                                margin-bottom: 42px;
                            }
                
                            .img-desktop {
                                max-width: 380px;
                                margin-bottom: 30px;
                                img {
                                    width: 100%;
                                }
                            }
                
                            p {
                                color: #ffffff;
                                font-size: 30px;
                                line-height: 32px;
                                text-align: center;
                                margin-bottom: 10px;
                            }
                            p.text-yello {
                                color: #EBAB1C;
                                font-size: 28px;
                                line-height: 32px;
                                text-align: center;
                                margin-bottom: 0;
                            }
                        }
             
            }

        }
    }

    .our-client-section{
        padding: 110px 0 140px 0;
        // background-image: url('../images/workout/bg-ourlclient.png');
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: center;
        background: rgb(241,167,0);
        background: linear-gradient(0deg, rgba(241,167,0,1) 0%, rgba(252,180,20,1) 100%);
        position: relative;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(252, 180, 20, 0.8);
            display: block;
            z-index: 1;
        }

        .our-client-inner {
            z-index: 2;
            position: relative;

            .our-client-heading {
                text-align: center;
                h3 {
                    font-size: 34px;
                    line-height: 42px;
                    color: #ffffff;
                    margin: 0;
                    font-weight: 800;
                    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
                }
            }
        }

        .logo-box {display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 150px;}
        .logo-box img { width: 100px; height: auto;}
        .logo-120 img { width: 120px; height: auto;}
        .logo-150 img { width: 150px; height: auto;}
        .logo-200 img { width: 200px; height: auto;}
        .logo-250 img { width: 250px; height: auto;}
    }

    .future-fiteness-section{
        background-image: url(../images/workout/bg-future-fitness.jpg);
        background-position: center;
        align-items: center;
        background-size: cover;
        padding: 160px 0 150px 0;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background-color: rgba(0,0,0,0.7);
            left: 0;
            top: 0;
            display: block;
            height: 100%;
            width: 100%;
            z-index: 3;
        }

        .future-fitness-inner{
            z-index: 9;
            position: relative;
        }

        .future-fitness-heading {
            text-align: center;
            color: #FFFFFF;
            h3 {
                font-size: 44px;
                line-height: 48px;
                color: #FFFFFF;
                margin-top: 0;
                font-weight: 600;
                margin-bottom: 65px;
            }
        }

        .future-fitness-content{
            text-align: center;
            max-width: 870px;
            margin: 0 auto;
            p {
                color: #FFFFFF;
                font-size: 40px;
                line-height: 50px;
                margin-bottom: 50px;
                font-family: 'Baskerville Normal';
            }
            h3 {
                font-size: 44px;
                line-height: 43px;
                font-family: 'Baskerville BT Italic';
                color: #FFFFFF;
            }
        }
    }

    .testimonial-section{
        background-color: #002186;
        padding: 85px 0 100px 0;
        position: relative;
        overflow: hidden;
        // &:before {
        //     position: absolute;
        //     content: '';
        //     height: 3px;
        //     width: 100vW;
        //     background-color: #0B31A0;
        //     bottom: 175px;
        //     left: 0;
        //     margin: 0 auto;
        //     z-index: 9;
        //     right: 0;
        //     margin: 0 auto;
        // }
        .p-0 {
            padding: 0;
        }

        .testimonial-heading {
            text-align: center;
            h3 {
                font-size: 34px;
                line-height: 42px;
                color: #ffffff;
                margin: 0;
                font-weight: 800;
            }

            h1 {
                margin: 0;
                font-size: 56px;
                line-height: 68px;
                color: #ffffff;
                -webkit-text-fill-color: rgba(255, 255, 255, 0) !important;
                -webkit-text-stroke-color: #ffffff !important;
                -webkit-text-stroke-width: 2px;
                letter-spacing: 0.5px;
                font-weight: 800;
                text-transform: uppercase;
            }

            .border-line {
                margin-top: 10px;
                width: 30px;
                height: 6px;
                text-shadow: 2px 2px #000000;
                background-color: #FCB414;
            }
        }

        .testimonial-box{
            width: 100%;
            max-width: 900px;
            margin: 0 auto;
            padding: 50px 30px;
            p{
                text-align: center;
                font-size: 22px;
                line-height: 38px;
                color: #ffffff;
            }
        }
        

        .thumb{
            height: 65px;
            width: 65px;
            border: 3px solid #ffffff;
            border-radius: 100%;
            img {
                width: 100%;
            }
        }

        .thumbs-owl {

               position: relative;
            
            .owl-nav {
              
                position: absolute;
                left: 0px;
                top: 5%;
                display: block !important;
                // align-items: center;
                // justify-content: space-between;
                width: 100%;
                button {
                    color: #ffffff;
                    width: 50px;
                    height: 50px;
                    box-shadow: none;
                    border-radius: 0;
                    font-size: 20px;
                    box-shadow: none !important;
                    outline: 0;

                    &:hover {
                        background-color: transparent;
                    }

                }

                .owl-prev {
                    position: absolute;
                    left: -20px;
                    top: 20%;
                }
                .owl-next {
                    top: 20%;
                    position: absolute;
                    right: -20px;

                }
            }
        }

        .thumb-box {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            min-height: 105px;
            cursor: pointer;

            .thumbimg {
                height: 125px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 3px solid #0B31A0;
                width: 100%;
                padding-bottom: 15px;
                // position: relative;
                // &:before {
                //     position: absolute;
                //     content: '';
                //     height: 3px;
                //     width: 100%;
                //     background-color: #0B31A0;
                //     top: 123px;
                //     left: 0;
                //     z-index: 99999999;
                //     right: 0;
                //     margin: 0 auto;
                // }
            }
            .thumb-content{
                opacity: 0;
                text-align: center;
                h3 {
                    font-size: 20px;
                    line-height: 30px;
                    color: #ffffff;
                    text-transform: uppercase;
                    font-weight: 700;
                }
                p {
                    margin: 0;
                    text-transform: uppercase;
                    font-size: 12px;
                    line-height: 15px;
                    color: #ffffff;
                }
            }
        }

        .current {

            .thumbimg {
                position: relative;
                &:before {
                    position: absolute;
                    content: '';
                    height: 3px;
                    width: 120px;
                    background-color: #2969CD;
                    bottom: -3px;
                    left: 0;
                    z-index: 99;
                    right: 0;
                    margin: 0 auto;
                }
            }
            .thumb-content{ 
                opacity: 1 !important;
            }
            .thumb{
                height: 104px;
                width: 104px;
                border: 3px solid #ffffff;
                border-radius: 100%;
                img {
                    width: 100%;
                }
            }
        }

       
    }

 

    
    // parent login


    .parent-login-section{
        height: 750px;
        background-color: #ffffff;
        background-image: url(../images/workout/parent-login.jpg);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: left bottom;

        .login-box{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 750px;
                flex-direction: column;
                padding-left: 100px;
                width: 100%;
                h3 {
                    font-size: 32px;
                    line-height: 39px;
                    color: #000000;
                    font-weight: 800;
                    margin-bottom: 30px;
                }

                .form-group {
                    width: 100%;
                    .form-control {
                        height: 50px;
                        border-radius: 4px !important;
                        font-weight: 500;
                        color: #000000;
                        &:focus
                         {
                             border-color: #000000;
                         }
                    }
                }

                .forgot-password{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 30px;
                    .custom-checkbox{
                        .custom-control-input{
                            position: relative;
                            top: 2px;
                        }
                        .custom-control-label{
                            padding-left: 5px;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 19px;
                        }
                    }

                    .forgot-link {
                        color: #0B1337;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 19px;
                    }
                    
                }

                .login-buttons{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    .btn-link {
                        color: #2969CD;
                        font-size: 16px;
                        line-height: 19px;
                        font-weight: 600;
                        width: 100%;
                        margin-bottom: 15px;
                    }
                   .btn-login {
                       background-color: #0B1337;
                       color: #ffffff;
                       font-size: 16px;
                       line-height: 19px;
                       width: 100%;
                       height: 50px;
                       font-weight: 600;
                       display: flex;
                       align-items: center;
                       justify-content: center;
                   }
                    
                }
        }
    }
    // parent loign end

}


@media (max-width: 767px)  {




    .live-lion-meddile-section {

        .live-lion-bg{
                padding: 0 0;
                .live-lion-content{
                    padding: 250px 0 80px;
                .live-lion-caption{
                    h3 {
                        font-size: 30px;
                        line-height: 36px;
                    }
                    h1 {
                        font-size: 45px;
                        line-height: 65px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 26px;
                        text-align: center;
                    }
                }

            }
        }

       

        .howitwork-section {
            padding:  60px 0;
            .heading-content{
                h3 {
                    font-size: 30px;
                    line-height: 40px;
                    margin: 0;
                }
                h1 {
                    font-size: 40px;
                    line-height: 46px;
                    letter-spacing: 0.5px;
                    margin: 0 0 10px 0;
                    text-align: center;
                }
            }
           

            .the-future-kids {
                grid-template-columns: 1fr;
            }
        }


        .curriculum-section {
            padding: 60px 0 50px 0;
            .heading-curiculum {
                padding-top: 0;
                h3 {
                    font-size: 30px;
                    line-height: 40px;
                    margin: 0;
                    text-align: center;
                }
                h1 {
                    font-size: 40px;
                    line-height: 46px;
                    letter-spacing: 0.5px;
                    margin: 0 0 10px 0;
                    text-align: center;
                }
            }

            .curriculum-content2{
                margin-bottom: 40px;
            }
            .sports-item-list{
                    li {
                    width: 33.33%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 30px;
                    a {
                        display: block;
                        .sports-item-img {
                            width: 80px;
                            height: 80px;
                            padding: 8px;
                            border: 1px solid rgba(11, 19, 55,0.5);
                            border-radius: 100%;
                            overflow: hidden;
                            margin-bottom: 10px;
                            img {
                                width: 100%;
                            }

                            &:after {
                                content: '';
                                border: 6px solid rgba(252, 180, 20,0.5);
                                width: 78px;
                                height: 78px;
                                border-radius: 100%;
                                display: block;
                                display: none;
                                top: 0px;
                                left: 0px;
                                position: absolute;
                                transition: all 0.4 ease-in-out;
                            }
                        }
    
                        span {
                            display: block;
                            text-align: center;
                            color: #0B1337;
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        .testimonial-section{
            padding: 60px 0;
            .testimonial-heading{
                h3 {
                    font-size: 34px;
                    line-height: 42px;
                    color: #ffffff;
                    margin: 0;
                    font-weight: 800;
                }

                h1 {
                    font-size: 40px;
                    line-height: 46px;
                    letter-spacing: 0.5px;
                    margin: 0 0 30px 0;
                    text-align: center;
                }
            }


            .testimonial-box{
                padding:  20px 20px;
                 P {
                     font-size: 16px;
                     line-height: 26px;
                 }
            }

            .thumb-box{
                .thumb-content {
                    h3 {
                        font-size: 16px;
                        line-height: 24px;
                    }
                    p{
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }

            .current {
                .thumb{
                    height: 90px;
                    width: 90px;
                }
            }
        }

        .our-client-section{
            padding: 60px 0;
        }

        .future-fiteness-section {
            padding: 60px 0;
            .future-fitness-heading {
                h3 {
                    font-size: 34px;
                    line-height: 42px;
                    color: #FFFFFF;
                    margin-bottom: 40px;
                }
            }

            .future-fitness-content {
                p {
                    font-size: 20px;
                    line-height: 28px;
                }
                h3 {
                    font-size: 18px;
                    line-height: 30px;
                }
            }

           

        }

        .our-client-section {

            .logo-box{
                min-height: 100px;
            }
            .img-apple {
                img {
                    width: 50px;
                }
            }

            .img-bayer{
                img {
                    width: 135px;
                }
            }

            .img-cicso {
                img {
                    width: 90px;
                }
            }
            .img-wb {
                img {
                    width: 70px;
                }
            }

            .img-all-state {
                img {
                    width: 150px;
                }
            }

            .img-panta {
                img {
                    width: 165px;
                }
            }

            .img-nasa {
                img {
                    width: 105px;
                }
            }

            .img-fox {
                img {
                    width: 90px;
                }
            }

            .img-chase {
                img {
                    width: 140px;
                }
            }

            .img-ucla {
                img {
                    width: 130px;
                }
            }

            .img-bright {
                img {
                    width: 140px;
                }
            }

            .img-sony {
                img {
                    width: 110px;
                }
            }

            .img-ymca  {
                img {
                    width: 130px;
                }
            }

            .img-paramount  {
                img {
                    width: 150px;
                }
            }

            .img-universal   {
                img {
                    width: 130px;
                }
            }

            .img-pixar   {
                img {
                    width: 160px;
                }
            }
        }
       
        

        .parent-login-section{ 
           padding-top: 60px;
           padding-bottom: 300px;
           height: unset;
           background-size: 100%;
           background-position: bottom;
            
            .login-box {
                height: unset;
                padding-left: 0;
            }
        }

        .shutdown-section  {

            .row-custom {
                display: flex;
                flex-direction: column;

                .left-div{
                    width: 100%;
                    padding: 60px 20px;
                    .shutdown-content{

                        ul {
                            li {
                                p {
                                    font-size: 14px;
                                    line-height: 26px;
                                    span {
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }
                }

                .right-div {
                    width: 100%;
                   padding: 60px 20px;
                    .shut-content-2 {
                        h1 {
                            font-size: 40px;
                            line-height: 46px;
                            letter-spacing: 0.5px;
                            margin: 0 0 30px 0;
                            text-align: center;
                        }
        
                        h3 {
                            font-size: 30px;
                            line-height: 40px;
                            margin: 0;
                            text-align: center;
                        }

                        p {
                            font-size: 16px;
                            line-height: 24px;
                        }
                        p.text-yello {
                            font-size: 16px;
                            line-height: 24px;
                        }
                    } 
                }
            }
          
        }
        
    } 
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    .parent-login-section{ 
        padding-top: 60px;
        padding-bottom: 380px !important;
        height: unset;
         
         .login-box {
             height: unset;
             padding-left: 0;
         }
     }
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {

    .live-lion-meddile-section {

        .live-lion-bg{
                padding: 0 0;
                .live-lion-content{
                    padding: 250px 0 80px;
                .live-lion-caption{
                    h3 {
              
                    }
                    h1 {
                        font-size: 100px;
                        line-height: 120px;
                        margin-top: 0 !important;
                    }
                }
             
            }
        }

        .howitwork-section .the-future-kids {
            grid-template-columns: 1fr 1fr 1fr;
        }

        .curriculum-section {
            .sports-item-list{
                    li {
                    width: 33.33%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 30px;
                    a {
                        display: block;
                        .sports-item-img {
                            width: 80px;
                            height: 80px;
                            padding: 8px;
                            border: 1px solid rgba(11, 19, 55,0.5);
                            border-radius: 100%;
                            overflow: hidden;
                            margin-bottom: 10px;
                            img {
                                width: 100%;
                            }

                            &:after {
                                content: '';
                                border: 6px solid rgba(252, 180, 20,0.5);
                                width: 78px;
                                height: 78px;
                                border-radius: 100%;
                                display: block;
                                display: none;
                                top: 0px;
                                left: 0px;
                                position: absolute;
                                transition: all 0.4 ease-in-out;
                            }
                        }
    
                        span {
                            display: block;
                            text-align: center;
                            color: #0B1337;
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        .shutdown-section  {

            .row-custom {
                display: flex;
                flex-direction: column;

                .left-div{
                    width: 100%;
                    padding: 60px 20px;
                    .shutdown-content{

                        ul {
                            li {
                                p {
                                    font-size: 14px;
                                    line-height: 26px;
                                    span {
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }
                }

                .right-div {
                    width: 100%;
                   padding: 60px 20px;
                    .shut-content-2 {
                        h1 {
                            font-size: 40px;
                            line-height: 46px;
                            letter-spacing: 0.5px;
                            margin: 0 0 30px 0;
                            text-align: center;
                        }
        
                        h3 {
                            font-size: 30px;
                            line-height: 40px;
                            margin: 0;
                            text-align: center;
                        }

                        p {
                            font-size: 16px;
                            line-height: 24px;
                        }
                        p.text-yello {
                            font-size: 16px;
                            line-height: 24px;
                        }
                    } 
                }
            }
          
        }

    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    
    .live-lion-meddile-section .workout-bg .workout-content {
        padding: 290px 0 60px 0;
    }

    .live-lion-meddile-section{

        .parent-login-section{ 
            padding-top: 60px ;
            padding-bottom: 430px;
            height: unset;
            background-size: 100%;
            background-position: bottom center;
             
             .login-box {
                 height: unset;
                 padding-left: 0;
                 padding: 0 100px;
             }
         }

         .curriculum-section {
            .sports-item-list{
                margin-top: 50px;
                    li {
                    width: 25%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 30px;
                    a {
                        display: block;
                        .sports-item-img {
                            width: 105px;
                            height: 105px;
                            padding: 12px;
                            border: 1px solid rgba(11, 19, 55,0.5);
                            border-radius: 100%;
                            overflow: hidden;
                            margin-bottom: 10px;
                            img {
                                width: 100%;
                            }
                        }
    
                        span {
                            display: block;
                            text-align: center;
                            color: #0B1337;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
  
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .live-lion-meddile-section{
        .parent-login-section{ 
            height: unset;
            background-size: 50%;
            background-position: left bottom;
             
             .login-box {
                 height: unset;
                 padding: 80px 50px !important;
             }
         }
    }
    
}

@media (min-width: 1440px) and (max-width: 1920px) {

    .live-lion-meddile-section .workout-bg .workout-content {
        padding-bottom: 60px;
    }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .live-lion-meddile-section{
        .parent-login-section{ 
            height: unset;
            background-size: 50%;
            background-position: left bottom;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
             .login-box {
                 height: unset;
                 padding: 80px 50px !important;
             }
         }
    }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .live-lion-meddile-section {
        .curriculum-section {
            .sports-item-list{
                margin-top: 50px;
                    li {
                    width: 33.33%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 30px;
                    a {
                        display: block;
                        .sports-item-img {
                            width: 105px;
                            height: 105px;
                            padding: 12px;
                            border: 1px solid rgba(11, 19, 55,0.5);
                            border-radius: 100%;
                            overflow: hidden;
                            margin-bottom: 10px;
                            img {
                                width: 100%;
                            }
                        }
    
                        span {
                            display: block;
                            text-align: center;
                            color: #0B1337;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
