@import url("../fonts/Baskerville/Baskerville.css");
.select2-container {
  border-radius: 0 !important;
  border: 0 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 50px !important;
  font-size: 18px;
  line-height: 48px !important;
  font-weight: 500;
  color: #000000;
  border-radius: 0 !important;
  border: 0 !important;
}

.select2-container--default .select2-results__option {
  font-size: 16px;
  line-height: 20px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background: #000000 !important;
  color: #fff;
}

.select2-container--default .select2-selection--single {
  height: 50px !important;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #000000;
  border-radius: 0 !important;
  border: 0 !important;
}

.select2-container--default .select2-selection--single:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 50px !important;
  width: 30px !important;
}

@-webkit-keyframes home-arrow-down {
  from {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
    filter: alpha(opacity=0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  10% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
    filter: alpha(opacity=100);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  to {
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
    filter: alpha(opacity=0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

@keyframes home-arrow-down {
  from {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
    filter: alpha(opacity=0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  10% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
    filter: alpha(opacity=100);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  to {
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
    filter: alpha(opacity=0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

.live-lion-meddile-section {
  margin-top: 0;
}

.live-lion-meddile-section .live-lion-bg {
  background-image: url(../images/workout/bg-live-heart.jpg) !important;
  padding: 0 30px;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.live-lion-meddile-section .live-lion-bg::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #1858be;
  background: -webkit-gradient(linear, left top, right top, from(rgba(24, 88, 190, 0.7)), to(rgba(0, 24, 98, 0.7)));
  background: linear-gradient(90deg, rgba(24, 88, 190, 0.7) 0%, rgba(0, 24, 98, 0.7) 100%);
}

.live-lion-meddile-section .live-lion-bg .live-lion-content {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 150px 0 80px 0;
  position: relative;
}

.live-lion-meddile-section .live-lion-bg .live-lion-content .live-lion-caption {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 54px;
}

.live-lion-meddile-section .live-lion-bg .live-lion-content .live-lion-caption h3 {
  margin: 0 !important;
  font-size: 54px;
  line-height: 66px;
  font-weight: 600;
  text-shadow: 2px 2px #000000;
  padding: 0;
  color: #ffffff;
  text-transform: uppercase;
}

.live-lion-meddile-section .live-lion-bg .live-lion-content .live-lion-caption h1 {
  font-size: 120px;
  line-height: 140px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  margin: 0;
  text-shadow: 2px 2px #000000;
  text-transform: uppercase;
  font-weight: 800;
  padding: 0;
}

.live-lion-meddile-section .live-lion-bg .live-lion-content .live-lion-caption .border-line {
  margin-top: 10px;
  width: 30px;
  height: 6px;
  text-shadow: 2px 2px #000000;
}

.live-lion-meddile-section .live-lion-bg .live-lion-content .live-lion-caption p {
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin: 10px 0;
  text-transform: uppercase;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

.live-lion-meddile-section .live-lion-bg .live-lion-content .live-lion-caption p span {
  display: block;
}

.live-lion-meddile-section .live-lion-bg .live-lion-content .down-scroll {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 70px;
}

.live-lion-meddile-section .live-lion-bg .live-lion-content .down-scroll a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 38px;
  width: 38px;
  border: 2px solid #FCB414;
  border-radius: 100%;
  color: #ffffff;
  font-size: 14px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation-name: home-arrow-down;
          animation-name: home-arrow-down;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.live-lion-meddile-section .live-lion-bg .live-lion-content .down-scroll a::after {
  content: '';
  height: 54px;
  width: 54px;
  position: absolute;
  left: -10px;
  top: -10px;
  border-radius: 100%;
  display: block;
  border: 1px solid #FCB414;
}

.live-lion-meddile-section .howitwork-section {
  padding: 90px 0;
  background-color: #0C0F20;
}

.live-lion-meddile-section .howitwork-section .heading-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.live-lion-meddile-section .howitwork-section .heading-content h3 {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 30px;
  line-height: 48px;
  margin: 0;
}

.live-lion-meddile-section .howitwork-section .heading-content h1 {
  font-size: 56px;
  line-height: 68px;
  font-weight: 800;
  -webkit-text-fill-color: rgba(255, 255, 255, 0) !important;
  -webkit-text-stroke-color: #ffffff !important;
  -webkit-text-stroke-width: 2px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0;
}

.live-lion-meddile-section .howitwork-section .the-future-kids {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  width: 100%;
}

.live-lion-meddile-section .howitwork-section .the-future-kids .future-box {
  background-color: #0C0F20;
  width: 100%;
  border: 1px solid #ffffff;
  margin-bottom: 15px;
  padding: 32px 20px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.live-lion-meddile-section .howitwork-section .the-future-kids .future-box::before {
  content: "";
  background-image: url("../images/workout/box-hover-1.jpg");
  opacity: 0.20;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.live-lion-meddile-section .howitwork-section .the-future-kids .future-box::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(100%, #1a2b90), to(#0b1337));
  background: linear-gradient(0deg, #1a2b90 100%, #0b1337 100%);
  width: 100%;
  height: 100%;
  opacity: 0.3;
  display: none;
}

.live-lion-meddile-section .howitwork-section .the-future-kids .future-box:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.live-lion-meddile-section .howitwork-section .the-future-kids .future-box:hover::before {
  content: "";
  display: block;
}

.live-lion-meddile-section .howitwork-section .the-future-kids .future-box:hover::after {
  content: "";
  display: block;
}

.live-lion-meddile-section .howitwork-section .the-future-kids .future-box .futur-img {
  height: 80px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 50px;
  position: relative;
  z-index: 3;
}

.live-lion-meddile-section .howitwork-section .the-future-kids .future-box .futur-img::after {
  content: '';
  height: 96px;
  width: 96px;
  position: absolute;
  left: -8px;
  top: -8px;
  border-radius: 100%;
  display: block;
  border: 1px solid #ffffff;
}

.live-lion-meddile-section .howitwork-section .the-future-kids .future-box .futur-img img {
  width: 100%;
}

.live-lion-meddile-section .howitwork-section .the-future-kids .future-box .future-content {
  width: 100%;
  position: relative;
  z-index: 3;
}

.live-lion-meddile-section .howitwork-section .the-future-kids .future-box .future-content p {
  font-size: 17px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
}

.live-lion-meddile-section .howitwork-section .the-future-kids .future-box .future-content p span {
  color: #FCB414;
  font-weight: 500;
}

.live-lion-meddile-section .curriculum-section {
  padding: 100px 0 80px 0;
  background-color: #ffffff;
}

.live-lion-meddile-section .curriculum-section .heading-curiculum {
  padding-top: 60px;
  margin-bottom: 35px;
}

.live-lion-meddile-section .curriculum-section .heading-curiculum h3 {
  font-size: 34px;
  line-height: 42px;
  color: #0B1337;
  font-weight: 800;
  margin: 0;
}

.live-lion-meddile-section .curriculum-section .heading-curiculum h1 {
  font-size: 56px;
  line-height: 68px;
  font-weight: 800;
  -webkit-text-fill-color: rgba(255, 255, 255, 0) !important;
  -webkit-text-stroke-color: #0B1337 !important;
  -webkit-text-stroke-width: 2px;
  margin: 0;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.live-lion-meddile-section .curriculum-section .curriculum-content {
  margin-bottom: 30px;
}

.live-lion-meddile-section .curriculum-section .curriculum-content p {
  padding-left: 30px;
  border-left: 3px solid #FCB414;
  font-size: 17px;
  line-height: 30px;
  font-weight: 800;
  letter-spacing: 0.3px;
  color: #0B1337;
}

.live-lion-meddile-section .curriculum-section .curriculum-content p a {
  color: #FCB414;
  text-decoration: underline;
  font-style: italic;
}

.live-lion-meddile-section .curriculum-section .curriculum-content2 p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #0B1337;
}

.live-lion-meddile-section .curriculum-section .sports-item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.live-lion-meddile-section .curriculum-section .sports-item-list li {
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.live-lion-meddile-section .curriculum-section .sports-item-list li a {
  display: block;
}

.live-lion-meddile-section .curriculum-section .sports-item-list li a .sports-item-img {
  width: 105px;
  height: 105px;
  padding: 12px;
  border: 1px solid rgba(11, 19, 55, 0.5);
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}

.live-lion-meddile-section .curriculum-section .sports-item-list li a .sports-item-img img {
  width: 100%;
}

.live-lion-meddile-section .curriculum-section .sports-item-list li a .sports-item-img:after {
  content: '';
  border: 8px solid rgba(252, 180, 20, 0.5);
  width: 103px;
  height: 103px;
  border-radius: 100%;
  display: block;
  display: none;
  top: 0px;
  left: 0px;
  position: absolute;
  -webkit-transition: all 0.4 ease-in-out;
  transition: all 0.4 ease-in-out;
}

.live-lion-meddile-section .curriculum-section .sports-item-list li a:hover .sports-item-img {
  border: 1px solid #FAC44C;
}

.live-lion-meddile-section .curriculum-section .sports-item-list li a:hover .sports-item-img:after {
  display: block;
}

.live-lion-meddile-section .curriculum-section .sports-item-list li a span {
  display: block;
  text-align: center;
  color: #0B1337;
  font-weight: 700;
}

.live-lion-meddile-section .shutdown-section {
  width: 100%;
  position: relative;
  background-color: #151515;
}

.live-lion-meddile-section .shutdown-section .p0 {
  padding: 0;
}

.live-lion-meddile-section .shutdown-section .row-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.live-lion-meddile-section .shutdown-section .row-custom .left-div {
  width: 50%;
  background: #f1a700;
  background: -webkit-gradient(linear, left bottom, left top, from(#f1a700), to(#fcb414));
  background: linear-gradient(0deg, #f1a700 0%, #fcb414 100%);
  padding: 180px 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.live-lion-meddile-section .shutdown-section .row-custom .left-div .shutdown-content {
  max-width: 550px;
  padding-right: 0px;
}

.live-lion-meddile-section .shutdown-section .row-custom .left-div .shutdown-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.live-lion-meddile-section .shutdown-section .row-custom .left-div .shutdown-content ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 30px;
}

.live-lion-meddile-section .shutdown-section .row-custom .left-div .shutdown-content ul li::after {
  position: absolute;
  top: 12px;
  left: 0;
  content: '';
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 100%;
  background-color: #ffffff;
}

.live-lion-meddile-section .shutdown-section .row-custom .left-div .shutdown-content ul li p {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 30px;
}

.live-lion-meddile-section .shutdown-section .row-custom .left-div .shutdown-content ul li p span {
  font-weight: 700;
}

.live-lion-meddile-section .shutdown-section .row-custom .right-div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 40px;
}

.live-lion-meddile-section .shutdown-section .row-custom .right-div .shut-content-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.live-lion-meddile-section .shutdown-section .row-custom .right-div .shut-content-2 h3 {
  font-size: 34px;
  line-height: 42px;
  color: #ffffff;
  margin: 0;
  font-weight: 800;
}

.live-lion-meddile-section .shutdown-section .row-custom .right-div .shut-content-2 h1 {
  margin: 0;
  font-size: 56px;
  line-height: 68px;
  color: #ffffff;
  -webkit-text-fill-color: rgba(255, 255, 255, 0) !important;
  -webkit-text-stroke-color: #ffffff !important;
  -webkit-text-stroke-width: 2px;
  letter-spacing: 0.5px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 42px;
}

.live-lion-meddile-section .shutdown-section .row-custom .right-div .shut-content-2 .img-desktop {
  max-width: 380px;
  margin-bottom: 30px;
}

.live-lion-meddile-section .shutdown-section .row-custom .right-div .shut-content-2 .img-desktop img {
  width: 100%;
}

.live-lion-meddile-section .shutdown-section .row-custom .right-div .shut-content-2 p {
  color: #ffffff;
  font-size: 30px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 10px;
}

.live-lion-meddile-section .shutdown-section .row-custom .right-div .shut-content-2 p.text-yello {
  color: #EBAB1C;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 0;
}

.live-lion-meddile-section .our-client-section {
  padding: 110px 0 140px 0;
  background: #f1a700;
  background: -webkit-gradient(linear, left bottom, left top, from(#f1a700), to(#fcb414));
  background: linear-gradient(0deg, #f1a700 0%, #fcb414 100%);
  position: relative;
}

.live-lion-meddile-section .our-client-section:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(252, 180, 20, 0.8);
  display: block;
  z-index: 1;
}

.live-lion-meddile-section .our-client-section .our-client-inner {
  z-index: 2;
  position: relative;
}

.live-lion-meddile-section .our-client-section .our-client-inner .our-client-heading {
  text-align: center;
}

.live-lion-meddile-section .our-client-section .our-client-inner .our-client-heading h3 {
  font-size: 34px;
  line-height: 42px;
  color: #ffffff;
  margin: 0;
  font-weight: 800;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.live-lion-meddile-section .our-client-section .logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  min-height: 150px;
}

.live-lion-meddile-section .our-client-section .logo-box img {
  width: 100px;
  height: auto;
}

.live-lion-meddile-section .our-client-section .logo-120 img {
  width: 120px;
  height: auto;
}

.live-lion-meddile-section .our-client-section .logo-150 img {
  width: 150px;
  height: auto;
}

.live-lion-meddile-section .our-client-section .logo-200 img {
  width: 200px;
  height: auto;
}

.live-lion-meddile-section .our-client-section .logo-250 img {
  width: 250px;
  height: auto;
}

.live-lion-meddile-section .future-fiteness-section {
  background-image: url(../images/workout/bg-future-fitness.jpg);
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  padding: 160px 0 150px 0;
  position: relative;
}

.live-lion-meddile-section .future-fiteness-section::before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.live-lion-meddile-section .future-fiteness-section .future-fitness-inner {
  z-index: 9;
  position: relative;
}

.live-lion-meddile-section .future-fiteness-section .future-fitness-heading {
  text-align: center;
  color: #FFFFFF;
}

.live-lion-meddile-section .future-fiteness-section .future-fitness-heading h3 {
  font-size: 44px;
  line-height: 48px;
  color: #FFFFFF;
  margin-top: 0;
  font-weight: 600;
  margin-bottom: 65px;
}

.live-lion-meddile-section .future-fiteness-section .future-fitness-content {
  text-align: center;
  max-width: 870px;
  margin: 0 auto;
}

.live-lion-meddile-section .future-fiteness-section .future-fitness-content p {
  color: #FFFFFF;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 50px;
  font-family: 'Baskerville Normal';
}

.live-lion-meddile-section .future-fiteness-section .future-fitness-content h3 {
  font-size: 44px;
  line-height: 43px;
  font-family: 'Baskerville BT Italic';
  color: #FFFFFF;
}

.live-lion-meddile-section .testimonial-section {
  background-color: #002186;
  padding: 85px 0 100px 0;
  position: relative;
  overflow: hidden;
}

.live-lion-meddile-section .testimonial-section .p-0 {
  padding: 0;
}

.live-lion-meddile-section .testimonial-section .testimonial-heading {
  text-align: center;
}

.live-lion-meddile-section .testimonial-section .testimonial-heading h3 {
  font-size: 34px;
  line-height: 42px;
  color: #ffffff;
  margin: 0;
  font-weight: 800;
}

.live-lion-meddile-section .testimonial-section .testimonial-heading h1 {
  margin: 0;
  font-size: 56px;
  line-height: 68px;
  color: #ffffff;
  -webkit-text-fill-color: rgba(255, 255, 255, 0) !important;
  -webkit-text-stroke-color: #ffffff !important;
  -webkit-text-stroke-width: 2px;
  letter-spacing: 0.5px;
  font-weight: 800;
  text-transform: uppercase;
}

.live-lion-meddile-section .testimonial-section .testimonial-heading .border-line {
  margin-top: 10px;
  width: 30px;
  height: 6px;
  text-shadow: 2px 2px #000000;
  background-color: #FCB414;
}

.live-lion-meddile-section .testimonial-section .testimonial-box {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 30px;
}

.live-lion-meddile-section .testimonial-section .testimonial-box p {
  text-align: center;
  font-size: 22px;
  line-height: 38px;
  color: #ffffff;
}

.live-lion-meddile-section .testimonial-section .thumb {
  height: 65px;
  width: 65px;
  border: 3px solid #ffffff;
  border-radius: 100%;
}

.live-lion-meddile-section .testimonial-section .thumb img {
  width: 100%;
}

.live-lion-meddile-section .testimonial-section .thumbs-owl {
  position: relative;
}

.live-lion-meddile-section .testimonial-section .thumbs-owl .owl-nav {
  position: absolute;
  left: 0px;
  top: 5%;
  display: block !important;
  width: 100%;
}

.live-lion-meddile-section .testimonial-section .thumbs-owl .owl-nav button {
  color: #ffffff;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  font-size: 20px;
  box-shadow: none !important;
  outline: 0;
}

.live-lion-meddile-section .testimonial-section .thumbs-owl .owl-nav button:hover {
  background-color: transparent;
}

.live-lion-meddile-section .testimonial-section .thumbs-owl .owl-nav .owl-prev {
  position: absolute;
  left: -20px;
  top: 20%;
}

.live-lion-meddile-section .testimonial-section .thumbs-owl .owl-nav .owl-next {
  top: 20%;
  position: absolute;
  right: -20px;
}

.live-lion-meddile-section .testimonial-section .thumb-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 105px;
  cursor: pointer;
}

.live-lion-meddile-section .testimonial-section .thumb-box .thumbimg {
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 3px solid #0B31A0;
  width: 100%;
  padding-bottom: 15px;
}

.live-lion-meddile-section .testimonial-section .thumb-box .thumb-content {
  opacity: 0;
  text-align: center;
}

.live-lion-meddile-section .testimonial-section .thumb-box .thumb-content h3 {
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

.live-lion-meddile-section .testimonial-section .thumb-box .thumb-content p {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.live-lion-meddile-section .testimonial-section .current .thumbimg {
  position: relative;
}

.live-lion-meddile-section .testimonial-section .current .thumbimg:before {
  position: absolute;
  content: '';
  height: 3px;
  width: 120px;
  background-color: #2969CD;
  bottom: -3px;
  left: 0;
  z-index: 99;
  right: 0;
  margin: 0 auto;
}

.live-lion-meddile-section .testimonial-section .current .thumb-content {
  opacity: 1 !important;
}

.live-lion-meddile-section .testimonial-section .current .thumb {
  height: 104px;
  width: 104px;
  border: 3px solid #ffffff;
  border-radius: 100%;
}

.live-lion-meddile-section .testimonial-section .current .thumb img {
  width: 100%;
}

.live-lion-meddile-section .parent-login-section {
  height: 750px;
  background-color: #ffffff;
  background-image: url(../images/workout/parent-login.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: left bottom;
}

.live-lion-meddile-section .parent-login-section .login-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 750px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 100px;
  width: 100%;
}

.live-lion-meddile-section .parent-login-section .login-box h3 {
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  font-weight: 800;
  margin-bottom: 30px;
}

.live-lion-meddile-section .parent-login-section .login-box .form-group {
  width: 100%;
}

.live-lion-meddile-section .parent-login-section .login-box .form-group .form-control {
  height: 50px;
  border-radius: 4px !important;
  font-weight: 500;
  color: #000000;
}

.live-lion-meddile-section .parent-login-section .login-box .form-group .form-control:focus {
  border-color: #000000;
}

.live-lion-meddile-section .parent-login-section .login-box .forgot-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.live-lion-meddile-section .parent-login-section .login-box .forgot-password .custom-checkbox .custom-control-input {
  position: relative;
  top: 2px;
}

.live-lion-meddile-section .parent-login-section .login-box .forgot-password .custom-checkbox .custom-control-label {
  padding-left: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.live-lion-meddile-section .parent-login-section .login-box .forgot-password .forgot-link {
  color: #0B1337;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.live-lion-meddile-section .parent-login-section .login-box .login-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.live-lion-meddile-section .parent-login-section .login-box .login-buttons .btn-link {
  color: #2969CD;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  width: 100%;
  margin-bottom: 15px;
}

.live-lion-meddile-section .parent-login-section .login-box .login-buttons .btn-login {
  background-color: #0B1337;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  height: 50px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .live-lion-meddile-section .live-lion-bg {
    padding: 0 0;
  }
  .live-lion-meddile-section .live-lion-bg .live-lion-content {
    padding: 250px 0 80px;
  }
  .live-lion-meddile-section .live-lion-bg .live-lion-content .live-lion-caption h3 {
    font-size: 30px;
    line-height: 36px;
  }
  .live-lion-meddile-section .live-lion-bg .live-lion-content .live-lion-caption h1 {
    font-size: 45px;
    line-height: 65px;
  }
  .live-lion-meddile-section .live-lion-bg .live-lion-content .live-lion-caption p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }
  .live-lion-meddile-section .howitwork-section {
    padding: 60px 0;
  }
  .live-lion-meddile-section .howitwork-section .heading-content h3 {
    font-size: 30px;
    line-height: 40px;
    margin: 0;
  }
  .live-lion-meddile-section .howitwork-section .heading-content h1 {
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0.5px;
    margin: 0 0 10px 0;
    text-align: center;
  }
  .live-lion-meddile-section .howitwork-section .the-future-kids {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .live-lion-meddile-section .curriculum-section {
    padding: 60px 0 50px 0;
  }
  .live-lion-meddile-section .curriculum-section .heading-curiculum {
    padding-top: 0;
  }
  .live-lion-meddile-section .curriculum-section .heading-curiculum h3 {
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    text-align: center;
  }
  .live-lion-meddile-section .curriculum-section .heading-curiculum h1 {
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0.5px;
    margin: 0 0 10px 0;
    text-align: center;
  }
  .live-lion-meddile-section .curriculum-section .curriculum-content2 {
    margin-bottom: 40px;
  }
  .live-lion-meddile-section .curriculum-section .sports-item-list li {
    width: 33.33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .live-lion-meddile-section .curriculum-section .sports-item-list li a {
    display: block;
  }
  .live-lion-meddile-section .curriculum-section .sports-item-list li a .sports-item-img {
    width: 80px;
    height: 80px;
    padding: 8px;
    border: 1px solid rgba(11, 19, 55, 0.5);
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .live-lion-meddile-section .curriculum-section .sports-item-list li a .sports-item-img img {
    width: 100%;
  }
  .live-lion-meddile-section .curriculum-section .sports-item-list li a .sports-item-img:after {
    content: '';
    border: 6px solid rgba(252, 180, 20, 0.5);
    width: 78px;
    height: 78px;
    border-radius: 100%;
    display: block;
    display: none;
    top: 0px;
    left: 0px;
    position: absolute;
    -webkit-transition: all 0.4 ease-in-out;
    transition: all 0.4 ease-in-out;
  }
  .live-lion-meddile-section .curriculum-section .sports-item-list li a span {
    display: block;
    text-align: center;
    color: #0B1337;
    font-weight: 700;
  }
  .live-lion-meddile-section .testimonial-section {
    padding: 60px 0;
  }
  .live-lion-meddile-section .testimonial-section .testimonial-heading h3 {
    font-size: 34px;
    line-height: 42px;
    color: #ffffff;
    margin: 0;
    font-weight: 800;
  }
  .live-lion-meddile-section .testimonial-section .testimonial-heading h1 {
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0.5px;
    margin: 0 0 30px 0;
    text-align: center;
  }
  .live-lion-meddile-section .testimonial-section .testimonial-box {
    padding: 20px 20px;
  }
  .live-lion-meddile-section .testimonial-section .testimonial-box P {
    font-size: 16px;
    line-height: 26px;
  }
  .live-lion-meddile-section .testimonial-section .thumb-box .thumb-content h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .live-lion-meddile-section .testimonial-section .thumb-box .thumb-content p {
    font-size: 12px;
    line-height: 16px;
  }
  .live-lion-meddile-section .testimonial-section .current .thumb {
    height: 90px;
    width: 90px;
  }
  .live-lion-meddile-section .our-client-section {
    padding: 60px 0;
  }
  .live-lion-meddile-section .future-fiteness-section {
    padding: 60px 0;
  }
  .live-lion-meddile-section .future-fiteness-section .future-fitness-heading h3 {
    font-size: 34px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 40px;
  }
  .live-lion-meddile-section .future-fiteness-section .future-fitness-content p {
    font-size: 20px;
    line-height: 28px;
  }
  .live-lion-meddile-section .future-fiteness-section .future-fitness-content h3 {
    font-size: 18px;
    line-height: 30px;
  }
  .live-lion-meddile-section .our-client-section .logo-box {
    min-height: 100px;
  }
  .live-lion-meddile-section .our-client-section .img-apple img {
    width: 50px;
  }
  .live-lion-meddile-section .our-client-section .img-bayer img {
    width: 135px;
  }
  .live-lion-meddile-section .our-client-section .img-cicso img {
    width: 90px;
  }
  .live-lion-meddile-section .our-client-section .img-wb img {
    width: 70px;
  }
  .live-lion-meddile-section .our-client-section .img-all-state img {
    width: 150px;
  }
  .live-lion-meddile-section .our-client-section .img-panta img {
    width: 165px;
  }
  .live-lion-meddile-section .our-client-section .img-nasa img {
    width: 105px;
  }
  .live-lion-meddile-section .our-client-section .img-fox img {
    width: 90px;
  }
  .live-lion-meddile-section .our-client-section .img-chase img {
    width: 140px;
  }
  .live-lion-meddile-section .our-client-section .img-ucla img {
    width: 130px;
  }
  .live-lion-meddile-section .our-client-section .img-bright img {
    width: 140px;
  }
  .live-lion-meddile-section .our-client-section .img-sony img {
    width: 110px;
  }
  .live-lion-meddile-section .our-client-section .img-ymca img {
    width: 130px;
  }
  .live-lion-meddile-section .our-client-section .img-paramount img {
    width: 150px;
  }
  .live-lion-meddile-section .our-client-section .img-universal img {
    width: 130px;
  }
  .live-lion-meddile-section .our-client-section .img-pixar img {
    width: 160px;
  }
  .live-lion-meddile-section .parent-login-section {
    padding-top: 60px;
    padding-bottom: 300px;
    height: unset;
    background-size: 100%;
    background-position: bottom;
  }
  .live-lion-meddile-section .parent-login-section .login-box {
    height: unset;
    padding-left: 0;
  }
  .live-lion-meddile-section .shutdown-section .row-custom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .live-lion-meddile-section .shutdown-section .row-custom .left-div {
    width: 100%;
    padding: 60px 20px;
  }
  .live-lion-meddile-section .shutdown-section .row-custom .left-div .shutdown-content ul li p {
    font-size: 14px;
    line-height: 26px;
  }
  .live-lion-meddile-section .shutdown-section .row-custom .left-div .shutdown-content ul li p span {
    font-weight: 600;
  }
  .live-lion-meddile-section .shutdown-section .row-custom .right-div {
    width: 100%;
    padding: 60px 20px;
  }
  .live-lion-meddile-section .shutdown-section .row-custom .right-div .shut-content-2 h1 {
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0.5px;
    margin: 0 0 30px 0;
    text-align: center;
  }
  .live-lion-meddile-section .shutdown-section .row-custom .right-div .shut-content-2 h3 {
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    text-align: center;
  }
  .live-lion-meddile-section .shutdown-section .row-custom .right-div .shut-content-2 p {
    font-size: 16px;
    line-height: 24px;
  }
  .live-lion-meddile-section .shutdown-section .row-custom .right-div .shut-content-2 p.text-yello {
    font-size: 16px;
    line-height: 24px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .parent-login-section {
    padding-top: 60px;
    padding-bottom: 380px !important;
    height: unset;
  }
  .parent-login-section .login-box {
    height: unset;
    padding-left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .live-lion-meddile-section .live-lion-bg {
    padding: 0 0;
  }
  .live-lion-meddile-section .live-lion-bg .live-lion-content {
    padding: 250px 0 80px;
  }
  .live-lion-meddile-section .live-lion-bg .live-lion-content .live-lion-caption h1 {
    font-size: 100px;
    line-height: 120px;
    margin-top: 0 !important;
  }
  .live-lion-meddile-section .howitwork-section .the-future-kids {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .live-lion-meddile-section .curriculum-section .sports-item-list li {
    width: 33.33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .live-lion-meddile-section .curriculum-section .sports-item-list li a {
    display: block;
  }
  .live-lion-meddile-section .curriculum-section .sports-item-list li a .sports-item-img {
    width: 80px;
    height: 80px;
    padding: 8px;
    border: 1px solid rgba(11, 19, 55, 0.5);
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .live-lion-meddile-section .curriculum-section .sports-item-list li a .sports-item-img img {
    width: 100%;
  }
  .live-lion-meddile-section .curriculum-section .sports-item-list li a .sports-item-img:after {
    content: '';
    border: 6px solid rgba(252, 180, 20, 0.5);
    width: 78px;
    height: 78px;
    border-radius: 100%;
    display: block;
    display: none;
    top: 0px;
    left: 0px;
    position: absolute;
    -webkit-transition: all 0.4 ease-in-out;
    transition: all 0.4 ease-in-out;
  }
  .live-lion-meddile-section .curriculum-section .sports-item-list li a span {
    display: block;
    text-align: center;
    color: #0B1337;
    font-weight: 700;
  }
  .live-lion-meddile-section .shutdown-section .row-custom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .live-lion-meddile-section .shutdown-section .row-custom .left-div {
    width: 100%;
    padding: 60px 20px;
  }
  .live-lion-meddile-section .shutdown-section .row-custom .left-div .shutdown-content ul li p {
    font-size: 14px;
    line-height: 26px;
  }
  .live-lion-meddile-section .shutdown-section .row-custom .left-div .shutdown-content ul li p span {
    font-weight: 600;
  }
  .live-lion-meddile-section .shutdown-section .row-custom .right-div {
    width: 100%;
    padding: 60px 20px;
  }
  .live-lion-meddile-section .shutdown-section .row-custom .right-div .shut-content-2 h1 {
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0.5px;
    margin: 0 0 30px 0;
    text-align: center;
  }
  .live-lion-meddile-section .shutdown-section .row-custom .right-div .shut-content-2 h3 {
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    text-align: center;
  }
  .live-lion-meddile-section .shutdown-section .row-custom .right-div .shut-content-2 p {
    font-size: 16px;
    line-height: 24px;
  }
  .live-lion-meddile-section .shutdown-section .row-custom .right-div .shut-content-2 p.text-yello {
    font-size: 16px;
    line-height: 24px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .live-lion-meddile-section .workout-bg .workout-content {
    padding: 290px 0 60px 0;
  }
  .live-lion-meddile-section .parent-login-section {
    padding-top: 60px;
    padding-bottom: 430px;
    height: unset;
    background-size: 100%;
    background-position: bottom center;
  }
  .live-lion-meddile-section .parent-login-section .login-box {
    height: unset;
    padding-left: 0;
    padding: 0 100px;
  }
  .live-lion-meddile-section .curriculum-section .sports-item-list {
    margin-top: 50px;
  }
  .live-lion-meddile-section .curriculum-section .sports-item-list li {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .live-lion-meddile-section .curriculum-section .sports-item-list li a {
    display: block;
  }
  .live-lion-meddile-section .curriculum-section .sports-item-list li a .sports-item-img {
    width: 105px;
    height: 105px;
    padding: 12px;
    border: 1px solid rgba(11, 19, 55, 0.5);
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .live-lion-meddile-section .curriculum-section .sports-item-list li a .sports-item-img img {
    width: 100%;
  }
  .live-lion-meddile-section .curriculum-section .sports-item-list li a span {
    display: block;
    text-align: center;
    color: #0B1337;
    font-weight: 700;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .live-lion-meddile-section .parent-login-section {
    height: unset;
    background-size: 50%;
    background-position: left bottom;
  }
  .live-lion-meddile-section .parent-login-section .login-box {
    height: unset;
    padding: 80px 50px !important;
  }
}

@media (min-width: 1440px) and (max-width: 1920px) {
  .live-lion-meddile-section .workout-bg .workout-content {
    padding-bottom: 60px;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .live-lion-meddile-section .parent-login-section {
    height: unset;
    background-size: 50%;
    background-position: left bottom;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .live-lion-meddile-section .parent-login-section .login-box {
    height: unset;
    padding: 80px 50px !important;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .live-lion-meddile-section .curriculum-section .sports-item-list {
    margin-top: 50px;
  }
  .live-lion-meddile-section .curriculum-section .sports-item-list li {
    width: 33.33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .live-lion-meddile-section .curriculum-section .sports-item-list li a {
    display: block;
  }
  .live-lion-meddile-section .curriculum-section .sports-item-list li a .sports-item-img {
    width: 105px;
    height: 105px;
    padding: 12px;
    border: 1px solid rgba(11, 19, 55, 0.5);
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .live-lion-meddile-section .curriculum-section .sports-item-list li a .sports-item-img img {
    width: 100%;
  }
  .live-lion-meddile-section .curriculum-section .sports-item-list li a span {
    display: block;
    text-align: center;
    color: #0B1337;
    font-weight: 700;
  }
}
/*# sourceMappingURL=line-heart-live.css.map */