.btn-link {
  color: #2969CD !important;
  font-weight: 700 !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-link:hover {
  color: #0B1337 !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.forgot-link {
  color: #0B1337 !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.forgot-link:hover {
  color: #FCB414 !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-login {
  background-color: #0B1337;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-login:hover {
  background-color: #FCB414 !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.custom-checkbox {
  display: block;
}

.custom-checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.custom-checkbox label {
  position: relative;
  cursor: pointer;
  padding-left: 0 !important;
}

.custom-checkbox label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #2969CD;
  padding: 8px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 0px;
}

.custom-checkbox input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 7px;
  width: 6px;
  height: 11px;
  border: solid #2969CD;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 320px) {
  .coach-meddile-section .parent-login-section .login-box .forgot-password .forgot-link {
    font-size: 14px !important;
    line-height: 19px;
  }
  .coach-meddile-section .parent-login-section .login-box .forgot-password .custom-checkbox .custom-control-label {
    font-size: 14px !important;
    line-height: 19px;
  }
}

.workout-header {
  background-color: transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.workout-header .logo img {
  margin-top: 13px;
}

.workout-header .workout-menu {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
  padding-left: 10px;
}

.workout-header .workout-menu li {
  margin: 0;
}

.workout-header .workout-menu li a {
  font-size: 13px;
  margin: 0;
  padding: 0 10px;
  color: #ffffff;
  line-height: 20px;
  min-height: 20px;
  letter-spacing: 0.1px;
  white-space: nowrap;
  text-transform: unset;
}

.workout-header .workout-menu li a:hover {
  color: #FCB414;
}

.workout-header .workout-menu li a.search {
  padding-right: 15px;
}

.workout-header .workout-menu li a.search img {
  width: 16px;
  height: 16px;
}

.workout-header .workout-menu li a.menu-bar img {
  width: 19px;
  height: 14px;
}

.workout-header .workout-menu .last-link-item {
  border-left: 1px solid #ffffff;
  padding-left: 10px;
}

.bg-blue {
  background-color: #00134d !important;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.enroll-meddile-section .footer-workout, .squad-meddile-section .footer-workout, .coach-meddile-section .footer-workout, .workout-meddile-section .footer-workout, .live-lion-meddile-section .footer-workout {
  background-image: url(../images/workout/bg-footer-ghost.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 350px 0 0 0;
  background-blend-mode: luminosity;
  background-color: #FFFFFF;
}

.enroll-meddile-section .footer-workout::before, .squad-meddile-section .footer-workout::before, .coach-meddile-section .footer-workout::before, .workout-meddile-section .footer-workout::before, .live-lion-meddile-section .footer-workout::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(11, 19, 55, 0.9);
}

.enroll-meddile-section .footer-workout .footer-content h3, .squad-meddile-section .footer-workout .footer-content h3, .coach-meddile-section .footer-workout .footer-content h3, .workout-meddile-section .footer-workout .footer-content h3, .live-lion-meddile-section .footer-workout .footer-content h3 {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

.enroll-meddile-section .footer-workout .footer-content ul li a, .squad-meddile-section .footer-workout .footer-content ul li a, .coach-meddile-section .footer-workout .footer-content ul li a, .workout-meddile-section .footer-workout .footer-content ul li a, .live-lion-meddile-section .footer-workout .footer-content ul li a {
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 300;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.enroll-meddile-section .footer-workout .footer-content ul li a:hover, .squad-meddile-section .footer-workout .footer-content ul li a:hover, .coach-meddile-section .footer-workout .footer-content ul li a:hover, .workout-meddile-section .footer-workout .footer-content ul li a:hover, .live-lion-meddile-section .footer-workout .footer-content ul li a:hover {
  color: #FCB414;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.enroll-meddile-section .footer-workout .social-media-content, .squad-meddile-section .footer-workout .social-media-content, .coach-meddile-section .footer-workout .social-media-content, .workout-meddile-section .footer-workout .social-media-content, .live-lion-meddile-section .footer-workout .social-media-content {
  margin-bottom: 60px;
}

.enroll-meddile-section .footer-workout .social-media-content h3, .squad-meddile-section .footer-workout .social-media-content h3, .coach-meddile-section .footer-workout .social-media-content h3, .workout-meddile-section .footer-workout .social-media-content h3, .live-lion-meddile-section .footer-workout .social-media-content h3 {
  margin-bottom: 30px;
}

.enroll-meddile-section .footer-workout .social-media-content ul, .squad-meddile-section .footer-workout .social-media-content ul, .coach-meddile-section .footer-workout .social-media-content ul, .workout-meddile-section .footer-workout .social-media-content ul, .live-lion-meddile-section .footer-workout .social-media-content ul {
  display: block;
}

.enroll-meddile-section .footer-workout .social-media-content ul li, .squad-meddile-section .footer-workout .social-media-content ul li, .coach-meddile-section .footer-workout .social-media-content ul li, .workout-meddile-section .footer-workout .social-media-content ul li, .live-lion-meddile-section .footer-workout .social-media-content ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 12px;
}

.enroll-meddile-section .footer-workout .social-media-content ul li:last-child, .squad-meddile-section .footer-workout .social-media-content ul li:last-child, .coach-meddile-section .footer-workout .social-media-content ul li:last-child, .workout-meddile-section .footer-workout .social-media-content ul li:last-child, .live-lion-meddile-section .footer-workout .social-media-content ul li:last-child {
  margin-right: 0;
}

.enroll-meddile-section .footer-workout .social-media-content ul li a, .squad-meddile-section .footer-workout .social-media-content ul li a, .coach-meddile-section .footer-workout .social-media-content ul li a, .workout-meddile-section .footer-workout .social-media-content ul li a, .live-lion-meddile-section .footer-workout .social-media-content ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  width: 37px;
  height: 37px;
  border-radius: 100%;
  background-color: #000000;
  border: 6px solid #000000;
  position: relative;
}

.enroll-meddile-section .footer-workout .social-media-content ul li a span, .squad-meddile-section .footer-workout .social-media-content ul li a span, .coach-meddile-section .footer-workout .social-media-content ul li a span, .workout-meddile-section .footer-workout .social-media-content ul li a span, .live-lion-meddile-section .footer-workout .social-media-content ul li a span {
  position: absolute;
  margin: 0 auto;
  width: 33px;
  min-width: 33px;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid transparent;
  border-radius: 100%;
  color: #ffffff;
}

.enroll-meddile-section .footer-workout .social-media-content ul li a span i, .squad-meddile-section .footer-workout .social-media-content ul li a span i, .coach-meddile-section .footer-workout .social-media-content ul li a span i, .workout-meddile-section .footer-workout .social-media-content ul li a span i, .live-lion-meddile-section .footer-workout .social-media-content ul li a span i {
  color: #ffffff;
}

.enroll-meddile-section .footer-workout .social-media-content ul li a:hover, .squad-meddile-section .footer-workout .social-media-content ul li a:hover, .coach-meddile-section .footer-workout .social-media-content ul li a:hover, .workout-meddile-section .footer-workout .social-media-content ul li a:hover, .live-lion-meddile-section .footer-workout .social-media-content ul li a:hover {
  background-color: #FCB414;
  border: 6px solid #0B1337;
  color: #000000;
}

.enroll-meddile-section .footer-workout .social-media-content ul li a:hover span, .squad-meddile-section .footer-workout .social-media-content ul li a:hover span, .coach-meddile-section .footer-workout .social-media-content ul li a:hover span, .workout-meddile-section .footer-workout .social-media-content ul li a:hover span, .live-lion-meddile-section .footer-workout .social-media-content ul li a:hover span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #FCB414;
}

.enroll-meddile-section .footer-workout .social-media-content ul li a:hover span i, .squad-meddile-section .footer-workout .social-media-content ul li a:hover span i, .coach-meddile-section .footer-workout .social-media-content ul li a:hover span i, .workout-meddile-section .footer-workout .social-media-content ul li a:hover span i, .live-lion-meddile-section .footer-workout .social-media-content ul li a:hover span i {
  color: #000000;
}

.enroll-meddile-section .footer-workout .social-media-content .address h3, .squad-meddile-section .footer-workout .social-media-content .address h3, .coach-meddile-section .footer-workout .social-media-content .address h3, .workout-meddile-section .footer-workout .social-media-content .address h3, .live-lion-meddile-section .footer-workout .social-media-content .address h3 {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: unset;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.enroll-meddile-section .footer-workout .social-media-content .address p, .squad-meddile-section .footer-workout .social-media-content .address p, .coach-meddile-section .footer-workout .social-media-content .address p, .workout-meddile-section .footer-workout .social-media-content .address p, .live-lion-meddile-section .footer-workout .social-media-content .address p {
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}

.enroll-meddile-section .footer-workout .footer-top, .squad-meddile-section .footer-workout .footer-top, .coach-meddile-section .footer-workout .footer-top, .workout-meddile-section .footer-workout .footer-top, .live-lion-meddile-section .footer-workout .footer-top {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 1;
  position: relative;
}

.enroll-meddile-section .footer-workout .footer-bottom, .squad-meddile-section .footer-workout .footer-bottom, .coach-meddile-section .footer-workout .footer-bottom, .workout-meddile-section .footer-workout .footer-bottom, .live-lion-meddile-section .footer-workout .footer-bottom {
  padding: 20px 0;
}

.enroll-meddile-section .footer-workout .footer-bottom .logo-img, .squad-meddile-section .footer-workout .footer-bottom .logo-img, .coach-meddile-section .footer-workout .footer-bottom .logo-img, .workout-meddile-section .footer-workout .footer-bottom .logo-img, .live-lion-meddile-section .footer-workout .footer-bottom .logo-img {
  display: block;
  height: 50px;
}

.enroll-meddile-section .footer-workout .footer-bottom .logo-img img, .squad-meddile-section .footer-workout .footer-bottom .logo-img img, .coach-meddile-section .footer-workout .footer-bottom .logo-img img, .workout-meddile-section .footer-workout .footer-bottom .logo-img img, .live-lion-meddile-section .footer-workout .footer-bottom .logo-img img {
  width: 150px;
}

.enroll-meddile-section .footer-workout .footer-bottom .footer-navigation, .squad-meddile-section .footer-workout .footer-bottom .footer-navigation, .coach-meddile-section .footer-workout .footer-bottom .footer-navigation, .workout-meddile-section .footer-workout .footer-bottom .footer-navigation, .live-lion-meddile-section .footer-workout .footer-bottom .footer-navigation {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.enroll-meddile-section .footer-workout .footer-bottom .footer-navigation ul, .squad-meddile-section .footer-workout .footer-bottom .footer-navigation ul, .coach-meddile-section .footer-workout .footer-bottom .footer-navigation ul, .workout-meddile-section .footer-workout .footer-bottom .footer-navigation ul, .live-lion-meddile-section .footer-workout .footer-bottom .footer-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 0;
}

.enroll-meddile-section .footer-workout .footer-bottom .footer-navigation ul li, .squad-meddile-section .footer-workout .footer-bottom .footer-navigation ul li, .coach-meddile-section .footer-workout .footer-bottom .footer-navigation ul li, .workout-meddile-section .footer-workout .footer-bottom .footer-navigation ul li, .live-lion-meddile-section .footer-workout .footer-bottom .footer-navigation ul li {
  width: 100%;
  display: inline-block;
}

.enroll-meddile-section .footer-workout .footer-bottom .footer-navigation ul li a, .squad-meddile-section .footer-workout .footer-bottom .footer-navigation ul li a, .coach-meddile-section .footer-workout .footer-bottom .footer-navigation ul li a, .workout-meddile-section .footer-workout .footer-bottom .footer-navigation ul li a, .live-lion-meddile-section .footer-workout .footer-bottom .footer-navigation ul li a {
  padding: 0 20px;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.5px;
  font-weight: 600;
  white-space: nowrap;
}

.enroll-meddile-section .footer-workout .footer-bottom .footer-navigation ul li a:hover, .squad-meddile-section .footer-workout .footer-bottom .footer-navigation ul li a:hover, .coach-meddile-section .footer-workout .footer-bottom .footer-navigation ul li a:hover, .workout-meddile-section .footer-workout .footer-bottom .footer-navigation ul li a:hover, .live-lion-meddile-section .footer-workout .footer-bottom .footer-navigation ul li a:hover {
  color: #FCB414;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.enroll-meddile-section .footer-workout .footer-bottom .copyright-text, .squad-meddile-section .footer-workout .footer-bottom .copyright-text, .coach-meddile-section .footer-workout .footer-bottom .copyright-text, .workout-meddile-section .footer-workout .footer-bottom .copyright-text, .live-lion-meddile-section .footer-workout .footer-bottom .copyright-text {
  padding: 30px 0 10px;
}

.enroll-meddile-section .footer-workout .footer-bottom .copyright-text p, .squad-meddile-section .footer-workout .footer-bottom .copyright-text p, .coach-meddile-section .footer-workout .footer-bottom .copyright-text p, .workout-meddile-section .footer-workout .footer-bottom .copyright-text p, .live-lion-meddile-section .footer-workout .footer-bottom .copyright-text p {
  color: #ffffff;
  text-align: center;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
}

@media (max-width: 767px) {
  .workout-header {
    min-height: 66px;
  }
  .workout-header .workout-menu {
    height: 66px;
    margin-top: 0;
  }
  .workout-header .logo img {
    width: 160px;
  }
  .mobile-hide {
    display: none !important;
  }
  .custom-checkbox input:checked + label:after {
    top: 2px;
  }
  .enroll-meddile-section .footer-workout, .squad-meddile-section .footer-workout, .coach-meddile-section .footer-workout, .workout-meddile-section .footer-workout, .live-lion-meddile-section .footer-workout {
    padding: 150px 0 0 0;
  }
  .enroll-meddile-section .footer-workout .footer-navigation, .squad-meddile-section .footer-workout .footer-navigation, .coach-meddile-section .footer-workout .footer-navigation, .workout-meddile-section .footer-workout .footer-navigation, .live-lion-meddile-section .footer-workout .footer-navigation {
    height: auto;
  }
  .enroll-meddile-section .footer-workout .footer-navigation ul, .squad-meddile-section .footer-workout .footer-navigation ul, .coach-meddile-section .footer-workout .footer-navigation ul, .workout-meddile-section .footer-workout .footer-navigation ul, .live-lion-meddile-section .footer-workout .footer-navigation ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
  }
  .enroll-meddile-section .footer-workout .footer-navigation ul li, .squad-meddile-section .footer-workout .footer-navigation ul li, .coach-meddile-section .footer-workout .footer-navigation ul li, .workout-meddile-section .footer-workout .footer-navigation ul li, .live-lion-meddile-section .footer-workout .footer-navigation ul li {
    margin-bottom: 10px;
  }
  .enroll-meddile-section .footer-workout .social-media-content, .squad-meddile-section .footer-workout .social-media-content, .coach-meddile-section .footer-workout .social-media-content, .workout-meddile-section .footer-workout .social-media-content, .live-lion-meddile-section .footer-workout .social-media-content {
    margin-bottom: 20px;
  }
  .enroll-meddile-section .footer-workout .social-media-content ul, .squad-meddile-section .footer-workout .social-media-content ul, .coach-meddile-section .footer-workout .social-media-content ul, .workout-meddile-section .footer-workout .social-media-content ul, .live-lion-meddile-section .footer-workout .social-media-content ul {
    margin-bottom: 30px;
  }
  .enroll-meddile-section .footer-workout .footer-bottom .logo-img, .squad-meddile-section .footer-workout .footer-bottom .logo-img, .coach-meddile-section .footer-workout .footer-bottom .logo-img, .workout-meddile-section .footer-workout .footer-bottom .logo-img, .live-lion-meddile-section .footer-workout .footer-bottom .logo-img {
    margin: 20px;
  }
  .enroll-meddile-section .footer-workout .footer-bottom .footer-navigation, .squad-meddile-section .footer-workout .footer-bottom .footer-navigation, .coach-meddile-section .footer-workout .footer-bottom .footer-navigation, .workout-meddile-section .footer-workout .footer-bottom .footer-navigation, .live-lion-meddile-section .footer-workout .footer-bottom .footer-navigation {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .workout-header .workout-menu {
    height: 66px;
    margin-top: 0;
  }
  .workout-header .workout-menu li a {
    font-size: 12px;
  }
  .mobile-hide {
    display: none !important;
  }
}
/*# sourceMappingURL=parent-common.css.map */