.btn-link {
    color: #2969CD !important;
    font-weight: 700 !important;
    transition: all 0.3s ease-in-out;
    &:hover {
        color: #0B1337 !important;
        transition: all 0.3s ease-in-out;
    }
}

.forgot-link{
    color: #0B1337 !important;
    transition: all 0.3s ease-in-out;
    &:hover {
        color: #FCB414 !important;
        transition: all 0.3s ease-in-out;
    }
}

.btn-login {
    background-color: #0B1337;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: #FCB414 !important;
        transition: all 0.3s ease-in-out;
    }
}

.custom-checkbox {
    display: block;
  }
  
  .custom-checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .custom-checkbox label {
    position: relative;
    cursor: pointer;
    padding-left: 0 !important;
  }
  
  .custom-checkbox label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #2969CD;
    // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 8px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 0px;
  }
  
  .custom-checkbox input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 7px;
    width: 6px;
    height: 11px;
    border: solid #2969CD;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

@media (max-width: 320px) {
    .coach-meddile-section .parent-login-section .login-box .forgot-password .forgot-link {
        font-size: 14px !important;
        line-height: 19px;
    }
    .coach-meddile-section .parent-login-section .login-box .forgot-password .custom-checkbox .custom-control-label {
        font-size: 14px !important;
        line-height: 19px;  
    }
}

// ==============================================
.workout-header{
    background-color: transparent;
    transition: all 0.4s ease-in-out;

    .logo {
        img {
            margin-top: 13px;
        }
    }

    .workout-menu{
        min-height: 70px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 10px;
        padding-left: 10px;
        li {
            margin: 0;
            a {
                font-size: 13px;
                margin: 0;
                padding: 0 10px;
                color: #ffffff;
                line-height: 20px;
                min-height: 20px;
                letter-spacing: 0.1px;
                white-space: nowrap;
                text-transform: unset;
                &:hover {
                    color: #FCB414;
                }
            }

            a.search {
                padding-right: 15px;
                img {
                    width: 16px;
                    height: 16px;
                }
            }

            a.menu-bar{
                img {
                   width: 19px;
                   height: 14px;
                }
            }
        }

        .last-link-item{
            border-left: 1px solid #ffffff;
            padding-left: 10px;
        }
    }
}

.bg-blue{
    background-color: #00134d !important;
    transition: all 0.4s ease-in-out;
}


// footer

.enroll-meddile-section, .squad-meddile-section, .coach-meddile-section, .workout-meddile-section, .live-lion-meddile-section {

    .footer-workout{
        background-image: url(../images/workout/bg-footer-ghost.jpg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding: 350px 0 0 0;
        background-blend-mode: luminosity;
        background-color: #FFFFFF;

        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: block;
            background-color: rgba(11,19,55,0.9);
            // background: linear-gradient(180deg, rgba(11,19,55,0.0) 0%, rgba(11,19,55,1) 80%);
    
        }


        .footer-content{
            h3 {
                font-size: 14px;
                line-height: 18px;
                color: #ffffff;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 1.5px;
                margin-bottom: 20px;
            }
            ul {
                li {
                    a {
                        font-size: 16px;
                        line-height: 40px;
                        color: #ffffff;
                        font-weight: 300;
                        transition: all 0.3s;
                        &:hover {
                            color: #FCB414;
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }

        .social-media-content{
            margin-bottom: 60px;
            h3 {
                margin-bottom: 30px;
            }
            ul {
                display: block;
                li {
                    display: inline-flex;
                    margin-right: 12px;
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        width: 37px;
                        height: 37px;
                        border-radius: 100%;
                        background-color: #000000;
                        border: 6px solid #000000;
                        position: relative;
                        span {
                            position: absolute;
                            // left: -4px;
                            // top: -4px;
                            margin: 0 auto;
                            width: 33px;
                            min-width: 33px;
                            height: 33px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid transparent;
                            border-radius: 100%;
                            color: #ffffff;
                            i{
                                color: #ffffff;
                            }
                        }
                       &:hover {
                        background-color: #FCB414;
                        border: 6px solid #0B1337;
                        color: #000000;
                        span {
                            display: flex;
                            border: 1px solid #FCB414;
                            i {
                                color: #000000;
                            }
                        }
                       }
                    }
                   
                }
            }

            .address {
                h3 {
                    font-size: 14px;
                    line-height: 18px;
                    color: #ffffff;
                    text-transform: unset;
                    font-weight: 700;
                    letter-spacing: 1.5px;
                }
                p{
                    font-size: 16px;
                    line-height: 30px;
                    color: #ffffff;
                }
            }
        }

        .footer-top{
            padding-bottom: 30px;
            border-bottom: 1px solid rgba(255,255,255, 0.1);
            z-index: 1;
            position: relative;
        }

        .footer-bottom {
            padding: 20px 0;
            .logo-img{
                display: block;
                height: 50px;
                img {
                    width: 150px;
                }
            }


            .footer-navigation{
               height: 50px;
               display: flex;
               align-items: center;
               justify-content: center; 

               ul {
                display: flex;
                width: 100%;
                margin-bottom: 0;
                li {
                    width: 100%;
                    display: inline-block;
                    a {
                        padding: 0 20px;
                        color: #ffffff;
                        font-size: 14px;
                        line-height: 16px;
                        letter-spacing: 1.5px;
                        font-weight: 600;
                        white-space: nowrap;

                        &:hover {
                            color: #FCB414;
                            transition: all .4s ease-in-out;
                        }
                    }
                }
            }
            }

            .copyright-text{
                padding: 30px 0 10px;
                p{
                    color: #ffffff;
                    text-align: center;
                    margin-bottom: 0;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }
}
@media (max-width: 767px)  {

    .workout-header {
        min-height: 66px;
        .workout-menu {
            height: 66px;
            margin-top: 0;
        }

        .logo {
            img {
                width: 160px;
            }
        }
    }

    .mobile-hide {
        display: none !important;
    }

    .custom-checkbox input:checked + label:after {
        top: 2px;
    }

    .enroll-meddile-section, .squad-meddile-section, .coach-meddile-section, .workout-meddile-section, .live-lion-meddile-section {
    .footer-workout{
        padding: 150px 0 0 0;
        .footer-navigation {
            height: auto;
            ul  {
                flex-direction: column;
                padding-top: 20px;
                li {
                    margin-bottom: 10px;
                }
            }
        }

        .social-media-content{
            margin-bottom: 20px;
            ul {
              margin-bottom: 30px;
            }
        }

        .footer-bottom{
            .logo-img {
                margin: 20px;
            }

            .footer-navigation{
                margin-bottom: 10px;
            }
        }
    }
}


}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {

    

    .workout-header .workout-menu {
        height: 66px;
        margin-top: 0;

        li {
            a {
                font-size: 12px;
                
            }
        }
    }
    .mobile-hide {
        display: none !important;
    }
}