.squad-meddile-section {
  margin-top: 0;
}

.squad-meddile-section .squad-bg {
  background-image: url(../images/workout/bg-squad.jpg) !important;
  padding: 0 30px;
  height: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.squad-meddile-section .squad-bg::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #002186;
  background: radial-gradient(circle, rgba(0, 33, 134, 0) 0%, rgba(0, 24, 98, 0.5) 100%);
}

.squad-meddile-section .squad-bg::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 211px;
  display: block;
  background-image: url(../images/workout/coache-shape.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.squad-meddile-section .squad-bg .squad-content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 150px 0 30px 0;
}

.squad-meddile-section .squad-bg .squad-content .squad-caption {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0px;
}

.squad-meddile-section .squad-bg .squad-content .squad-caption h1 {
  margin: 0;
  font-size: 56px;
  line-height: 68px;
  font-weight: 800;
  text-shadow: 2px 2px #000000;
  padding: 0;
  text-transform: uppercase;
}

.squad-meddile-section .squad-bg .squad-content .squad-caption h3 {
  font-size: 54px;
  line-height: 66px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  margin: 0;
  text-shadow: 2px 2px #000000;
  text-transform: uppercase;
}

.squad-meddile-section .squad-bg .squad-content .squad-caption .border-line {
  margin-top: 10px;
  width: 30px;
  height: 6px;
  text-shadow: 2px 2px #000000;
}

.squad-meddile-section .squad-bg .squad-content .squad-player {
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.squad-meddile-section .squad-bg .squad-content .squad-player .squad-player-img {
  height: auto;
  width: 100%;
  max-width: 1000px;
}

.squad-meddile-section .squad-bg .squad-content .squad-player .squad-player-img img {
  width: 100%;
}

.squad-meddile-section .intergalactic-section {
  padding: 80px 0;
  background-image: url(../images/workout/bg-interglatic.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.squad-meddile-section .intergalactic-section:before {
  content: '';
  left: 0;
  top: 0;
  position: absolute;
  background-color: rgba(12, 15, 32, 0.8);
  height: 100%;
  width: 100%;
  display: block;
}

.squad-meddile-section .intergalactic-section .intergalactic-heading {
  text-align: center;
  margin-bottom: 40px;
}

.squad-meddile-section .intergalactic-section .intergalactic-heading h3 {
  font-size: 30px;
  color: #FFFFFF;
  line-height: 48px;
  font-weight: 700;
  margin: 0px;
}

.squad-meddile-section .intergalactic-section .intergalactic-heading h1 {
  font-size: 46px;
  color: white;
  font-weight: 800;
  -webkit-text-stroke-width: 2px;
  line-height: 57px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  -webkit-text-fill-color: rgba(255, 255, 255, 0) !important;
  -webkit-text-stroke-color: white !important;
  margin: 0;
}

.squad-meddile-section .intergalactic-section .intergalactic-heading .border-line {
  margin-top: 10px;
  width: 30px;
  height: 6px;
  text-shadow: 2px 2px #000000;
  background-color: #FCB414;
}

.squad-meddile-section .intergalactic-section .intergalactic-content {
  margin-bottom: 50px;
}

.squad-meddile-section .intergalactic-section .intergalactic-content h4 {
  font-size: 42px;
  line-height: 60px;
  color: #FCB414;
  text-align: center;
  font-weight: 800;
}

.squad-meddile-section .intergalactic-section .intergalactic-content h4 span {
  display: block;
}

.squad-meddile-section .intergalactic-section .intergalactic-content h3 {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 38px;
  font-weight: 600;
  margin-bottom: 40px;
}

.squad-meddile-section .intergalactic-section .intergalactic-content h3 span {
  color: #FCB414;
}

.squad-meddile-section .intergalactic-section .intergalactic-content p {
  font-size: 22px;
  line-height: 38px;
  color: #ffffff;
  padding-left: 30px;
  border-left: 3px solid #FCB414;
}

.squad-meddile-section .intergalactic-section .all-right-reserved {
  height: 80px;
}

.squad-meddile-section .intergalactic-section .all-right-reserved p {
  font-size: 18px;
  line-height: 38px;
  color: #ffffff;
  text-align: center;
  font-weight: 300;
}

.squad-meddile-section .star-squad-section {
  padding: 100px 0 100px 0;
  background-image: url(../images/workout/bg-squad-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.squad-meddile-section .star-squad-section::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.77);
}

.squad-meddile-section .star-squad-section .star-squad-inner {
  position: relative;
  z-index: 1;
}

.squad-meddile-section .star-squad-section .squad-content {
  padding-top: 80px;
  margin-bottom: 36px;
}

.squad-meddile-section .star-squad-section .squad-content h2 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 800;
  color: #FCB414;
  text-shadow: 3px 3px #000000;
}

.squad-meddile-section .star-squad-section .squad-content p {
  font-size: 30px;
  line-height: 42px;
  color: #FCB414;
  font-weight: 600;
  margin-bottom: 0;
  text-shadow: 3px 3px #000000;
}

.squad-meddile-section .star-squad-section .squad-content p span {
  color: #ffffff;
}

.squad-meddile-section .star-squad-section .squad-content-detail p {
  font-size: 26px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 500;
  text-shadow: 3px 3px #000000;
}

.squad-meddile-section .star-squad-section .start-squad-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
}

.squad-meddile-section .star-squad-section .start-squad-image img {
  width: 100%;
}

.squad-meddile-section .star-squad-section .start-squad-image .mx380 {
  max-width: 380px;
}

.squad-meddile-section .star-squad-one {
  background-image: url(../images/workout/bg-squad-1.jpg);
}

.squad-meddile-section .star-squad-one::after {
  background-color: rgba(0, 0, 0, 0.77);
}

.squad-meddile-section .star-squad-two {
  background-image: url(../images/workout/bg-squad-2.jpg);
}

.squad-meddile-section .star-squad-two::after {
  background-color: rgba(0, 0, 0, 0.77);
}

.squad-meddile-section .star-squad-three {
  background-image: url(../images/workout/bg-squad-3.jpg);
}

.squad-meddile-section .star-squad-three::after {
  background-color: rgba(0, 0, 0, 0.77);
}

.squad-meddile-section .star-squad-four {
  background-image: url(../images/workout/bg-squad-4.jpg);
}

.squad-meddile-section .star-squad-four::after {
  background-color: rgba(0, 0, 0, 0.77);
}

.squad-meddile-section .star-squad-five {
  background-image: url(../images/workout/bg-squad-5.jpg);
}

.squad-meddile-section .star-squad-five::after {
  background-color: rgba(0, 0, 0, 0.77);
}

.squad-meddile-section .star-squad-six {
  background-image: url(../images/workout/bg-squad-6.jpg);
}

.squad-meddile-section .star-squad-six::after {
  background-color: rgba(0, 0, 0, 0.77);
}

.squad-meddile-section .star-squad-seven {
  background-image: url(../images/workout/bg-squad-7.jpg);
}

.squad-meddile-section .star-squad-seven::after {
  background-color: rgba(0, 0, 0, 0.77);
}

.squad-meddile-section .star-squad-eight {
  background-image: url(../images/workout/bg-squad-8.jpg);
}

.squad-meddile-section .star-squad-eight::after {
  background-color: rgba(0, 0, 0, 0.77);
}

.squad-meddile-section .star-squad-nine {
  background-image: url(../images/workout/bg-squad-9.jpg);
}

.squad-meddile-section .star-squad-nine::after {
  background-color: rgba(0, 0, 0, 0.77);
}

.squad-meddile-section .star-squad-ten {
  background-image: url(../images/workout/bg-squad-10.jpg);
}

.squad-meddile-section .star-squad-ten::after {
  background-color: rgba(0, 0, 0, 0.77);
}

.squad-meddile-section .star-squad-eleven {
  background-image: url(../images/workout/bg-squad-11.jpg);
}

.squad-meddile-section .star-squad-eleven::after {
  background-color: rgba(0, 0, 0, 0.77);
}

.squad-meddile-section .star-squad-twelve {
  background-image: url(../images/workout/bg-squad-12.jpg);
}

.squad-meddile-section .star-squad-twelve::after {
  background-color: rgba(0, 0, 0, 0.77);
}

.squad-meddile-section .parent-login-section {
  height: 750px;
  background-color: #ffffff;
  background-image: url(../images/workout/parent-login.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: left bottom;
}

.squad-meddile-section .parent-login-section .login-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 750px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 100px;
  width: 100%;
}

.squad-meddile-section .parent-login-section .login-box h3 {
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  font-weight: 800;
  margin-bottom: 30px;
}

.squad-meddile-section .parent-login-section .login-box .form-group {
  width: 100%;
}

.squad-meddile-section .parent-login-section .login-box .form-group .form-control {
  height: 50px;
  border-radius: 4px !important;
  font-weight: 500;
  color: #000000;
}

.squad-meddile-section .parent-login-section .login-box .form-group .form-control:focus {
  border-color: #000000;
}

.squad-meddile-section .parent-login-section .login-box .forgot-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.squad-meddile-section .parent-login-section .login-box .forgot-password .custom-checkbox .custom-control-input {
  position: relative;
  top: 2px;
}

.squad-meddile-section .parent-login-section .login-box .forgot-password .custom-checkbox .custom-control-label {
  padding-left: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.squad-meddile-section .parent-login-section .login-box .forgot-password .forgot-link {
  color: #0B1337;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.squad-meddile-section .parent-login-section .login-box .login-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.squad-meddile-section .parent-login-section .login-box .login-buttons .btn-link {
  color: #2969CD;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  width: 100%;
  margin-bottom: 15px;
}

.squad-meddile-section .parent-login-section .login-box .login-buttons .btn-login {
  background-color: #0B1337;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  height: 50px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .squad-meddile-section .squad-bg {
    padding: 0 0;
  }
  .squad-meddile-section .squad-bg:after {
    background-size: 140%;
  }
  .squad-meddile-section .squad-bg .squad-content {
    padding: 250px 0 20px 0;
  }
  .squad-meddile-section .squad-bg .squad-content .squad-caption h3 {
    font-size: 30px;
    line-height: 36px;
  }
  .squad-meddile-section .squad-bg .squad-content .squad-caption h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .squad-meddile-section .intergalactic-section {
    padding: 50px 0;
  }
  .squad-meddile-section .intergalactic-section .intergalactic-heading h3 {
    font-size: 30px;
    line-height: 40px;
    margin: 0;
  }
  .squad-meddile-section .intergalactic-section .intergalactic-heading h1 {
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0.5px;
    margin: 0 0 10px 0;
  }
  .squad-meddile-section .intergalactic-section .intergalactic-content h4 {
    font-size: 30px;
    line-height: 40px;
    margin: 0;
  }
  .squad-meddile-section .intergalactic-section .intergalactic-content h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }
  .squad-meddile-section .intergalactic-section .intergalactic-content p {
    padding-left: 20px;
    font-size: 18px;
    line-height: 28px;
  }
  .squad-meddile-section .star-squad-section {
    padding: 50px 0;
  }
  .squad-meddile-section .star-squad-section .squad-content {
    padding-top: 20px;
  }
  .squad-meddile-section .star-squad-section .squad-content h2 {
    font-size: 32px;
    line-height: 46px;
  }
  .squad-meddile-section .star-squad-section .squad-content p {
    font-size: 22px;
    line-height: 30px;
  }
  .squad-meddile-section .star-squad-section .squad-content-detail p {
    font-size: 20px;
    line-height: 28px;
  }
  .squad-meddile-section .odd-section .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .squad-meddile-section .parent-login-section {
    padding-top: 60px;
    padding-bottom: 300px;
    height: unset;
    background-size: 100%;
    background-position: bottom;
  }
  .squad-meddile-section .parent-login-section .login-box {
    height: unset;
    padding-left: 0;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .parent-login-section {
    padding-top: 60px;
    padding-bottom: 380px !important;
    height: unset;
  }
  .parent-login-section .login-box {
    height: unset;
    padding-left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .squad-meddile-section .squad-bg {
    padding: 0 0;
  }
  .squad-meddile-section .squad-bg .coach-content {
    padding: 250px 0 40px;
  }
  .squad-meddile-section .squad-bg .coach-content .coach-caption h1 {
    margin-top: 0 !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .squad-meddile-section .parent-login-section {
    padding-top: 60px;
    padding-bottom: 430px;
    height: unset;
    background-size: 100%;
    background-position: bottom center;
  }
  .squad-meddile-section .parent-login-section .login-box {
    height: unset;
    padding-left: 0;
    padding: 0 100px;
  }
  .squad-meddile-section .intergalactic-section .intergalactic-heading h1 {
    font-size: 36px;
    line-height: 46px;
  }
  .squad-meddile-section .star-squad-section {
    padding: 50px 0;
  }
  .squad-meddile-section .star-squad-section .start-squad-image img {
    max-width: 350px;
  }
  .squad-meddile-section .star-squad-section .squad-content {
    padding-top: 35px;
  }
  .squad-meddile-section .star-squad-section .squad-content h2 {
    font-size: 32px;
    line-height: 46px;
  }
  .squad-meddile-section .star-squad-section .squad-content p {
    font-size: 22px;
    line-height: 30px;
  }
  .squad-meddile-section .star-squad-section .squad-content-detail p {
    font-size: 20px;
    line-height: 28px;
  }
  .squad-meddile-section .odd-section .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .squad-meddile-section .star-squad-section {
    padding: 50px 0;
  }
  .squad-meddile-section .star-squad-section .start-squad-image {
    padding: 0 20px;
  }
  .squad-meddile-section .star-squad-section .start-squad-image img {
    max-width: 350px;
  }
  .squad-meddile-section .star-squad-section .squad-content {
    padding-top: 30px;
  }
  .squad-meddile-section .star-squad-section .squad-content h2 {
    font-size: 32px;
    line-height: 46px;
  }
  .squad-meddile-section .star-squad-section .squad-content p {
    font-size: 22px;
    line-height: 30px;
  }
  .squad-meddile-section .star-squad-section .squad-content-detail p {
    font-size: 20px;
    line-height: 28px;
  }
  .squad-meddile-section .parent-login-section {
    height: unset;
  }
  .squad-meddile-section .parent-login-section .login-box {
    height: unset;
    padding: 80px 50px !important;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .squad-meddile-section .parent-login-section {
    height: unset;
    background-size: 50%;
    background-position: left bottom;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .squad-meddile-section .parent-login-section .login-box {
    height: unset;
    padding: 80px 50px !important;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .squad-meddile-section .odd-section .row {
    display: block;
  }
}

@media (max-width: 1920px) and (min-width: 1440px) {
  .squad-meddile-section .squad-bg::after {
    height: 280px;
    background-position: top center;
  }
  .squad-meddile-section .parent-login-section {
    height: unset;
    background-size: 50%;
    background-position: left bottom;
  }
  .squad-meddile-section .parent-login-section .login-box {
    height: unset;
    padding: 80px 50px !important;
  }
}
/*# sourceMappingURL=squad.css.map */