
.squad-meddile-section{
    margin-top: 0;
    .squad-bg {
        background-image: url(../images/workout/bg-squad.jpg) !important;
        padding: 0 30px;
        height: 100%;
        min-height: 100vh;
        background-attachment: fixed;
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: block;
            background: rgb(0,33,134);
            background: radial-gradient(circle, rgba(0,33,134,0) 0%, rgba(0,24,98,0.5) 100%);
        }

        &::after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 100%;
            height: 211px;
            display: block;
            background-image: url(../images/workout/coache-shape.svg);
            background-position: bottom center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .squad-content {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding:  150px 0 30px 0;

                .squad-caption{
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin-bottom: 0px;
                    h1 {
                        margin: 0;
                        font-size: 56px;
                        line-height: 68px;
                        font-weight: 800;
                        text-shadow: 2px 2px #000000;
                        padding: 0;
                        text-transform: uppercase;
                    }
                    h3 {
                        font-size: 54px;
                        line-height: 66px;
                        color: #ffffff;
                        font-weight: 500;
                        text-align: center;
                        margin: 0;
                        text-shadow: 2px 2px #000000;
                        text-transform: uppercase;
                    }
                    .border-line{
                        margin-top: 10px;
                        width: 30px;
                        height: 6px;
                        text-shadow: 2px 2px #000000;
                    }
                }

                .squad-player {
                    height: auto;
                    margin: 0 auto;
                    width: 100%;
                    position: relative;
                    z-index: 99;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    .squad-player-img{
                        height: auto;
                        width: 100%;
                        max-width: 1000px;
                        img {
                            width: 100%;
                        }
                    }
                }
        }
    }

    .intergalactic-section {
        padding: 80px 0;
        background-image: url(../images/workout/bg-interglatic.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        &:before {
            content: '';
            left: 0;
            top: 0;
            position: absolute;
            background-color: rgba(12, 15, 32,0.80);
            height: 100%;
            width: 100%;
            display: block;
        }

        .intergalactic-heading{
            text-align: center;
            margin-bottom: 40px;
            h3 {
                font-size: 30px;
                color: #FFFFFF;
                line-height: 48px;
                font-weight: 700;
                margin: 0px;
            }

            h1 {
                font-size: 46px;
                color: rgb(255, 255, 255);
                font-weight: 800;
                -webkit-text-stroke-width: 2px;
                line-height: 57px;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                -webkit-text-fill-color: rgba(255, 255, 255, 0) !important;
                -webkit-text-stroke-color: rgb(255, 255, 255) !important;
                margin: 0;
            }

            .border-line {
                margin-top: 10px;
                width: 30px;
                height: 6px;
                text-shadow: 2px 2px #000000;
                background-color: #FCB414;
            }
        }

        .intergalactic-content{
            margin-bottom: 50px;
          
            h4 {
                font-size: 42px;
                line-height: 60px;
                color: #FCB414;
                text-align: center;
                font-weight: 800;
                span {
                    display: block;
                }
            }
            h3 {
                color: #FFFFFF;
                font-size: 22px;
                line-height: 38px;
                font-weight: 600;
                margin-bottom: 40px;
                span {
                    color: #FCB414;
                }
            }

            p {
                font-size: 22px;
                line-height: 38px;
                color: #ffffff;
                padding-left: 30px;
                border-left: 3px solid #FCB414;
            }

           
        }
        .all-right-reserved{
            height: 80px;

            p {
                font-size: 18px;
                line-height: 38px;
                color: #ffffff;
                text-align: center;
                font-weight: 300;
            }
        }
    }


    .star-squad-section{
        padding: 100px 0 100px 0; 
        background-image: url(../images/workout/bg-squad-1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.77);
        }

        .star-squad-inner {
            position: relative;
            z-index: 1;
        }
        .squad-content {
            padding-top: 80px;
            margin-bottom: 36px;
            h2 {
                font-size: 48px;
                line-height: 58px;
                font-weight: 800;
                color: #FCB414;
                text-shadow: 3px 3px #000000;
            }
            p {
                font-size: 30px;
                line-height: 42px;
                color: #FCB414;
                font-weight: 600;
                margin-bottom: 0;
                text-shadow: 3px 3px #000000;
                span {
                    color: #ffffff;
                }
            }
        }

        .squad-content-detail { 
            p {
                font-size: 26px;
                line-height: 40px;
                color: #ffffff;
                font-weight: 500;
                text-shadow: 3px 3px #000000;
            }
        }

        // img

        .start-squad-image{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding: 0 30px;
            img {
                width: 100%;
            }
            .mx380 {
                max-width: 380px;
            }
        }
    }


    .star-squad-one {
        background-image: url(../images/workout/bg-squad-1.jpg);
        &::after {
            background-color: rgba(0, 0, 0, 0.77);
        }
     
    }

    .star-squad-two {
        background-image: url(../images/workout/bg-squad-2.jpg);
        &::after {
            background-color: rgba(0, 0, 0, 0.77);
        }
     
    }

    .star-squad-three {
        background-image: url(../images/workout/bg-squad-3.jpg);
        &::after {
            background-color: rgba(0, 0, 0, 0.77);
        }
     
    }

    .star-squad-four {
        background-image: url(../images/workout/bg-squad-4.jpg);
        &::after {
            background-color: rgba(0, 0, 0, 0.77);
        }
       
    }

    .star-squad-five {
        background-image: url(../images/workout/bg-squad-5.jpg);
        &::after {
            background-color: rgba(0, 0, 0, 0.77);
        }
       
    }

    .star-squad-six {
        background-image: url(../images/workout/bg-squad-6.jpg);
        &::after {
            background-color: rgba(0, 0, 0, 0.77);
        }
      
    }

    .star-squad-seven {
        background-image: url(../images/workout/bg-squad-7.jpg);
        &::after {
            background-color: rgba(0, 0, 0, 0.77);
        }
      
    }

    .star-squad-eight {
        background-image: url(../images/workout/bg-squad-8.jpg);
        &::after {
            background-color: rgba(0, 0, 0, 0.77);
        }
       
    }

    .star-squad-nine {
        background-image: url(../images/workout/bg-squad-9.jpg);
        &::after {
            background-color: rgba(0, 0, 0, 0.77);
        }
      
    }

    .star-squad-ten {
        background-image: url(../images/workout/bg-squad-10.jpg);
        &::after {
            background-color: rgba(0, 0, 0, 0.77);
        }
      
    }

    .star-squad-eleven {
        background-image: url(../images/workout/bg-squad-11.jpg);
        &::after {
            background-color: rgba(0, 0, 0, 0.77);
        }
       
    }

    .star-squad-twelve {
        background-image: url(../images/workout/bg-squad-12.jpg);
        &::after {
            background-color: rgba(0, 0, 0, 0.77);
        }
    }

    .parent-login-section{
        height: 750px;
        background-color: #ffffff;
        background-image: url(../images/workout/parent-login.jpg);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: left bottom;

        .login-box{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 750px;
                flex-direction: column;
                padding-left: 100px;
                width: 100%;
                h3 {
                    font-size: 32px;
                    line-height: 39px;
                    color: #000000;
                    font-weight: 800;
                    margin-bottom: 30px;
                }

                .form-group {
                    width: 100%;
                    .form-control {
                        height: 50px;
                        border-radius: 4px !important;
                        font-weight: 500;
                        color: #000000;
                        &:focus
                         {
                             border-color: #000000;
                         }
                    }
                }

                .forgot-password{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 30px;
                    .custom-checkbox{
                        .custom-control-input{
                            position: relative;
                            top: 2px;
                        }
                        .custom-control-label{
                            padding-left: 5px;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 19px;
                        }
                    }

                    .forgot-link {
                        color: #0B1337;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 19px;
                    }
                    
                }

                .login-buttons{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    .btn-link {
                        color: #2969CD;
                        font-size: 16px;
                        line-height: 19px;
                        font-weight: 600;
                        width: 100%;
                        margin-bottom: 15px;
                    }
                   .btn-login {
                       background-color: #0B1337;
                       color: #ffffff;
                       font-size: 16px;
                       line-height: 19px;
                       width: 100%;
                       height: 50px;
                       font-weight: 600;
                       display: flex;
                       align-items: center;
                       justify-content: center;
                   }
                    
                }
        }
    }

}


@media (max-width: 767px)  {



    .squad-meddile-section {
        .squad-bg{
                padding: 0 0;

                &:after {
                    background-size: 140%;
                }
                .squad-content{
                    padding: 250px 0 20px 0;
                .squad-caption{
                    h3 {
                        font-size: 30px;
                        line-height: 36px;
                    }
                    h1 {
                        font-size: 40px;
                        line-height: 50px;
                    }
                }

            
            }

            
        }

        .intergalactic-section {
            padding: 50px 0;
            .intergalactic-heading{
                h3 {
                    font-size: 30px;
                    line-height: 40px;
                    margin: 0;
                }
                h1 {
                    font-size: 40px;
                    line-height: 46px;
                    letter-spacing: 0.5px;
                    margin: 0 0 10px 0;
                }
            }

            .intergalactic-content {

                h4 {
                    font-size: 30px;
                    line-height: 40px;
                    margin: 0;
                }
                h3 {
                    font-size: 20px;
                    line-height: 30px;
                    font-weight: 500;
                }

                p {
                    padding-left: 20px;
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }

      
        .star-squad-section{
            padding: 50px 0;

            .squad-content{
                padding-top: 20px;
                h2 {
                    font-size: 32px;
                    line-height: 46px;
                }
                p {
                    font-size: 22px;
                    line-height: 30px;
                    span{

                    }
                }
            }

            .squad-content-detail{
                p {
                    font-size: 20px;
                    line-height: 28px;
                }
            }
        }
       
        .odd-section {
            .row {
                display: flex;
                flex-direction: column-reverse;
            }
        }
        .parent-login-section{ 
            padding-top: 60px;
            padding-bottom: 300px;
            height: unset;
            background-size: 100%;
            background-position: bottom;
             
             .login-box {
                 height: unset;
                 padding-left: 0;
             }
        }


    }

    

  
  

   
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    .parent-login-section{ 
        padding-top: 60px;
        padding-bottom: 380px !important;
        height: unset;
         
         .login-box {
             height: unset;
             padding-left: 0;
            
         }
     }
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
  


    .squad-meddile-section {
        .squad-bg{
            padding: 0 0;
            .coach-content{
                padding: 250px 0 40px;
            .coach-caption{
                h3 {
                   
                }

                h1 {
                   
                    margin-top: 0 !important;
                }
                }      
            }
        }
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .squad-meddile-section {
    .parent-login-section{ 
        padding-top: 60px ;
        padding-bottom: 430px;
        height: unset;
        background-size: 100%;
        background-position: bottom center;
         
         .login-box {
             height: unset;
             padding-left: 0;
             padding: 0 100px;
         }
     }

     .intergalactic-section .intergalactic-heading h1 {
         font-size: 36px;
         line-height: 46px;
     }

     .star-squad-section{
        padding: 50px 0;
        .start-squad-image{
           img {
               max-width: 350px;
           }
        }
        .squad-content{
            padding-top: 35px;
            h2 {
                font-size: 32px;
                line-height: 46px;
            }
            p {
                font-size: 22px;
                line-height: 30px;
               
            }
        }

        .squad-content-detail{
            p {
                font-size: 20px;
                line-height: 28px;
            }
        }
    }

      .odd-section {
        .row {
            display: flex;
            flex-direction: column-reverse;
        }
    }
   
  
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
  
    .squad-meddile-section {
        .star-squad-section{
            padding: 50px 0;
            .start-squad-image{
                padding: 0 20px;
               img {
                   max-width: 350px;
               }
            }
            .squad-content{
                padding-top: 30px;
                h2 {
                    font-size: 32px;
                    line-height: 46px;
                }
                p {
                    font-size: 22px;
                    line-height: 30px;
                   
                }
            }
    
            .squad-content-detail{
                p {
                    font-size: 20px;
                    line-height: 28px;
                }
            }
        } 
        
        .parent-login-section{
            height: unset;
                .login-box {
                    height: unset;
                    padding: 80px 50px !important;
            }
        }     
    }
  }





@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .squad-meddile-section{
        .parent-login-section{ 
            height: unset;
            background-size: 50%;
            background-position: left bottom;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
             .login-box {
                 height: unset;
                 padding: 80px 50px !important;
             }
         }
    }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .squad-meddile-section {
        .odd-section {
            .row {
                display: block;
            }
        }
        .star-squad-section .start-squad-image {
           img {
            // max-width: 350px;
           }
        }
    }
}

@media (max-width: 1920px) and (min-width: 1440px){
    .squad-meddile-section {

        .squad-bg {
            &::after {
                height: 280px;
                background-position: top center;
            }
        }
        
        .parent-login-section{ 
            height: unset;
            background-size: 50%;
            background-position: left bottom;
             
             .login-box {
                 height: unset;
                 padding: 80px 50px !important;
             }
        }
    }
}
