.workout-meddile-section {
  margin-top: 0;
}

.workout-meddile-section .workout-bg {
  background-image: url(../images/workout/banner-workout.jpg) !important;
  padding: 0 30px;
  height: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.workout-meddile-section .workout-bg::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #1858be;
  background: -webkit-gradient(linear, left top, right top, from(rgba(24, 88, 190, 0.7)), to(rgba(0, 24, 98, 0.7)));
  background: linear-gradient(90deg, rgba(24, 88, 190, 0.7) 0%, rgba(0, 24, 98, 0.7) 100%);
}

.workout-meddile-section .workout-bg::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 211px;
  display: block;
  background-image: url(../images/workout/oval-workout.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.workout-meddile-section .workout-bg .workout-content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 150px 0 80px 0;
}

.workout-meddile-section .workout-bg .workout-content .workout-caption {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 54px;
}

.workout-meddile-section .workout-bg .workout-content .workout-caption h1 {
  margin: 0;
  font-size: 56px;
  line-height: 68px;
  font-weight: 800;
  text-shadow: 2px 2px #000000;
  padding: 0;
  text-transform: uppercase;
}

.workout-meddile-section .workout-bg .workout-content .workout-caption h3 {
  font-size: 54px;
  line-height: 66px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  margin: 0;
  text-shadow: 2px 2px #000000;
  text-transform: uppercase;
}

.workout-meddile-section .workout-bg .workout-content .workout-caption .border-line {
  margin-top: 10px;
  width: 30px;
  height: 6px;
  text-shadow: 2px 2px #000000;
}

.workout-meddile-section .workout-bg .workout-content .video-conatainer {
  min-height: 384px;
  width: 100%;
  max-width: 900px;
  z-index: 99;
  position: relative;
}

.workout-meddile-section .workout-bg .workout-content .video-conatainer .counter-div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 999;
  background-image: url(../images/blue-filter.jpg);
  background-size: cover;
  background-position: center center;
  opacity: 0.95;
}

.workout-meddile-section .workout-bg .workout-content .video-conatainer .counter-div .counter-headig {
  position: relative;
  top: -50px;
}

.workout-meddile-section .workout-bg .workout-content .video-conatainer .counter-div .counter-headig p {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.workout-meddile-section .workout-bg .workout-content .video-conatainer .counter-div .counter {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.workout-meddile-section .workout-bg .workout-content .video-conatainer .counter-div .counter li {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-right: 10px;
}

.workout-meddile-section .workout-bg .workout-content .video-conatainer .counter-div .counter li:last-child {
  margin-right: 0;
}

.workout-meddile-section .workout-bg .workout-content .video-conatainer .counter-div .counter li span {
  color: #ffffff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.workout-meddile-section .workout-bg .workout-content .video-conatainer .counter-div .counter li .counter-text {
  color: #ffffff;
  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
}

.workout-meddile-section .workout-bg .workout-content .video-conatainer .player .vp-controls {
  position: relative;
}

.workout-meddile-section .workout-bg .workout-content .video-conatainer .player .vp-controls::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #ffffff;
}

.workout-meddile-section .archive-video-section {
  background-color: #0C0F20;
  padding: 80px 0;
}

.workout-meddile-section .archive-video-section .archive-video-div .archive-vedio-header {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

.workout-meddile-section .archive-video-section .archive-video-div .archive-vedio-header h3 {
  font-size: 30px;
  color: #ffffff;
  line-height: 48px;
  margin: 0;
  font-weight: 700;
}

.workout-meddile-section .archive-video-section .archive-video-div .archive-vedio-header h2 {
  font-size: 68px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 800;
  -webkit-text-fill-color: rgba(255, 255, 255, 0) !important;
  -webkit-text-stroke-color: #ffffff !important;
  -webkit-text-stroke-width: 2px;
  line-height: 68px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.workout-meddile-section .archive-video-section .archive-video-div .archive-vedio-header .border-line {
  margin: 0 auto;
  padding: 0;
  width: 30px;
  background-color: #fdb413;
  height: 6px;
}

.workout-meddile-section .archive-video-section .video-listing .row {
  margin: 0 -7px;
}

.workout-meddile-section .archive-video-section .video-listing .row .pad-7 {
  padding: 0 7px !important;
}

.workout-meddile-section .archive-video-section .video-listing .video-box {
  height: 222px;
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  overflow: hidden;
}

.workout-meddile-section .archive-video-section .video-listing .video-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: -webkit-transform 1s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: transform 1s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: transform 1s cubic-bezier(0.475, 0.425, 0, 0.995), -webkit-transform 1s cubic-bezier(0.475, 0.425, 0, 0.995);
}

.workout-meddile-section .archive-video-section .video-listing .video-box:hover img {
  -webkit-transform: scale(1.3) rotate(0deg);
          transform: scale(1.3) rotate(0deg);
}

.workout-meddile-section .archive-video-section .video-listing .video-box .video-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.workout-meddile-section .archive-video-section .video-listing .video-box .video-content h2 {
  font-size: 24px;
  line-height: 25px;
  color: #ffffff;
  margin: 5px 0;
  position: relative;
  z-index: 2;
}

.workout-meddile-section .archive-video-section .video-listing .video-box .video-content p {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  .workout-meddile-section .workout-bg {
    padding: 0 0;
  }
  .workout-meddile-section .workout-bg .workout-content {
    padding: 250px 0 80px;
  }
  .workout-meddile-section .workout-bg .workout-content .workout-caption h3 {
    font-size: 30px;
    line-height: 36px;
  }
  .workout-meddile-section .workout-bg .workout-content .workout-caption h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .workout-meddile-section .workout-bg .workout-content .video-conatainer {
    min-height: unset;
  }
  .workout-meddile-section .workout-bg .workout-content .video-conatainer .counter-div .counter-headig {
    position: relative;
    top: -10px;
    padding: 0 50px;
  }
  .workout-meddile-section .workout-bg .workout-content .video-conatainer .counter-div .counter-headig p {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
  }
  .workout-meddile-section .workout-bg .workout-content .video-conatainer .counter-div .counter li {
    height: 60px;
    width: 60px;
  }
  .workout-meddile-section .workout-bg .workout-content .video-conatainer .counter-div .counter li span {
    font-size: 16px;
    line-height: 26px;
  }
  .workout-meddile-section .workout-bg .workout-content .video-conatainer .counter-div .counter li .counter-text {
    font-size: 10px;
    line-height: 14px;
  }
  .workout-meddile-section .archive-video-section .archive-video-div .archive-vedio-header h3 {
    font-size: 30px;
    line-height: 40px;
    margin: 0;
  }
  .workout-meddile-section .archive-video-section .archive-video-div .archive-vedio-header h2 {
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0.5px;
    margin: 0 0 10px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .workout-meddile-section .workout-bg {
    padding: 0 0;
  }
  .workout-meddile-section .workout-bg .workout-content {
    padding: 250px 0 80px;
  }
  .workout-meddile-section .workout-bg .workout-content .workout-caption h1 {
    margin-top: 0 !important;
  }
  .workout-meddile-section .workout-bg .workout-content .video-conatainer {
    min-height: unset;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .workout-meddile-section .workout-bg .workout-content {
    padding: 290px 0 60px 0;
  }
}

@media (min-width: 1440px) and (max-width: 1920px) {
  .workout-meddile-section .workout-bg .workout-content {
    padding-bottom: 60px;
  }
}
/*# sourceMappingURL=workout.css.map */