

.workout-meddile-section{
    margin-top: 0;
    .workout-bg {
        background-image: url(../images/workout/banner-workout.jpg) !important;
        padding: 0 30px;
        height: 100%;
        min-height: 100vh;
        background-attachment: fixed;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: block;
            background: rgb(24,88,190);
            background: linear-gradient(90deg, rgba(24,88,190,0.7) 0%, rgba(0,24,98,0.7) 100%);
        }

        &::after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 100%;
            height: 211px;
            display: block;
            background-image: url(../images/workout/oval-workout.svg);
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .workout-content {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding:  150px 0 80px 0;
                .workout-caption{
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin-bottom: 54px;
                    h1 {
                        margin: 0;
                        font-size: 56px;
                        line-height: 68px;
                        font-weight: 800;
                        text-shadow: 2px 2px #000000;
                        padding: 0;
                        text-transform: uppercase;
                    }
                    h3 {
                        font-size: 54px;
                        line-height: 66px;
                        color: #ffffff;
                        font-weight: 500;
                        text-align: center;
                        margin: 0;
                        text-shadow: 2px 2px #000000;
                        text-transform: uppercase;
                    }
                    .border-line{
                        margin-top: 10px;
                        width: 30px;
                        height: 6px;
                        text-shadow: 2px 2px #000000;
                    }
                }

                .video-conatainer{
                    min-height: 384px;
                    width: 100%;
                    max-width: 900px;
                    z-index: 99;
                    position: relative;

                    .counter-div {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        z-index: 999;
                        background-image: url(../images/blue-filter.jpg);
                        background-size: cover;
                        background-position: center center;
                        opacity: 0.95;
                        
                        .counter-headig{
                            position: relative;
                            top: -50px;
                            p {
                                text-align: center;
                                font-size: 16px;
                                line-height: 26px;
                                color: #ffffff;
                            }
                        }

                        .counter {
                                margin: 0;
                                padding: 0;
                                list-style: none;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                li {
                                    width: 80px;
                                    height: 80px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-direction: column;
                                    background-color: transparent;
                                    border: 1px solid rgba(255, 255, 255, 0.5);
                                    margin-right: 10px;

                                    &:last-child {
                                        margin-right: 0;
                                    }
                                    span {
                                        color: #ffffff;
                                        font-size: 24px;
                                        line-height: 32px;
                                        font-weight: 600;
                                    }

                                    .counter-text{
                                        color: #ffffff;
                                        font-size: 12px;
                                        line-height: 22px;
                                        font-weight: 500;
                                    }
                                }
                            }
                        }

                    .player {
                        .vp-controls{
                            position: relative;
                            &::before {
                                position: absolute;
                                content: '';
                                left: 0;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                width: 100%;
                                height: 100%;
                                display: block;
                                background-color: #ffffff;
                            }
                        }
                    }
                   
                }
        }



    }


    .archive-video-section{
        background-color: #0C0F20;
        padding: 80px 0;
        .archive-video-div {
            .archive-vedio-header{
                display: block;
                text-align: center;
                margin-bottom: 60px;
                h3 {
                    font-size: 30px;
                    color: #ffffff;
                    line-height: 48px;
                    margin: 0;
                    font-weight: 700;

                }
                h2 {
                    font-size: 68px;
                    line-height: 26px;
                    color: #ffffff;
                    font-weight: 800;
                    -webkit-text-fill-color: hsla(0,0%,100%,0) !important;
                    -webkit-text-stroke-color: #ffffff !important;
                    -webkit-text-stroke-width: 2px;
                    line-height: 68px;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                }

                .border-line {
                    margin: 0 auto;
                    padding: 0;
                    width: 30px;
                    background-color: #fdb413;
                    height: 6px;
                }
            }
        }


        .video-listing{

            .row {
                margin: 0 -7px;
                .pad-7 {
                    padding: 0 7px !important; 
                }
            }
            .video-box{
                height: 222px;
                position: relative;
                display: block;
                width: 100%;
                margin-bottom: 15px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 1s cubic-bezier(0.475, 0.425, 0, 0.995);
                }

                &:hover {
                    img {
                        transform: scale(1.3) rotate(0deg);
                    }
                }
            

                .video-content{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    padding: 15px;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-end;
                    flex-direction: column;
                    background: linear-gradient(90deg, rgba(0,0,0, 0.5) 0%, rgba(255,255,255, 0.5) 100%);

                    h2 {
                        font-size: 24px;
                        line-height: 25px;
                        color: #ffffff;
                        margin: 5px 0;
                        position: relative;
                        z-index: 2;
                    }

                    p {
                        font-size: 16px;
                        line-height: 22px;
                        color: #ffffff;
                        margin: 0;
                        position: relative;
                        z-index: 2;
                    }
                }
            }
        }
    }

  
}


@media (max-width: 767px)  {


    .workout-meddile-section {
        .workout-bg{
                padding: 0 0;
                .workout-content{
                    padding: 250px 0 80px;
                .workout-caption{
                    h3 {
                        font-size: 30px;
                        line-height: 36px;
                    }
                    h1 {
                        font-size: 40px;
                        line-height: 50px;
                    }
                }

                .video-conatainer{
                    min-height: unset;

                    .counter-div {

                        .counter-headig{
                            position: relative;
                            top: -10px;
                            padding: 0 50px;
                            p {
                                text-align: center;
                                font-size: 14px;
                                line-height: 22px;
                                color: #ffffff;
                            }
                        }
                   
                        .counter {
                            li {
                                height: 60px;
                                width: 60px;
                                span {
                                    font-size: 16px;
                                    line-height: 26px;
                                }
                                .counter-text{
                                    font-size: 10px;
                                    line-height: 14px;
                                }
                            }
                        }
                    }
                }


            }

            
        }
        
        .archive-video-section{
            .archive-video-div{
                .archive-vedio-header{
                    h3 {
                        font-size: 30px;
                        line-height: 40px;
                        margin: 0;
                    }
    
                    h2 {
                        font-size: 40px;
                        line-height: 46px;
                        letter-spacing: 0.5px;
                        margin: 0 0 10px 0;
                    }
                }
            }
        }

    }


  

   
}


@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {

    

    .workout-meddile-section {
        .workout-bg{
            padding: 0 0;
            .workout-content{
                padding: 250px 0 80px;
            .workout-caption{
                h3 {
                   
                }

                h1 {
                   
                    margin-top: 0 !important;
                }
            }
            .video-conatainer{
                min-height: unset;
            }
        }
    }
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    
    .workout-meddile-section .workout-bg .workout-content {
        padding: 290px 0 60px 0;
    }
}


@media (min-width: 1440px) and (max-width: 1920px) {

    .workout-meddile-section .workout-bg .workout-content {
        padding-bottom: 60px;
    }
}